/* FULL MODAL */
.white-tab-container > div:first-child,
.black-tab-container > div:first-child {
	transform: translateY(-99%);
}

/* RADIO BUTTONS */
.radio-outer-square {
	width: 30px;
	height: 30px;
	border-radius: 8px;
}

.radio-outer-square.active .radio-inner-square {
	width: 16px;
	height: 16px;
	margin: 6px;
}

.applicant-name {
	font-size: 36px;
	font-family: "Source Code Pro", monospace;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--green);
}

/* APPLICANT INFO SECTIONS */
/* NAME */
.application-name {
	color: var(--green);
	font-size: inherit;
	font-weight: bold;

	margin-top: 0;
	margin-bottom: 48px;

	width: 100%;
	text-align: center;
}

.applicant-name-underline {
	margin-top: 4px;
	margin-bottom: 32px;

	border-bottom: 2px solid var(--black);
	width: 15%;
}

.application-section h1,
.application-section p {
	font-weight: bold;
	text-transform: uppercase;
}

.application-content {
	padding-top: 48px;
}

.application-content > p,
.content-block {
	margin: 4px 0px 16px;
}

/* Get rid of extra space at bottom of application content */
.black-tab-container:last-child::after,
.white-tab-container:last-child::after {
	display: none;
}

p {
	margin-bottom: 0px;
}

.application-section span {
	font-weight: normal;
	text-transform: none;
	padding: 0 0px;
}

/* STATUS CONTROLS */
.status-controls {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 92px;
}

@media (max-width: 768px) {
	.applicant-name-underline {
		width: 40%;
	}

	.applicant-contact span[name="phone"] {
		margin-right: 0px;
	}

	.applicant-contact span.fa {
		margin: 0 5px;
	}

	.application-section .section-header {
		font-size: 20px;
	}

	.application-section i {
		width: 32px;
	}

	.application-section p {
		padding: 0px 10px;
	}
}

@media (max-width: 506px) {
	.status-controls {
		display: block;
	}
}
