.applicant-name {
  text-align: center;
}

.applicant-contact {
  text-align: center;
  font-weight: bold;
}

.applicant-contact span[name='phone'] {
  margin-right: 30px;
}

.applicant-contact span.fa {
  margin: 0 10px;
}

.application-section {
  margin: 30px 0 0;
}

.application-section fieldset {
  padding-bottom: 20px;
}

.application-section p {
  font-weight: bold;
  text-transform: uppercase;
}

.application-section span {
  font-weight: normal;
  text-transform: none;
  padding: 0 10px;
}

.hackathon-information span {
  padding: 0;
}
