.modal-content {
	background-color: #FBF3F0;
}
.applicant-name {
	text-align: center;
	text-transform: uppercase;
}

.applicant-contact {
	text-align: center;
	text-transform: uppercase;
}

.applicant-contact span[name="phone"] {
	margin-right: 30px;
}

.applicant-contact span.fa {
	margin: 0 10px;
}

.application-section {
	margin: 30px 0 0;
}


.application-section p {
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 50px;
}

.application-section span {
	font-weight: normal;
	text-transform: none;
	padding: 0 10px;
	color: #40698F;
}

.hackathon-information span {
	padding: 0;
}

.hackathon-information legend {
	padding-left: 50px;
}

.misc legend {
	padding-left: 50px;
}

/* STATUS CONTROLS */
.status-controls {
	padding: 30px 0 15px;
}

i {
	padding-left: 20px;
	padding-right: 5px;
}