.modal-content {
	padding: 25px 0px;
	width: 60%;
}

@media (max-width: 675px) {
	.modal-content {
		width: 90%;
	}
}

.picture {
	width: 200px;
	height: 200px;
}

.modal-content p {
	font-weight: bold;
	margin-bottom: 10px;
}

.modal-content span {
	font-weight: normal;
	padding-left: 10px;
}

span[name="description"] {
	padding-left: 0;
}
