<div id="myModal" class="modal ideahacks-form">
    <div class="modal-content container-fluid">
        <!-- NAME -->
        <h2 class='ucla-blue applicant-name'><span name='firstName'></span> <span name='lastName'></span></h2>

        <!-- CONTACT INFO -->
        <p class='applicant-contact'>
            <div class="contact-wrapper">
                <div class="contact-item-wrapper"><span class='fa fa-envelope-o'></span><span name='email'></span></div>
                <div class="contact-item-wrapper"><span class='fa fa-mobile'></span><span name='phone'></span></div>
            </div>
        </p>

        <!-- STATUS CONTROLS -->
        <div class='status-controls text-center'>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Pending</label>
            </div>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Accepted</label>
            </div>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Waitlisted</label>
            </div>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Rejected</label>
            </div>
        </div>
        <!-- REAL AND HIDDEN RADIO BUTTONS -->
        <div class='row' style='display: none;'>
            <div class='col-md-12'>
                <input type='radio' name='application-status-radio' value='rejected' />
                <input type='radio' name='application-status-radio' value='pending' />
                <input type='radio' name='application-status-radio' value='accepted' />
                <input type='radio' name='application-status-radio' value='waitlisted' />
            </div>
        </div>

        <!-- EDUCATIONAL INFORMATION -->
        <div class='application-section'>
            <div class="section-header clearfix">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                <h2>Education Information</h2>
            </div>
            <fieldset>
                <p class='col-sm-12'>School: <span name='school'></span></p>
                <p class='col-sm-5'>Major: <span name='major'></span></p>
                <p class='col-sm-5'>Year: <span name='year'></span></p>
                <p class='col-sm-5'>Github: <a name='github-anchor' href='' target='_blank'><span name='github'></span></a></p>
                <p class='col-sm-6'>LinkedIn: <a name='linkedin-anchor' href='' target='_blank'><span name='linkedin'></span></a></p>
            </fieldset>
        </div>

        <!-- TEAM INFORMATION -->
        <div class='application-section'>
            <div class="section-header clearfix">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h2>Team Information</h2>
            </div>
            <fieldset>
                <p>Has a team? <span name='hasTeam'></span></p>
                {{!-- <p>Teammate Names:</p>
                <p><span name='teammates_names' class='ucla-gold' style='padding: 0;'></span></p> --}}
                <p>Teammate Emails:</p>
                <p><span name='teammates' class='ucla-gold' style='padding: 0;'></span></p>
            </fieldset>
        </div>

        <!-- HACKATHON INFORMATION -->
        <div class='application-section hackathon-information'>
            <div class="section-header clearfix">
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                <h2>Short Answer Questions</h2>
            </div>
            <fieldset>
                <p>Skills and Experiences:</p>
                <p><span name='skillsAndExperience'></span></p>

                <p>Past Hackathon Experience:</p>
                <p><span name='pastHackathonExperience'></span></p>

                <p>Why They Want to Participate in Idea Hacks:</p>
                <p><span name='reasonForParticipation'></span></p>

                <p>Their Idea to Hack on:</p>
                <p><span name='themeIdea'></span></p>

                {{!-- <p>What Parts They Want to See:</p>
                <p><span name='desiredParts'></span></p> --}}
            </fieldset>
        </div>

        <!-- MISCELLANEOUS INFORMATION -->
        <div class='application-section misc'>
            <div class="section-header clearfix">
                <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                <h2>Miscellaneous</h2>
            </div>
            <fieldset>
                {{!-- <p>Dietary Restrictions:</p>
                <p><span name='foodRestrictions' style='padding: 0;'></span></p> --}}

                <p>Shirt Size:</p>
                <p><span name='shirtSize' style='padding: 0;'></span></p>

                <p>Kit Preference #1:</p>
                <p><span name='kitPreferenceOne'></span></p>

                <p>Kit Preference #2:</p>
                <p><span name='kitPreferenceTwo'></span></p>

                <p>Kit Preference #3:</p>
                <p><span name='kitPreferenceThree'></span></p>

                <p>Shipping Address:</p>
                <p><span name='shippingAddress'></span></p>
            </fieldset>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' type='text/css' href='/css/form.css' />
<link rel='stylesheet' type='text/css' href='/css/radio.css' />
<link rel='stylesheet' type='text/css' href='/css/modals/application-review-modal.css' />
<script src='/js/radio.js'></script>
