<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p name='firstName'></p>
        <p name='lastName'></p>
        <p name='phone'></p>
        <p name='school'></p>
        <p name='major'></p>
        <p name='year'></p>
        <p name='github'></p>
        <p name='linkedin'></p>
    </div>
</div>
