<div id="myModal" class="modal ideahacks-form">
    <div class="modal-content container-fluid">
        <!-- NAME -->
        <h2 class='ucla-blue applicant-name'><span name='firstName'></span> <span name='lastName'></span></h2>

        <!-- STATUS CONTROLS -->
        <div class='application-section status-controls text-center'>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Pending</label>
            </div>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Accepted</label>
            </div>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Waitlisted</label>
            </div>
            <div class='radio-button-group'>
                <div class='radio-outer-square'>
                    <div class='radio-inner-square'></div>
                </div><label>Rejected</label>
            </div>
        </div>

        <!-- REAL AND HIDDEN RADIO BUTTONS -->
        <div class='row' style='display: none;'>
            <div class='col-md-12'>
                <input type='radio' name='application-status-radio' value='rejected' />
                <input type='radio' name='application-status-radio' value='pending' />
                <input type='radio' name='application-status-radio' value='accepted' />
                <input type='radio' name='application-status-radio' value='waitlisted' />
            </div>
        </div>

        <!-- CONTACT INFO (PERSONAL) -->
        <div class='black-tab-container application-section applicant-contact'>
            <div class="section-header clearfix">
                {{!-- <i class="fa fa-graduation-cap" aria-hidden="true"></i> --}}
                <div>
                    <h1>PERSONAL</h1>
                </div>
            </div>
            <div class="contact-wrapper">
                <p class="contact-item-wrapper">EMAIL: <span name='email'></span></p>
                <p class="contact-item-wrapper">PHONE NUMBER: <span name='phone'></span></p>
            </div>
        </div>

        <!-- EDUCATIONAL INFORMATION -->
        <div class='white-tab-container application-section'>
            <div class="section-header clearfix">
                {{!-- <i class="fa fa-graduation-cap" aria-hidden="true"></i> --}}
                <div>
                    <h1>EDUCATION</h1>
                </div>
            </div>
            <div>
                <fieldset>
                    <p class='col-sm-12'>School: <span name='school'></span></p>
                    <p class='col-sm-5'>Major: <span name='major'></span></p>
                    <p class='col-sm-5'>Year: <span name='year'></span></p>
                    <p class='col-sm-5'>Github: <a name='github-anchor' href='' target='_blank'><span name='github'></span></a></p>
                    <p class='col-sm-6'>LinkedIn: <a name='linkedin-anchor' href='' target='_blank'><span name='linkedin'></span></a></p>
                </fieldset>
            </div>
        </div>

        <!-- TEAM INFORMATION -->
        <div class='black-tab-container application-section'>
            <div class="section-header clearfix">
                {{!-- <i class="fa fa-users" aria-hidden="true"></i> --}}
                <div>
                    <h1>TEAM INFORMATION</h1>
                </div>
            </div>
            <fieldset>
                <p>Has a team? <span name='hasTeam'></span></p>
                {{!-- <p>Teammate Names:</p>
                <p><span name='teammates_names' class='ucla-gold' style='padding: 0;'></span></p> --}}
                <p>Teammate Emails:<span name='teammates' class='ucla-gold' style='padding: 0;'></span></p>
            </fieldset>
        </div>

        <!-- HACKATHON INFORMATION (SHORT ANSWER) -->
        <div class='white-tab-container application-section hackathon-information'>
            <div class="section-header clearfix">
                {{!-- <i class="fa fa-question-circle-o" aria-hidden="true"></i> --}}
                <div>
                    <h1>SHORT ANSWER</h1>
                </div>
            </div>
            <fieldset>
                <p>Skills and Experiences:</p>
                <p><span name='skillsAndExperience'></span></p>

                <p>Past Hackathon Experience:</p>
                <p><span name='pastHackathonExperience'></span></p>

                <p>Why They Want to Participate in Idea Hacks:</p>
                <p><span name='reasonForParticipation'></span></p>

                <p>Their Idea to Hack on:</p>
                <p><span name='themeIdea'></span></p>
            </fieldset>
        </div>

        <!-- MISCELLANEOUS INFORMATION -->
        <div class='black-tab-container application-section misc'>
            <div class="section-header clearfix">
                {{!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> --}}
                <div>
                    <h1>MISCELLANEOUS</h1>
                </div>
            </div>
            <fieldset>
                <p>Shirt Size:</p>
                <p><span name='shirtSize' style='padding: 0;'></span></p>

                <p>Box Preference #1:</p>
                <p><span name='boxPreferenceOne'></span></p>

                <p>Box Preference #2:</p>
                <p><span name='boxPreferenceTwo'></span></p>

                <p>Box Preference #3:</p>
                <p><span name='boxPreferenceThree'></span></p>

                <p>Receiving Team Box:</p>
                <p><span name='getsTeamBox'></span></p>

                <p>Can Pick Up Box:</p>
                <p><span name='canPickUpBox'></span></p>

                <p>Shipping Address:</p>
                <p><span name='shippingAddress'></span></p>
            </fieldset>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' type='text/css' href='/css/form.css' />
<link rel='stylesheet' type='text/css' href='/css/radio.css' />
<link rel='stylesheet' type='text/css' href='/css/modals/application-review-modal.css' />
<script src='/js/radio.js'></script>
