<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1 style='text-align: center;'><span name='firstName'></span> <span name='lastName'></span></h1>

        <p style='text-align: center;'>
          <span name='phone'></span>
          <span name='email'></span>
        </p>

        <h1>Educational Information</h1>
        <p>School: <span name='school'></span></p>
        <p>Major: <span name='major'></span></p>
        <p>Year: <span name='year'></span></p>
        <p>Github: <span name='github'></span></p>
        <p>LinkedIn: <span name='linkedin'></span></p>

        <h1>Hackathon Information</h1>
        <p>Skills and Experiences:</p>
        <p><span name='skillsAndExperience'></span></p>

        <p>Past Hackathon Experience:</p>
        <p><span name='pastHackathonExperience'></span></p>

        <p>Reason for Participation:</p>
        <p><span name='reasonForParticipation'></span></p>

        <p>Theme Idea:</p>
        <p><span name='themeIdea'></span></p>

        <p>Desired Parts:</p>
        <p><span name='desiredParts'></span></p>

        <div class='row'>
            <div class='col-md-3'>
                <input type='radio' name='application-status-radio' value='rejected' /> Rejected <br />
            </div>
            <div class='col-md-3'>
                <input type='radio' name='application-status-radio' value='waitlisted' /> Waitlisted <br />
            </div>
            <div class='col-md-3'>
                <input type='radio' name='application-status-radio' value='pending' /> Pending <br />
            </div>
            <div class='col-md-3'>
                <input type='radio' name='application-status-radio' value='accepted'/> Accepted <br />
            </div>
        </div>
    </div>
</div>
