<div id="partsModal" class="modal parts-form">
    <div class="container-fluid modal-content">
        <div class='col-sm-4'>
            <img class='picture' src='{{this.image}}' />
        </div>
        <div class='text-left col-sm-8'>
            <p>PART:<span name="partName"></span></p>
            <p>DESCRIPTION: <span name="description"></span></p>
            <p>DATASHEET: <span name="datasheet"></span></p>
            <p>TYPE:<span name="type"></span></p>
            <p>CATEGORY:<span name='category'></span></p>
        </div>
    </div>
</div>

<link rel='stylesheet' type='text/css' href='/css/modal.css' />
<link rel='stylesheet' type='text/css' href='/css/modals/dashboard-parts-modal.css'
