<div class='filter-container'>
    <label class='filter-label'>Filter:</label><input type="text" class="filter" onfocus="this.placeholder = ''" onkeyup="filter()">
</div>
<link rel='stylesheet' type='text/css' href='/css/filter.css' />
<script src='/js/filter.js'></script>
