<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/css/footer.css' />

<div class='myFooter container-fluid'>
    <div class='col-md-6 fb'>
        <img id='fb' src="/img/facebook.png">
    </div>
    <div class='col-md-6 email'>
        <img id='mail' src="/img/facebook.png">
    </div>
</div>
