<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/css/footer.css' />

<div class='myFooter container-fluid'>
    <a href='https://www.facebook.com/ideahacks.la/?fref=mentions&__xts__[0]=68.ARAAgTMAZ2_QSZ92MUv70wZOXTYrq7JNCYp2KDo9G_xIJm1waShx8XCBA5N6ctUDqo0rLL8wA1jsXqruGi7wX3RaNvgkWs4igLm0f2W_2-tX0D9jp11Pllq7REjEYwKHpVV788nRzDjX_4QPMbxuJpafpxu5MC1Cm18w4P6Uh1aWofLaBk-2nA&__tn__=K-R'>
    <img id='fb' src="/img/facebook.png">
  </a>
    <a href='mailto:team@ideahacks.la'>
    <img id='mail' src="/img/email-icon.png">
  </a>
    <a href='https://www.instagram.com/idea_hacks/'>
    <img id='insta' src="/img/instagram.png">
  </a>
</div>
