<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel='stylesheet' type='text/css' href='/css/footer.css' />

<div class='myFooter'>
    <div>
        <a href='/privacy'>
            Privacy Policy
        </a>
    </div>

    <div class='contact'>
        <a href='https://www.facebook.com/ideahacks.la/' target='_blank'>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href='mailto:team@ideahacks.la' target='_blank'>
            <i class="fa fa-envelope-square" aria-hidden="true"></i>
        </a>
        <a href='https://www.instagram.com/idea_hacks/' target='_blank'>
            <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
    </div>
</div>
