<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/css/navbar.css' />
<script src='/js/navbar.js'></script>

<div class='myNavbar'>
    <div class='logo-container'>
        <a href='{{#if onAdmin}}/admin{{/if}}{{#if onDashboard}}/{{/if}}{{#if onMain}}/{{/if}}'><img src='/img/navbar-icon.png' width='200px' style='display: inline-block;' /></a>
    </div>

    <div class="navbar-icon" onclick="animateNavbar(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <ul class='navbar-list' id='navbar-list'>
        {{#if onAdmin}}
        <li class='dashboard'><a href='/admin/application-review'>Application Review</a></li>
        <li><a href='/admin'>Mailing Lists</a></li>
        <div class='dropdown'>
            <li><a href='/admin/parts'>Parts</a></li>
            <div class='dropdown-content'>
                <li><a href='/admin/teams'>Teams</a></li>
                <li><a href='/admin/create'>Create</a></li>
            </div>
        </div>
        <a href='/dashboard'>
                <button class='main-button'>MY DASHBOARD</button>
            </a> {{/if}} {{#if onDashboard}}

        <!-- APPS ARE CLOSED -->
        <!-- <li class='dashboard'><a href='/dashboard/application'>Application</a></li> -->

        <!-- TEAMS -->
        <li class='dashboard'><a href='/dashboard/teams'>Teams</a></li>

        <!-- PARTS LIST -->
        <li class='dashboard'><a href='/dashboard/parts'>Parts List</a></li>

        <li class='dashboard me'><a href='/dashboard/me'>Me</a></li>
        {{#if user.isAdmin}}
        <a href='/admin'>
                    <button class='admin-button'>ADMIN</button>
                </a> {{/if}} {{/if}} {{#if onMain}}
        <div class='dropdown'>
            <li><a href='/#about'>About</a></li>
            <div class='dropdown-content'>
                <li><a href='/team'>Team</a></li>
                <li><a href='/history'>History</a></li>
            </div>
        </div>
        <li><a href='/#schedule'>Schedule</a></li>
        <li><a href='/#faq'>FAQ</a></li>
        <li><a href='/#sponsors'>Sponsors</a></li>
        <li id='login'><a href="/login"><button>LOGIN</button></a></li>
        {{/if}}
    </ul>
    <ul class='mobile-navbar-list' id='mobile-navbar-list'>
        {{#if onAdmin}}
        <li><a href='/admin/application-review'>Application Review</a></li>
        <li><a href='/admin'>Mailing Lists</a></li>
        <li><a href='/dashboard'>My Dashboard</a></li>
        <!-- <li><a href='/admin/teams'>Teams</a></li>
        <li><a href='/admin/parts'>Parts</a></li> -->
        {{/if}} {{#if onDashboard}}

        <!-- APPS ARE CLOSED -->
        <!-- <li><a href='/dashboard/application'>Application</a></li> -->

        <!-- TEAMS -->
        <li><a href='/dashboard/teams'>Teams</a></li>

        <!-- PARTS LIST -->
        <li><a href='/dashboard/parts'>Parts List</a></li>

        <li><a href='/dashboard/me'>Me</a></li>
        {{#if user.isAdmin}}
        <li><a href='/admin'>ADMIN</a></li>
        {{/if}} {{/if}} {{#if onMain}}
        <div class='responsive-dropdown'>
            <li><a href='/#about'>About</a><span class='glyphicon glyphicon-chevron-down' id="dropdown-arrow" onclick="toggleResponsiveActive()"></span></li>
            <div class='responsive-dropdown-content' id='responsive-content'>
                <li><a href='/team'>Team</a></li>
                <li><a href='/history'>History</a></li>
            </div>
        </div>
        <li><a href='/#schedule'>Schedule</a></li>
        <li><a href='/#faq'>FAQ</a></li>
        <li><a href='/#sponsors'>Sponsors</a></li>
        <li><a href="/login">LOGIN</a></li>
        {{/if}}
    </ul>
</div>
