<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet"> {{#if onMain}}
<link rel='stylesheet' type='text/css' href='/css/navbar.css' /> {{/if}}
<script src='/js/navbar.js'></script>

<div class='myNavbar'>
    <div class='logo-container'>
        <a href='{{#if onAdmin}}/admin{{/if}}{{#if onDashboard}}/dashboard{{/if}}{{#if onMainOrTeam}}/showcase{{/if}}'><img src='/img/navbar-icon.png' width='200px' style='display: inline-block;'/></a>
    </div>
    <ul class='navbar-list' id='navbar-list'>
        {{#if onAdmin}}
        <li><a href='/admin/announcements'>Announcements</a></li>
        <li><a href='/admin/application-review'>Application Review</a></li>
        <li><a href='/admin/teams'>Teams</a></li>
        <li><a href='/admin/parts'>Parts</a></li>
        {{/if}} {{#if onDashboard}}
        <li><a href='/dashboard'>Announcements</a></li>
        <!-- <li><a href='/dashboard/application'>Application</a></li> -->
        <li><a href='/dashboard/parts'>Parts List</a></li>
        <li><a href='/dashboard/me'>Me</a></li>
        {{/if}} {{#if onMainOrTeam}}
        <li><a href='/#about'>About</a></li>
        <li><a href='/team'>Team</a></li>
        <li><a href='/#schedule'>Schedule</a></li>
        <li><a href='/#faq'>FAQ</a></li>
        <li><a href='/#sponsors'>Sponsors</a></li>
        <li><a href="/login"><button>LOGIN</button></a></li>
        {{/if}}
    </ul>

</div>
