<link rel='stylesheet' type='text/css' href='/css/navbar.css' />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">
<div class="navbar">
    {{#if onAdmin}}
        <a id="header" href='/admin'>IDEA Hacks {{#if onAdmin}}| ADMIN{{/if}}</a>
        <a href="/admin/announcements">Announcements</a>
        <a href="/admin/application-review">Application Review</a>
        <a href="/admin/teams">Teams</a>
        <a href="/admin/parts">Parts</a>
    {{/if}}

    {{#if onDashboard}}
        <a href='/dashboard'><img src='/img/navbar-icon.svg' width='300px' style='display: inline-block;' /></a>
        <a id="header" href='/dashboard'>IDEA Hacks</a>
        <a href="/dashboard">Announcements</a>
        <a href="/dashboard/application">Application</a>
    {{/if}}
</div>
