<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
<link rel='stylesheet' type='text/css' href='/css/navbar.css' />
<script src='/js/navbar.js'></script>

<div class='myNavbar'>
    <div class='logo-container'>
        <a href='/'><img src='/img/navbar-icon.png' width='170px' style='display: inline-block;' /></a>
    </div>

    <div class="navbar-icon" onclick="animateNavbar(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>

    <!-- DESKTOP -->
    <ul class='navbar-list' id='navbar-list'>
        {{#if onAdmin}}

            <!-- APPLICATION REVIEW -->
            <li><a href='/admin/application-review'>Application Review</a></li>

            <!-- MAILING LISTS -->
            <li><a href='/admin'>Mailing Lists</a></li>

            <!-- CREATE PARTS -->
            <li><a href='/admin/create'>Create Parts</a></li>

            <!-- DASHBOARD -->
            <li><a href='/dashboard'><button>Me</button></a></li>

        {{/if}} {{#if onDashboard}}

            <!-- APPLICATION -->
            <li><a href='/dashboard/application'>Application</a></li>

            <!-- BOXES -->
            <li><a href='/boxes'>Boxes</a></li>

            <!-- RESOURCES -->
            <li><a href="/dashboard/resources">Resources</a></li>

            <!-- DASHBOARD -->
            <li><a href='/dashboard/me'><button>Me</button></a></li>

        {{/if}} {{#if onMain}}

            <!-- ABOUT -->
            <div class='dropdown'>
                <li><a href='/#about'>About</a></li>
                <div class='dropdown-content'>
                    <li><a href='/team'>Team</a></li>
                    <li><a href='/history'>History</a></li>
                </div>
            </div>

            <!-- SCHEDULE -->
            <li><a href='/#schedule'>Schedule</a></li>

            <!-- FAQ -->
            <li><a href='/#faq'>FAQ</a></li>

            <!-- SPONSORS -->
            <li><a href='/#sponsors'>Sponsors</a></li>

            <!-- BOXES -->
            <li><a href='/boxes'>Boxes</a></li>

            {{#if authenticated}}

                <!-- DASHBOARD -->
                <li><a href='/dashboard/me'><button>Me</button></a></li>

            {{else}}

                <!-- LOGIN -->
                <li><a href="/login"><button>Log In</button></a></li>

            {{/if}}

        {{/if}}
    </ul>

    <!-- MOBILE -->
    <ul class='mobile-navbar-list' id='mobile-navbar-list'>
        {{#if onAdmin}}

            <!-- APPLICATION REVIEW -->
            <li><a href='/admin/application-review'>Application Review</a></li>

            <!-- MAILING LISTS -->
            <li><a href='/admin'>Mailing Lists</a></li>

            <!-- CREATE PARTS -->
            <li><a href='/admin/create'>Create Parts</a></li>

            <!-- DASHBOARD -->
            <li><a href='/dashboard'>Me</a></li>

        {{/if}} {{#if onDashboard}}

            <!-- APPLICATIONS -->
            <li><a href='/dashboard/application'>Application</a></li>

            <!-- BOXES -->
            <li><a href='/boxes'>Boxes</a></li>

            <!-- RESOURCES -->
            <li><a href="/dashboard/resources">Resources</a></li>

            <!-- DASHBOARD -->
            <li><a href='/dashboard/me'>Me</a></li>

        {{/if}} {{#if onMain}}

            <!-- ABOUT -->
            <div class='responsive-dropdown'>
                <li><a href='/#about'>About</a><span class='glyphicon glyphicon-chevron-down' id="dropdown-arrow" onclick="toggleResponsiveActive()"></span></li>
                <div class='responsive-dropdown-content' id='responsive-content'>
                    <li><a href='/team'>Team</a></li>
                    <li><a href='/history'>History</a></li>
                </div>
            </div>

            <!-- SCHEDULE -->
            <li><a href='/#schedule'>Schedule</a></li>

            <!-- FAQ -->
            <li><a href='/#faq'>FAQ</a></li>

            <!-- SPONSORS -->
            <li><a href='/#sponsors'>Sponsors</a></li>

            <!-- BOXES -->
            <li><a href='/boxes'>Boxes</a></li>

            {{#if authenticated}}

                <!-- DASHBOARD -->
                <li><a href='/dashboard/me'><button>Me</button></a></li>

            {{else}}

                <!-- LOGIN -->
                <li><a href="/login"><button>Log In</button></a></li>

            {{/if}}

        {{/if}}
    </ul>
</div>
