<link rel='stylesheet' type='text/css' href='/css/navbar.css' />
<div class="navbar">
    {{#if onAdmin}}
        <a id="header" href='/admin'>IDEA Hacks {{#if onAdmin}}| ADMIN{{/if}}</a>
        <a href="/admin/announcements">Announcements</a>
        <a href="/admin/application-review">Application Review</a>
        <a href="/admin/teams">Teams</a>
        <a href="/admin/parts">Parts</a>
    {{/if}}

    {{#if onDashboard}}
        <a id="header" href='/dashboard'>IDEA Hacks</a>
        <a href="/dashboard">Announcements</a>
        <a href="/dashboard/application">Application</a>
    {{/if}}
</div>
