<link rel='stylesheet' type='text/css' href='/css/navbar.css' />
<div class="navbar">
    <a id="header" href='/admin'>IDEA Hacks {{#if onAdmin}}| ADMIN{{/if}}</a>
    {{#if onAdmin}}
    <a href="/admin/application-review">Application</a>
    <a href="/admin/announcements">Announcement</a>
    <a href="/admin/parts">Parts</a>
    <a href="/admin/teams">Teams</a>
    {{/if}}
</div>
