<div id="myModal" class="modal">
    <div class="modal-content container-fluid">
        <!-- HEADER -->
        <h2 class='ucla-blue text-center'><span name="partName"></span></h2>
        <h3 class='text-center'>Currently <span name="current-stock"></span> in stock</h3>

        <!-- PARTS CHECKOUT FORM -->
        <form class='parts-checkout-form container-fluid'>

            <!-- RETURNING OR CHECKOUT -->
            <div class='controls'>
                <label>Returning or Checking Out:</label>
                <div class='radio-button-group text-center'>
                    <div class='radio-outer-square'><div class='radio-inner-square'></div></div><label>Returning</label>
                </div>
                <div class='radio-button-group text-center'>
                    <div class='radio-outer-square'><div class='radio-inner-square'></div></div><label>Check Out</label>
                </div>
            </div>
            <!-- REAL AND HIDDEN RADIO BUTTONS -->
            <div class='row' style='display: none;'>
                <div class='col-md-12'>
                    <input type='radio' name='part-checkout-radio' value='returning' />
                    <input type='radio' name='part-checkout-radio' value='check-out' />
                </div>
            </div>

            <!-- QUANTITY AND TEAM NUMBER -->
            <div class='row'>
                <div class='col-md-6'>
                    <label>Quantity:</label>
                    <input name='quantity' type='number' value='1' min='0' required />
                </div>
                <div class='col-md-6'>
                    <label>Team Number:</label>
                    <input name='teamNumber' type='number' required />
                </div>
            </div>

            <!-- SUBMIT -->
            <div class='button-wrapper text-center'>
                <button type='submit' class='text-center'>Submit</button>
            </div>

            <!-- ERROR MESSAGE -->
            <p class='parts-checkout-error-message ucla-gold text-center'></p>
        </form>
    </div>
</div>
<link rel='stylesheet' type='text/css' href='/css/form.css' />
<link rel='stylesheet' type='text/css' href='/css/modal.css' />
<link rel='stylesheet' type='text/css' href='/css/radio.css' />
<link rel='stylesheet' type='text/css' href='/css/modals/parts-checkout-modal.css' />
<script src='/js/radio.js'></script>
