<div class='modal' id='team-creation-modal'>
    <div class='modal-content container-fluid'>

        <h2 class='ucla-blue text-center'>Add a Team</h2>
        <h1 class="error-message"></h1>
        <h1 class='user-typing-message'></h1>
        <form>
            <p>Team Name</p>
            <input class="team-name" type="text" name="teamName">
            <p>Team Number</p>
            <input class="team-number" type="number" name="teamNumber">
            <p>Team Member Emails</p>
            <input class="member-email" type="text" name="email1"><br>
            <input class="member-email" type="text" name="email2"><br>
            <input class="member-email" type="text" name="email3"><br>
            <input class="member-email" type="text" name="email4"><br>
            <input class='member-email' type='text' name='email5' /><br /><br/>
            <button type="submit" value="Submit">Submit</button>
        </form>

    </div>
</div>
<link rel='stylesheet' type='text/css' href='/css/modal.css' />
