<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- FONT AWESOME -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/admin.css' />

    <!-- SCRIPTS -->
    <script src='/js/admin.js'></script>
</head>
<body class='background-red'>
    <div class="wrapper">
        <!-- NAVBAR -->
        {{> navbar }}

        <!-- BACK TO MAIN WEBSITE -->
        <div class='container-fluid text-right' style="margin-top: 80px;">
            <a href='/dashboard'>
                <button>Back to main website</button>
            </a>
        </div>

        <!-- HEADER -->
        <h1 class='transparent-ucla-blue text-center'>Admin</h1>

        <!-- MAILING LIST -->
        <div class='mailing-wrapper'>
            <h2 class='ucla-blue text-center'>Mailing Lists</h2>
            <ul class='container mailing-list'>
                {{#each mailingLists }}
                <li class='row'>
                    <h3 class='email-list-name text-center'>{{ this.name }} <span class='glyphicon glyphicon-menu-down'></span></h3>
                    <p class='email-list'>{{ this.list }}</p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>
