<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - Announcements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/application-review-modal.css' />

    <!-- SCRIPTS -->
    <script src='/js/application-review-modal.js'></script>
</head>
<body>
    {{> adminNavbar }}
    <div class='banner'>
      <h1>Application Review</h1>
    </div>

    <ul class='application-list'>
        {{#each applications}}
            <li class='{{ this.email }}'>
                <h1>{{ this.firstName }} {{ this.lastName }}</h1>
            </li>
        {{/each}}
    </ul>

    {{> applicationModal }}
</body>
</html>
