<!DOCTYPE HTML>
<html>
<head>
    <title>Create Parts - Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/create-parts.css' />

    <!-- SCRIPTS -->
    <script src="/js/admin-create-parts.js"></script>
</head>
<body>

    <div class='wrapper'>

        <!-- NAVBAR -->
        {{> navbar }}

        <div class='banner'>
            <h1>CREATE A PART</h1>
            <p>Hello, you can add new parts to inventory here!</p>
        </div>

        <div class='form text-center'>
            <form class='create-parts-form'>
                <label>PartName:</label><br />
                <input type="text" name="part-name"> <br />

                <label>Link to image:</label><br />
                <input type="text" name="part-image"> <br />

                <label>Description:</label><br />
                <textarea type="text" rows='4' name="part-description"></textarea> <br />

                <label>Stock:</label><br />
                <input type="text" name="part-stock"> <br />

                <label>Datasheet:</label><br />
                <input type="text" name="part-datasheet"> <br />

                <label>Type (Returnable/Consumable):</label><br />
                <input type="text" name="part-type"> <br />

                <label>Is it Consumable? (True/False)</label><br />
                <input type="text" name="part-consumable"> <br/>

                <label>Category:</label><br />
                <input type="text" name="part-category"> <br />

                <label>Barcode (scan below):</label><br />
                <input type="text" name="part-barcode"><br />
                <button class='submit-button'>Create</button>
            </form>
        </div>

    </div>

</body>
