<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - Announcements</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/announcements.css' />

    <!-- SCRIPTS -->
    <script src='/js/admin-announcements.js'></script>
</head>

<body>
    <!-- NAVBAR -->
    {{> navbar }}

    <div class='banner'>
      <h1>Announcements</h1>
    </div>
    <h1 class="error-message"></h1>
    <h1 class='user-typing-message'></h1>
    <form class='announcement-form'>
        <p>Header</p>
        <input type='text' name='announcement-header' required>
        <p>Body</p>
        <textarea rows='4' name='announcement-body' required></textarea>

        <button type='submit'>Submit Announcement</button>
    </form>

    <ul class='announcements-list'>
        {{#each announcements}}
            <li>
                <h1>{{ this.header }}</h1>
                <p>{{ this.body  }}</p>
                <p>{{ this.category }}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>
