<!DOCTYPE HTML>
<html>
<head>
	<title>Parts - Admin</title>
        

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/admin-parts.js"></script>

</head>
<body>
	
	<form>
		<p>Part name</p>
		<br>
		<input class="part-name" type = "text" name="PartName">
		<br>
		<p>Stock</p>
		<br>
		<input class="stock" type="text" name="Stock">
		<br>
		<p>Description</p>
		<br>
		<input class="description" type="text" name="Description">
		<br>
		<input type="submit" value="Submit">
	</form>


    {{#each parts}}
		<h1>{{ this.partName }} </h1>
		<p> {{ this.stock }} </p>
	{{/each}}




</body>
</html>
