<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - Announcements</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/announcements.css' />

    <!-- SCRIPTS -->
    <script src='/js/admin-announcements.js'></script>
</head>

<body class='background-grey'>
    <!-- NAVBAR -->
    {{> navbar }}

    <!-- ANNOUNCEMENTS CREATION FORM -->
    <h1 class="error-message"></h1>
    <h1 class='user-typing-message'></h1>
    <form class='announcement-form'>
        <p>Header</p>
        <input type='text' name='announcement-header' required>
        <p>Body</p>
        <textarea rows='4' name='announcement-body' required></textarea>
        <div>
            <button type='submit'>Submit Announcement</button>
        </div>
    </form>

    <!-- BANNER -->
    <div class='banner'>
        <h1 class='transparent-ucla-gold'>Announcements</h1>
    </div>
    <div class='container announcements-container background-white'>
        <ol class='announcements-list'>
        {{#each announcements}}
            <li class='announcement text-center' id='{{ this._id }}'>
                <p class="x-icon text-right" id={{this._id}}>&times;</p>
                <h2 class='ucla-blue'>{{ this.header }}</h2>
                <p>{{ this.body }}</p>
            </li>
        {{/each}}
        </ol>
    </div>
</body>
</html>
