<!DOCTYPE HTML>
<html>
<head>
  <title>Admin - IDEA Hacks</title>
  <meta charset="utf-8" />

  <!-- STYLESHEETS -->
  <link rel='stylesheet' type='text/css' href='/css/style.css' />
</head>
<body>
    <!-- NAVBAR -->
    {{> navbar }}

    <p>Welcome to the Admin Panel!</p>
</body>
</html>
