<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Team</title>
</head>
    
<body>
    {{#each teams}}
        <h1>{{ this.teamName }}</h1>
        <h1>{{ this.teamNumber}}</h1>
    {{/each}}
</body>
</html>
