<!DOCTYPE HTML>
<html>
<head>
	<title>Parts - Admin</title>
</head>
<body>
	{{#each parts}}
		<h1>{{ this.partName }} </h1>
		<p> {{ this.stock }} </p>
	{{/each}}


	<form>
		Part name:<br>
		<input type = "text"name="partname"><br>
		Stock:<br>
		<input type="text" name="stock"><br>
		Description:<br>
		<input type="text" name="description"><br>
		<br>
		<input type="submit" value="Submit">
	</form>


</body>
</html>
