<!DOCTYPE HTML>
<html>
<head>
    <title>Team Parts - Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/admin-teams.css' />

    <!-- SCRIPTS -->
    <script src="/js/admin-create-parts.js"></script>
</head>
<body>

  <!-- NAVBAR -->
  {{> navbar }}

  <div class='banner'>
      <h1>CREATE A PART</h1>
      <p>View what parts each team has checked out here!</p>
      <form>
        <form class='create-parts-form'>
            <label>SEARCH FOR A TEAM:</label> <br>
            <input type="text">
      </form>
  </div>

  <div class='col-md-6'>
    
  </div>



</body>
