<!DOCTYPE HTML>
<html>
<head>
    <title>Admin Team</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- SOCKETIO -->
    <script src='/socket.io/socket.io.js'></script>
    
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/admin-teams.css'/>

    <!-- SCRIPTS -->
    <script src="/js/admin-teams.js"></script>
</head>
<body>
    <!-- NAVBAR -->
    {{> navbar }}
    
    <h1 class="error-message"></h1>
    <h1 class='user-typing-message'></h1>
    <form>
        <p>Team Name</p>
        <input class="team-name" type="text" name="teamName">
        <p>Team Number</p>
        <input class="team-number" type="number" name="teamNumber">
        <p>Team Member Emails</p>
        <input class="member-email" type="text" name="email1"><br>
        <input class="member-email" type="text" name="email2"><br>
        <input class="member-email" type="text" name="email3"><br>
        <input class="member-email" type="text" name="email4"><br><br>
        <button type="submit" value="Submit">Submit</button>
    </form>
    <ul class='team-list'>
      {{#each teams}}
          <li>
            <span class="delete-team">&times;</span>
            <h1 class="team-name">{{ this.teamName }}</h1>
            <h1>{{ this.teamNumber }}</h1>
              {{#each this.members}}
              <p>{{ this.email }}</p>
              {{/each}}
            
          </li>
      {{/each}}
    </ul>
</body>
</html>
