<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- FONT AWESOME -->
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' />

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/admin.css' />

    <!-- SCRIPTS -->
    <script src='/js/admin.js'></script>
</head>
<body>
    <div class="wrapper">
        <!-- NAVBAR -->
        {{> navbar }}

        <div class='text-center'>
            <img class="mailing-header" src="/img/admin/IH_MailingList.png">
            <h1 class='description'> Mailing lists categorized by application status</h1>
        </div>

        <!-- MAILING LIST -->
        <div class='mailing-wrapper'>
            <ul class='container mailing-list'>
                {{#each mailingLists }}
                    <li class='row'>
                        <h3 class='email-list-name text-center'>{{ this.name }} <span class='glyphicon glyphicon-menu-down'></span></h3>
                        <p class='email-list'>{{ this.list }}</p>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</body>
</html>
