<!DOCTYPE HTML>
<html>
<head>
    <title>Mailing Lists - Admin</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />

    <!-- SCRIPTS -->
    <script src="/js/admin.js"></script>
</head>
<body>
    <div class="wrapper">
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="houseline"></div>

        <div class="container text-center">
            <h1 id="mailing-lists">MAILING LISTS</h1>
        </div>

        <!-- MAILING LISTS -->
        <div class="mailing-wrapper">
            <div class="mailing-list">
                <div class="row">
                    {{#each mailingLists }}
                        <div class="column">
                            <h3 class="mailing-type">{{ this.name }}</h3>
                            <div class="mailing-address-container">
                                <button class="glyphicon glyphicon-copy" onclick="CopyToClipboard(&quot; {{this.list}}&quot;)"></button>
                                <div class="mailing-address-list" id="mailing-address-text">
                                    {{#each this.list }}
                                        <p>{{ this }}</p>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>

    </div>
</body>
</html>
