<!DOCTYPE HTML>
<html>
<head>
    <title>Admin - Announcements</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- SCRIPTS -->
    <script src='/js/admin-announcements.js'></script>
</head>

<body>
  
    {{> navbar }}
    <div class='banner'>
      <h1>Announcements</h1>
    </div>
    <h1 class="error-message"></h1>
    <h1 class='user-typing-message'></h1>
    <form class='announcement-form'>
        <p>Header</p>
        <input type='text' name='announcement-header' required>
        <p>Body</p>
        <textarea rows='4' name='announcement-body' required></textarea>

        <button type='submit'>Submit Announcement</button>
    </form>

    <ul class='announcements-list'>
        {{#each announcements}}
            <li>
                <h1>{{ this.header }}</h1>
                <p>{{ this.body  }}</p>
                <p>{{ this.category }}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>
