<!DOCTYPE HTML>
<html>
<head>
	<title>Parts - Admin</title>

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src="/js/admin-parts.js"></script>

</head>
<body>

	<form>
		<p>Part name</p>
		<br>
		<input class="part-name" type = "text" name="partName" required>
		<br>
		<p>Stock</p>
		<br>
		<input  class="stock" type="text" name="stock" required><br>
		<p>Description</p>
		<br>
		<input class="description" type="text" name="description" required><br>
		<br>
		<input type="submit" value="Submit">
	</form>

	<ul class='part-list'>
 		 {{#each parts}}
		 <li>
			<h1>{{ this.partName }} </h1>
			<p> {{ this.stock }} </p>
		 </li>
		{{/each}}
	</ul> 
</body>
</html>
