<!DOCTYPE HTML>
<html>
<head>
    <title>Confirm - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/confirm.css' />

    <!-- SCRIPTS -->
    <script src='/js/confirm.js'></script>
</head>
<body>
    <div class='wrapper'>
        <div class='confirm'>
            <h2>Please confirm your account!</h2>
            <p>A confirmation has been sent to your email address. Please check your inbox and click on the unique link to verify your account.</p>
            <p>Email taking too long? Usually .edu emails have a bit of delay to them. You can also try:</p>
            <button>Resend Verification Email</button>
            <p class='response'></p>

        </div>
    </div>
</body>
</html>
