<!DOCTYPE HTML>
<html>
<head>
  <title>Confirm - IDEA Hacks</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- STYLESHEETS -->
  <link rel='stylesheet' type='text/css' href='/css/style.css' />
</head>
<body>
    <p>pls check your email and verify your account</p>
</body>
</html>
