<!DOCTYPE HTML>
<html>
<head>
    <title>My Team</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/dashboard-my-parts.css' />

    <!-- SCRIPTS -->
</head>
<body>
    <div class="wrapper">
        <!-- NAVBAR -->
        {{> navbar }}

        <div class='banner'>
            <h1>Your Parts</h1>    
        </div>


        <div class='text-center container-fluid'>
            <div class='parts-list'>
                <div id='labels'>
                    <h1>Name of Item</h1>
                    <h2>Quantity</h2>
                </div>
                {{#each parts}}
                    <div id='part-entry'>
                        <p>{{ this.name }}</p>
                        <p>{{ this.quantity}}</p>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>

</body>
</html>
