<!DOCTYPE html>
<html>
<head>
    <title>Application - Dashboard</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300" rel="stylesheet">

    <!-- CSS -->
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href="/css/form.css" />
    <link rel='stylesheet' href='/css/dashboard-application.css' />

    <!-- SCRIPTS -->
    <script src='/js/dashboard-application.js'></script>
</head>
<body>
    <!-- NAVBAR -->
    {{> navbar }}

    <!--     <div class='required-text'>
        <p>* Required Field</p>
    </div> -->

    <div class='ideahacks-form application-form container-fluid'>
        <div class='row'>
            <legend>Applications are closed!</legend>
            <p> Thank you for your interest for Ideahacks '19. Applications are usually open in the middle of Fall quarter and stay open up until a couple weeks before the hackathon. Make sure to keep an eye out for IDEA Hacks notifications on when to start applying. Applications are reviewed and accepted on a first come first serve basis, so apply early!
            </p>
        </div>
    </div>
</body>
</html>
