<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard Parts</title>

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/dashboard-parts.css' />
    
    <!-- SCRIPTS -->
    <script src="/js/filter.js"></script>
</head>
    
<body>
    <!-- NAVBAR -->
    {{> navbar }}
    
    <!-- FILTER LIST -->
    {{> filter}}
    <ul class="parts-filter" id="filter"> 
        {{#each parts}}
            <li>
                <h3>{{this.partName}}</h3>
            </li>
        {{/each}}
    </ul>
</body>
</html>