<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Error Page - IDEA Hacks</title>
        <meta charset="UTF-8">

        <!-- GOOGLE FONTS -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

        <!-- PERSONAL STYLESHEETS -->
        <link rel='stylesheet' type='text/css' href='/css/error-page.css' />
    </head>


    <body>
        <div class="idea_hacks_banner"> IDEA HACKS </div>

        <div class="messages">
            <p class="error_msg">You got a {{ status }} Error!</p>
            <a href="/" class="return_main_page_link">
                <button class="return_main_page_button"> Return to Main Page </button>
            </a>
        </div>
</body></html>
