<!DOCTYPE html>
<html lang="en">
<head>
    <title>Error Page - IDEA Hacks</title>
    <meta charset="UTF-8">

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" />

    <!-- PERSONAL STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/error-page.css' />
</head>
<body>
    <div class="messages">
        <img class="logo" src="/img/logo.png">
        <h1 class="error-msg">{{status}}</h1>
        <p>Oops! Looks like the page you're looking for may have been removed or is unavailable.</p>
        <a href="/">
            <button class="home-button">Back to home</button>
        </a>
    </div>
</body>
</html>
