<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks - Extended FAQ</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/extended-faq.css">

</head>
<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <!-- FAQ CONTENT -->
        <div id='faq' class='container-fluid faq-section'>
            <div class='text-center'>
                <img class='faq-header' src="/img/IH_ExtendedFAQ.png">
            </div>
            <div class='questions theme-white col-md-6'>
                <h2>HOW SHOULD I PREPARE FOR THE HACKATHON?</h2>
                <p>If you’ve already been to a hackathon before, you know what to expect. Keep in mind that this is a hardware-focused hackathon, so some component of hardware should be incorporated into your project. To prepare, we encourage you to brainstorm on projects related to the theme and consider what components they would require.</p>
                <h2>HOW WILL JUDGING WORK?</h2>
                <p>A rubric will be posted leading up to the event, and each group’s project will be scored based on that grading scale. Our judges include representatives from industry, faculty and UCLA alumni.</p>

            </div>
            <div class='questions theme-white col-md-6'>
                <h2>WHAT IF I HAVE DIETARY RESTRICTIONS?</h2>
                <p>If you have any allergies or dietary restrictions, let us know on your application and we will do our best to provide alternatives.</p>

                <h2>WHAT IF I'M LATE TO THE HACKATHON?</h2>
                <p>We encourage everyone to be punctual to get the most out of their experience. If you are late you can still participate, but you will have to stop hacking at the same time as everybody else.</p>
                <h2>HOW DO I GET TO IDEAHACKS?</h2>
                <p>Find directions <a class='faq-link' href='/venue'>here</a>!</p>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>

</body>
</html>
