<!DOCTYPE html>
<html>
<head>
    <title>History - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the eighth time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/history.css">
</head>
<body class='background-light-red'>

    <div class='wrapper'>

        <!-- NAVBAR -->
        {{> navbar}}

        <div id="intro">
            <div class="intro_view">
                <img id="history_logo" src="img/history/historylogo.png" alt="history logo">
                <img id="intro_graphics" src="/img/history/history.png" alt="history graphics">
            </div>
            <div class="introduction container-fluid">
                <div class="col-sm-6">
                    <img id="intro_img" src="/img/history/collage.png" alt="historical picture">
                </div>
                <div class="col-sm-6">
                    <h1>HISTORY</h1>
                    <p class="intro_p">
                        IDEA Hacks was founded in 2014 by members of UCLA IEEE and Theta Tau Upsilon Delta. Ever since our first hackathon in January 2015, IDEA Hacks’ vision has been to provide engineering students with a space to learn, create, and inspire one another. As the first and largest hardware hackathon in California, we encourage interdisciplinary teams to build hands-on components as opposed to a software hackathon.
                        <br><br>
                        Throughout the years we’ve increased the breadth of our event, and at our last hackathon over 200 hackers participated. Our goals are to benefit the engineering community and the community as a whole by promoting innovation in areas that matter. Featured projects include an GPS-based navigator, activity tracker, and many more!
                    </p>
                </div>
            </div>
        </div>

        <!-- 2022 -->
        <div class="white-tab-container clearfix">
            <div>
                <div>
                    <h1>2022</h1>
                </div>
            </div>
            <h2 class="hack_theme"><b>THE GREAT OUTDOORS</b></h2>
            <div class="places col-xs-12 row">
                <div class="place col-sm-5 text-center">
                    <img src="/img/history/logo2022.png" alt="2022_logo" width="80%">
                    <div class="sponsors">
                        <h2>SPONSORS</h2>
                        <div class="sponsors_container">
                            <img src="/img/history/Texas-Instruments.png" alt="ti_logo" width="250px" class="sponsors_img">
                            <img src="/img/history/Northrop-Grumman.png" alt="northrop_logo" width="350px" class="sponsors_img">
                            <img src="/img/history/intel.png" alt="intel_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/parallel_systems.png" alt="parallel_systems_logo" width="300px" class="sponsors_img">
                            <img src="/img/history/infineon.png" alt="infineon_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/kneron.jpeg" alt="kneron_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/yerba.png" alt="yerba_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/wetzels.png" alt="wetzels_logo" width="200px" class="sponsors_img">
                        </div>
                    </div>
                </div>
                <div class="place col-sm-7 text-center">
                    <!-- First Place -->
                    <h2>First Place: Treasure Tracker</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2022_1stPlace.png" alt="2022 first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> 
                                <b>TEAM:</b> Drew Gautier, Dominic Olson, Trevor Guo, Cameron Fiske, George Getty<br><br> 
                                <b>PROJECT:</b> The Treasure Tracker is an electronically enchanted compass. It allows users to record their current location, then will point back to their original location, no matter how far they wander.<br><br>
                                <b>LINK:</b> <a href="https://devpost.com/software/pirate-compass" target="_blank">https://devpost.com/software/pirate-compass</a>
                            </p>
                        </div>
                    </div>

                    <!-- Second Place -->
                    <h2>Second Place: Trinket</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2022_2ndPlace.jpeg" alt="2022 second place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> 
                                <b>TEAM:</b> Fred Chu, Justin Jianto, Caleb Terrill, Bryan Wong<br><br>
                                <b>PROJECT:</b> A gamified hiking companion that incentivizes fitness and exploration through randomized objectives and cute collectible virtual creatures called Trinkets!<br><br>
                                <b>LINK:</b> <a href="https://devpost.com/software/trinket" target="_blank">https://devpost.com/software/trinket</a><br><br>
                            </p>
                        </div>
                    </div>

                    <!-- Third Place -->
                    <h2>Third Place: LoRax</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2022_3rdPlace.jpeg" alt="2022 second place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> 
                                <b>TEAM:</b> Matthew Nieva, Raj Piskala, Siddhant Gupta, Timothy Jacques, Premkumar Giridhar <br><br>
                                <b>PROJECT:</b> LoRax aims to decrease wildfire risk by using a scalable network of IoT devices to gather real time data on environmental risk factors, saving lives and homes through a convenient mobile app.<br><br>
                                <b>LINK:</b> <a href="https://devpost.com/software/lorax-5gdt9i" target="_blank">https://devpost.com/software/lorax-5gdt9i</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2021 -->
        <div class="black-tab-container clearfix">
            <div>
                <div>
                    <h1>2021</h1>
                </div>
            </div>
            <h2 class="hack_theme"><b>HOME APPLICATIONS</b></h2>
            <div class="places col-xs-12 row">
                <div class="place col-sm-5 text-center">
                    <img src="/img/history/logo2021.png" alt="2021_logo" width="80%">
                    <div class="sponsors">
                        <h2>SPONSORS</h2>
                        <div class="sponsors_container">
                            <img src="/img/history/google.png" alt="Google_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/Texas-Instruments.png" alt="ti_logo" width="250px" class="sponsors_img">
                            <img src="/img/history/Northrop-Grumman.png" alt="northrop_logo" width="350px" class="sponsors_img">
                            <img src="/img/history/tractionlabs.png" alt="traction_labs_logo" width="300px" class="sponsors_img">
                            <img src="/img/history/att.png" alt="AT&T_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/cypress.png" alt="cypress_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/digikey.png" alt="digikey_logo" width="200px" class="sponsors_img">
                        </div>
                    </div>
                </div>
                <div class="place col-sm-7 text-center">
                    <!-- First Place -->
                    <h2>Motion Box First Place: Zoomsday Clock</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2021_motion.jpg" alt="2021 motion first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Brady Ankenbrandt, Courtney Gibbons<br><br> <b>PROJECT:</b> Zoomsday Clock is a warning indicator for video conferencing! It displays a red light if the user is in a meeting and reports how much time is left. A wave of the hand reveals when that meeting ends.<br></p>
                        </div>
                    </div>

                    <!-- Second Place -->
                    <h2>Audio Visual Box First Place: bud</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2021_audiovisual.jpg" alt="2021 audio visual first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Bryan Wong, Kathy Daniels<br><br> <b>PROJECT:</b> bud is an IoT gardening assistant that uses a variety of sensors to monitor a house plant’s soil moisture, air humidity, temperature, and light intensity conditions. The “buddy” periodically reads and writes sensor data to a Google Firebase database, letting users compare their plant against target values on the bud website.<br></p>
                        </div>
                    </div>

                    <!-- Third Place -->
                    <h2>Texas Instruments Box First Place: myPlantMonitor</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2021_ti.jpg" alt="2021 ti first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Olivia Loh<br><br> <b>PROJECT:</b> myPlantMonitor regulates soil moisture levels to alert users about watering their plant as well as plant movement. The plant pot is mounted on a car (controlled by myPlantMonitor) that will move the plant closer towards sunlight.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2020 -->
        <div class="white-tab-container clearfix">
            <div>
                <div>
                    <h1>2020</h1>
                </div>
            </div>
            <h2 class="hack_theme"><b>COLLEGE LIFESTYLE</b></h2>
            <div class="places col-xs-12 row">
                <div class="place col-sm-5 text-center">
                    <img src="/img/history/logo2020.png" alt="2020 logo" width="80%">
                    <div class="sponsors">
                        <h2>SPONSORS</h2>
                        <div class="sponsors_container">
                            <img src="/img/history/advantech.png" alt="advantech_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/lockheed.png" alt="lockheed_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/Texas-Instruments.png" alt="ti_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/Northrop-Grumman.png" alt="northrop_logo" width="250px" class="sponsors_img">
                            <img src="/img/history/digikey.png" alt="digikey_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/yerba.png" alt="yerba_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/bellapita.png" alt="bellapita_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/stmicro.png" alt="stmicro_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/tgif.png" alt="the_green_initiative_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/swc.png" alt="swc_logo" width="50px" class="sponsors_img">
                            <img src="/img/history/bjs.png" alt="bjs_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/califafarms.png" alt="califa_farms_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/spudsy.png" alt="spudsy_logo" width="150px" class="sponsors_img">
                        </div>
                    </div>
                </div>
                <div class="place col-sm-7 text-center">
                    <!-- First Place -->
                    <h2>First Place: Napkn</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2020_1stPlace.JPG" alt="2020 first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Caleb Terrill, Fred Chu, Caitlyn Chau, Lucas Wolter, Bryan Wong <br><br> <b>PROJECT:</b> Napkn is a convenient and intuitive tabletop IoT table reservation device. With a simple tap of a RFID-enabled card, users can check in to a table, reserving it for a predefined duration. Once the user is finished using their reserved dining hall table, library table, etc., all it takes is another tap of their RFID card to free the table for use.<br></p>
                        </div>
                    </div>

                    <!-- Second Place -->
                    <h2>Second Place: Penley</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2020_2ndPlace.JPG" alt="2020 second place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Max Gong, Aidan Cookson, Calvin Chang, Daniel Truong, Krish Kabra<br><br> <b>PROJECT:</b> Penley makes note taking easier by transcribing your notes directly to your computer. Powered by an Arduino Nano and a TensorFlow neural network, Penley works on any surface.<br></p>
                        </div>
                    </div>

                    <!-- Third Place -->
                    <h2>Third Place: Retro Switch</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2020_3rdPlace.JPG" alt="2020 third place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Bradley Schulz, Aditya Mishra, Tyler Price, James Tseng<br><br> <b>PROJECT:</b> Designed to limit energy use and maximize convienence, the RetroSwitch is an automatic light switch upgrade. The Retroswitch combines WiFi control and intelligent motion detection to automate turning lights on and off. It is super easy to install; the Retroswitch comes in a package that can be magnetically mounted over any existing light switch.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2019 -->
        <div class="black-tab-container clearfix">
            <div>
                <div>
                    <h1>2019</h1>
                </div>
            </div>
            <h2 class="hack_theme"><b>TRAVEL UPGRADE</b></h2>
            <div class="places col-xs-12 row">
                <div class="place col-sm-5 text-center">
                    <img src="/img/history/logo2019.png" alt="2019 logo" width="80%">
                    <div class="sponsors">
                        <h2>SPONSORS</h2>
                        <div class="sponsors_container">
                            <img src="/img/history/google.png" alt="google_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/Northrop-Grumman.png" alt="northrop_gruman_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/qualcomm.png" alt="qualcomm_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/microduino.png" alt="microduino_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/mamma_chia.png" alt="mamma_chia_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/coffee.png" alt="better_than_coffee_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/rhythm.png" alt="rhythm_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/yerba.png" alt="guayaki_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/hci.png" alt="UCLA_healthy_campus_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/tgif.png" alt="the_green_initiative_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/800.png" alt="800_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/amplify.png" alt="amplify_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/bellapita.png" alt="bella_pita_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/EPIC.png" alt="epic_logo" width="150px" class="sponsors_img">
                        </div>
                    </div>
                </div>
                <div class="place col-sm-7 text-center">
                    <!-- First Place -->
                    <h2>First Place: Pop 'n Lock</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2019_1stPlace.jpg" alt="2019 first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Matthew Wang, Ashvin Nagarajan, Jeff Anderson, Allison Chen, Juan Banchs<br><br> <b>PROJECT:</b> Our project was a Smart Lock that uses an industry standard ball-bearing lock design and arduino powered RFID sensor so that consumers can lock and unlock the lock using a BruinCard. We presented it as a improvement upon existing smart locks that are susceptible to malware.<br></p>
                        </div>
                    </div>

                    <!-- Second Place -->
                    <h2>Second Place: Braille Translator</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2019_2ndPlace.jpg" alt="2019 second place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Garo Mazmanian, Tanmaya Hada, Pranav Balgi, Peter Oh, Hersh Joshi<br><br> <b>PROJECT:</b> The braille reader reads braille of one script, translates it, and then speaks it out in the listener's native tongue. This aims to make travel more accessible to the blind population by allowing the blind to understand braille in a different language.<br></p>
                        </div>
                    </div>

                    <!-- Third Place -->
                    <h2>Third Place: 3feet</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2019_3rdPlace.jpg" alt="2019 third place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Shriniket Buche, Bochi Lin, Jae Hyeong Park, Richard DeAmicis, Wei Dong<br><br> <b>PROJECT:</b> 3feet is a hardware and software bicycle and electric scooter protection system. The system utilizes a number of sensors on the bicycle to record when automobiles are approaching and notifies riders or city officials appropiately.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 2018 -->
        <div class="white-tab-container clearfix">
            <div>
                <div>
                    <h1>2018</h1>
                </div>
            </div>
            <h2 class="hack_theme"><b>HOME AUTOMATION</b></h2>
            <div class="places col-xs-12 row">
                <div class="place col-sm-5 text-center">
                    <img src="/img/history/logo2018.png" alt="2018 logo" width="80%">
                    <div class="sponsors">
                        <h2>SPONSORS</h2>
                        <div class="sponsors_container">
                            <img src="/img/history/google.png" alt="Google_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/Texas-Instruments.png" alt="ti_logo" width="250px" class="sponsors_img">
                            <img src="/img/history/Northrop-Grumman.png" alt="northrop_logo" width="350px" class="sponsors_img">
                            <img src="/img/history/tractionlabs.png" alt="traction_labs_logo" width="250px" class="sponsors_img">
                            <img src="/img/history/att.png" alt="AT&T_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/cypress.png" alt="cypress_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/digikey.png" alt="digikey_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/biotronik.png" alt="biotronik_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/amazon-labs126.png" alt="amazon_lab126_logo" width="150px" class="sponsors_img">
                        </div>
                    </div>
                </div>
                <div class="place col-sm-7 text-center">
                    <!-- First Place -->
                    <h2>First Place: ASL Recognition Platform</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2018_1stPlace.jpg" alt="2018 first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Julian Mendel, Mark Nasielski, Serene Kamal, Michelle Du, Eric Sarnoff Espinosa<br><br> <b>PROJECT:</b> With a special glove, users can use sign language to change the color of an LED.<br></p>
                        </div>
                    </div>

                    <!-- Second Place -->
                    <h2>Second Place: Less Stress Dress</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2018_2ndPlace.jpg" alt="2018 second place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Jimmy Byrne, Josh Ren, Anshul Aggarwal, Nina Chikanov, Allison Doami<br><br> <b>PROJECT:</b> Aimed at visually impaired people, this project takes current weather information around the world to choose the perfect outfit for the user.
                        </div>
                    </div>

                    <!-- Third Place -->
                    <h2>Third Place: Safe Stove</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2018_3rdPlace.jpg" alt="2018 third place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Chris Hailey, Ishan Shah, Joel Joseph, Adithya Bellathur, Janeline Wong<br><br> <b>PROJECT:</b> Using ultrasonic sensors, capacitive touch and facial recognition to reduce the likelihood of cooking fires.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- 2017 -->
        <div class="black-tab-container clearfix">
            <div>
                <div>
                    <h1><b>2017</b></h1>
                </div>
            </div>
            <h2 class="hack_theme"><b>TRAVEL UPGRADE</b></h2>
            <div class="places col-xs-12 row">
                <div class="place col-sm-5 text-center">
                    <img src="/img/history/logo2017.png" alt="2017 logo" width="40%">
                    <div class="sponsors">
                        <h2>SPONSORS</h2>
                        <div class="sponsors_container">
                            <img src="/img/history/google.png" alt="Google_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/Altera.png" alt="altera_logo" width="250px" class="sponsors_img">
                            <img src="/img/history/Texas-Instruments.png" alt="ti_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/Northrop-Grumman.png" alt="northrop_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/qualcomm.png" alt="qualcomm_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/atmel.png" alt="atmel_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/amazon-labs126.png" alt="amazon_lab126_logo" width="150px" class="sponsors_img">
                            <img src="/img/history/xilinx.png" alt="xilinx_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/digikey.png" alt="digi-key_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/att.png" alt="at&t_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/biotronik.png" alt="biotronik_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/newmatter.png" alt="new_matter_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/microduino.png" alt="microduino_logo" width="225px" class="sponsors_img">
                            <img src="/img/history/mulesoft.png" alt="mulesoft_logo" width="200px" class="sponsors_img">
                            <img src="/img/history/namecheap-logo.png" alt="namecheap_logo" width="100px" class="sponsors_img">
                            <img src="/img/history/make-school.png" alt="make_school_logo" width="200px" class="sponsors_img">
                        </div>
                    </div>
                </div>
                <div class="place col-sm-7 text-center">
                    <!-- First Place -->
                    <h2>First Place: Light-Up Frisbee</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2017_1stPlace.jpg" alt="2017 first place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Andrew Chen, Matthew Wong, Robert Zalog, and Christine Chen (not pictured)<br><br> <b>PROJECT:</b> A ‘smart’ Frisbee that measures angular velocity while it is being thrown and gives feedback to the user once it is caught. Uses an Arduino that signals to the user through RGB LEDs.<br></p>
                        </div>
                    </div>

                    <!-- Second Place -->
                    <h2>Second Place: Rundora</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2017_2ndPlace.jpg" alt="2017 second place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Tim Ling, Shuang Feng, Jingxian Xu, and Tianyu Deng<br><br> <b>PROJECT:</b> Device changes the tempo of the music based on the heart rate of the runner.<br></p>
                        </div>
                    </div>

                    <!-- Third Place -->
                    <h2>Third Place: Spiro</h2>
                    <div class="winners row">
                        <div class="col-md-5 col-sm-6">
                            <img src="/img/history/2017_3rdPlace.jpg" alt="2017 third place" width="100%">
                        </div>
                        <div class="col-md-7">
                            <p> <b>TEAM:</b> Andrew Arifin, Sean Oh, Jonathan Hurwitz, and Robert Devlin<br><br> <b>PROJECT:</b> Spiro is a device designed to help people better manage anxiety. Using an elastic chestband to alert you to irregular breathing potentially, the paired app and smartwatch guides the user through a self-regulation breathing exercise. Using customizable colors and soft lighting, the device helps a user take a step back from their situation and just breathe.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer}}

    </div>
</body>
</html>
