<!DOCTYPE html>
<html>
<head>
  <title>IDEA Hacks '18</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Personal CSS -->
  <link rel="stylesheet" href = "../public/css/index.css">

</head>

<body>
  <header id = "showcase">
    <h1>IDEA HACKS 18</h1>
    <p>
      <button type="button" class="btn btn-outline-info">Log In</button>
      <button type="button" class="btn btn-outline-info">Register</button>
    </p>
  </header>

  <div class = "container">
    <div class = "row">
      <h2 id = "about">ABOUT</h2>
      <p>
        THE FIRST HARDWARE HACKATHON ON THE WEST COAST
        For the third time in history, IEEE at UCLA and Theta Tau at UCLA are pleased to present to you California's largest college hardware-focused hackathon ever. 

        At IDEA Hacks we provide our hackers with tools, such as 3D printers, soldering stations, and other equipment free of charge. Not only will these hackers code, but also they will create tangible products from scratch in one weekend.
      </p>
    </div>
    <div class = "row">
      <h2 id = "schedule">SCHEDULE</h2>
      <p>
        Friday
        Registration and Team Formation

        5:00PM - 7:00PM


        Texas Instruments Infosession

        5:30PM - 6:30PM


        Opening Speeches and Presentations

        8:00PM - 9:00PM


        Hacking Begins

        9:00PM

        Saturday
        Breakfast

        7:00AM - 11:00AM


        iOS Workshop

        9:00AM - 11:00AM


        Lunch

        12:00PM - 1:00PM


        Mulesoft Infosession

        1:00PM - 1:30PM


        Engineering Panel

        4:00PM - 4:30PM


        Dinner

        6:00PM - 8:00PM

        Sunday
        Breakfast

        7:00AM - 11:00AM


        Hacking Ends

        9:00AM


        Exhibition Setup

        9:00AM - 9:30AM


        Judging

        9:30AM - 11:00AM


        Closing and Awards

        11:00AM - 1:00PM
      </p>
    </div>
    <div class="row">
      <h2 id ="faq">FAQ</h2>
      <p>
        General
        Who can attend?
        As we are still a young event, IDEA Hacks is primarily looking for UCLA students. However, all hackers are encouraged to apply as exceptions made on an application basis.

        Where is it?
        IDEA Hacks will be held at Ackerman Grand Ballroom, which lies at the heart of UCLA's campus.

        What is the theme for this year's IDEA Hacks?
        The theme for this year's IDEA Hacks is Sports Technology! This means that you will be challenged to create something that relates to exercise, sportsmanship, and the spirit of friendly competition!

        Applications
        How do I apply?
        Hackers can apply on this website! Applications usually open in the middle of Fall quarter and stay open up until a couple weeks before the hackathon. Make sure to keep an eye out for IDEA Hacks notifications on when to start applying. Applications are reviewed and accepted on a first come first serve basis, so apply early!

        I don't know anything about hardware!
        You are definitely not alone! During the hackathon, there will be workshops on hardware and hacking that will be accessible for everyone. There will also be mentors and other hardware experts ready to assist those who are having trouble bringing their hacks to life.

        What if I don't have a team?
        You are free to hack alone, but that's no fun! We encourage everyone to be on teams of around 4-5 hackers. Not only will you have more fun, but more equipment will be available for your use. That being said, we do hold a team formation session before hacking begins so that hackers can be successful in finding the right teammates.

        Accommodations
        How much does it cost?
        IDEA Hacks costs absolutely nothing to participate in. There is no reason not to come out, learn something new, and have fun!

        What should I bring?
        A valid ID is required for admission into Ackerman Grand Ballroom, so don't forget to bring it! If you don't live around UCLA, we recommend bringing necessary toiletries and a sleeping bag. We will have a sleeping/break room for hackers that want to relax and get some fresh air.

        Will food be provided?
        Yes! Meals for all of the days of the hackathon will be provided for all hackers and participants. Please notify us of allergies or food preferences within your application and we'll do our best to accomodate.

        How about travel costs?
        Unfortunately, we will not be able to cover transportation costs for this year's event. If you plan to bring a vehicle and need parking, please specify so on your application.

        Miscellaneous
        What tools and hardware will be provided for my team?
        If you would like to see a specific part or device at the hackathon, you can specify so on your application and we'll do our best to accomodate! You can also view a full list of available parts on our Parts page.

        Where can I find the rubric?
        We're still working on the rubric, but we'll put it up as soon as we're done!

        How can I check out parts during the Hackathon?
        Our Parts page functions as a parts checkout system where you can check out parts to use or check for its availability. Certain parts will have a barcode attached to them which helps us keep track of which team is currently occupying a specific part.

        How do I contact IDEA Hacks?
        Email us at team@ideahacks.la! We would love to hear from you!
      </p>
    </div>

    <div class = "row">
      <h2 id ="sponsor">SPONSORS</h2> 
    </div>

  </div>
</div>

</body>
</html>
