<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/index.css">

    <!-- SCRIPTS -->
    <script src='/js/navbar-scroll.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- NAVBAR -->
    {{> navbar }}

    <!-- HERO BANNER -->
    <div id="showcase" class="banner text-center">
        <img src="/img/index/LogoRedesign-yellow.svg" />
        <p>
            <span class="location"><a href='http://bit.ly/2xFd2v3' target='_blank'>@UCLA Ackerman Grand Ballroom</a></span> <br />
            <span class="white">January 12-14, 2018</span> <br />
            <span class='white'>Applications due December 23rd, 2017!</span> <br />
            <!-- <span class="white">Applications open Fall 2017</span> <br /> -->
            <a href='/registration'><button>Apply Now!</button></a>
        </p>
    </div>

    <!-- ABOUT -->
    <div class="container" id="about">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="left">
                    <span id="tf">The first</span>
                    <span id="hh">HARDWARE<br/>&ensp;HACKATHON</span>
                    <span id="ot">on the</span>
                    <span id="wc">west coast</span>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <h3>About</h3>
                <p>For the fourth time in history, IEEE at UCLA and Theta Tau at UCLA are pleased to present to you California's largest college hardware-focused hackathon ever.</p>
                <p>At IDEA Hacks we provide our hackers with tools, such as 3D printers, soldering stations, and other equipment free of charge. Not only will these hackers code, but also they will create tangible products from scratch in one weekend.</p>
                <p>The theme for this year's hackathon is Home Automation! This means that you will be challenged to create something that relates to automating daily activities and chores found around the house.</p>
                <a href="/team"><button>MEET THE TEAM</button></a>
                <!-- <div class='hosting'>
                    <h3 style='text-align: center;'>Hosted By</h3>
                    <div class="col-xs-6" style='text-align: right;'>
                        <img src="/img/index/IMG_1531.JPG" id="ieee"/>
                    </div>
                    <div class="col-xs-6">
                        <img src="/img/index/IMG_1530.JPG" id="tt"/>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- SCHEDULE -->
    <div class="container-fluid background-grey schedule" id="schedule">
        <h1 class='transparent-ucla-blue'>SCHEDULE</h1>
        <div class='schedule-content container' id="schedule-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class='day-header'>
                      <h3 class='ucla-gold'>Friday</h3>
                      <h2 class='ucla-blue'>Day 1</h2>
                    </div>
                    <div class="dots-list">
                        <ol>
                            <li><p><strong>5:00PM - 7:00PM</strong> <br/>Registration & Team Formation</p></li>
                            <li><p><strong>8:00PM - 9:00PM</strong><br/>Opening Speeches & Presentations</p></li>
                            <li><p><strong>9:00PM</strong> <br/>Hacking Begins</p></li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='day-header'>
                        <h3 class='ucla-gold'>Saturday</h3>
                        <h2 class='ucla-blue'>Day 2</h2>
                    </div>
                    <div class="dots-list">
                        <ol>
                            <li><p><strong>7:00AM - 11:00AM</strong> <br/> Breakfast</p></li>
                            <li><p><strong>12:00PM - 1:00PM</strong> <br/> Lunch</p></li>
                            <li><p><strong>6:00PM - 8:00PM</strong> <br/> Dinner</p></li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class='day-header'>
                        <h3 class='ucla-gold'>Sunday</h3>
                        <h2 class='ucla-blue'>Day 3</h2>
                    </div>
                    <div class="dots-list">
                        <ol>
                            <li><p><strong>7:00AM - 11:00AM</strong> <br/> Breakfast</p></li>
                            <li><p><strong>9:00AM</strong> <br/> Hacking Ends</p></li>
                            <li><p><strong>9:00AM - 9:30AM</strong> <br/> Exhibition Setup</p></li>
                            <li><p><strong>9:30AM - 11:00AM</strong> <br/> Judging</p></li>
                            <li><p><strong>11:00AM - 1:00PM</strong> <br/> Closing & Awards</p></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="container faq" id="faq">
        <h1 class='transparent-ucla-gold'>FAQ</h1>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6">
                <section>
                    <h2 class='ucla-gold background-transparent-ucla-gold'>General</h2>
                    <h3>Who can attend?</h3>
                    <p>As we are still a young event, IDEA Hacks is primarily looking for UCLA students. However, all hackers are encouraged to apply as exceptions made on an application basis.</p>
                    <h3>I don't know anything about hardware!</h3>
                    <p>You are definitely not alone! During the hackathon, there will be workshops on hardware and hacking that will be accessible for everyone. There will also be mentors and other hardware experts ready to assist those who are having trouble bringing their hacks to life.</p>
                </section>
                <section>
                    <h2 class='ucla-gold background-transparent-ucla-gold'>Accommodations</h2>
                    <h3>How much does it cost?</h3>
                    <p>IDEA Hacks costs absolutely nothing to participate in. There is no reason not to come out, learn something new, and have fun!</p>
                    <h3>What should I bring?</h3>
                    <p>A valid ID is required for admission into Ackerman Grand Ballroom, so don't forget to bring it! If you don't live around UCLA, we recommend bringing necessary toiletries and a sleeping bag. We will have a sleeping/break room for hackers that want to relax and get some fresh air.</p>
                    <h3>Will food be provided?</h3>
                    <p>Yes! Meals for all of the days of the hackathon will be provided for all hackers and participants. Please notify us of allergies or food preferences within your application and we'll do our best to accomodate.</p>
                    <h3>Will there be a free shirt?</h3>
                    <p>Yes! Very free, very shirt. Specify your size on our application.</p>
                    <h3>How about travel costs?</h3>
                    <p>Unfortunately, we will not be able to cover transportation costs for this year's event. If you plan on bringing a vehicle, we will include a map of UCLA's parking lots.</p>
                </section>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <section>
                    <h2 class='ucla-gold background-transparent-ucla-gold'>Applications</h2>
                    <h3>How do I apply?</h3>
                    <p>Hackers can apply on this website! Applications usually open in the middle of Fall quarter and stay open up until a couple weeks before the hackathon. Make sure to keep an eye out for IDEA Hacks notifications on when to start applying. Applications are reviewed and accepted on a first come first serve basis, so apply early!</p>
                    <h3>What if I don't have a team?</h3>
                    <p>You are free to hack alone, but that's no fun! We encourage everyone to be on teams of around 4-5 hackers. Not only will you have more fun, but more equipment will be available for your use. That being said, we do hold a team formation session before hacking begins so that hackers can be successful in finding the right teammates.</p>
                </section>
                <section>
                    <h2 class='ucla-gold background-transparent-ucla-gold'>Miscellaneous</h2>
                    <h3>What tools and hardware will be provided for my team?</h3>
                    <p>If you would like to see a specific part or device at the hackathon, you can specify so on your application and we'll do our best to accomodate! When applications are released, there'll a listing of parts that you can look through.</p>
                    <h3>Where can I find the rubric?</h3>
                    <p>We're still working on the rubric, but we'll put it up as soon as we're done!</p>
                    <h3>How can I check out parts during the Hackathon?</h3>
                    <p>During the hackathon, you can simply approach our parts station and request a part from one of our volunteers. If in stock, our volunteers will check the part out to your team.</p>
                    <h3>How do I contact IDEA Hacks?</h3>
                    <p>Email us at <a href='mailto:team@ideahacks.la'>team@ideahacks.la!</a> We would love to hear from you!</p>
                </section>
            </div>
        </div>
    </div>

    <!-- SPONSORS -->
    <div class='background-grey sponsors container-fluid' id='sponsors'>
        <h1 class='transparent-ucla-blue'>Sponsors</h1>

        {{#each sponsorsData}}
            <div class='row sponsor-row text-center {{this.tier}}'>
                {{#each this.sponsors}}
                    <a href='{{this.website}}' target='_blank'><img src='{{this.logo}}' style='max-width: {{this.maxWidth}};' /></a>
                {{/each}}
            </div>
        {{/each}}

        <div class='sponsor-message'>
            <h2 class='ucla-blue'>Interested in Sponsoring?</h2>
            <p>View and download our sponsorship packet <a href='/files/sponsorship-packet.pdf' target='_blank'>here!</a></p>
            <p>Contact us at <a href='mailto:sponsor@ideahacks.la'>sponsor@ideahacks.la</a> for more information</p>
        </div>
    </div>
</body>
</html>
