<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/index.css">

    <!-- SCRIPTS -->
    <script src='/js/navbar-scroll.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class='wrapper'>

        <!-- NAVBAR -->
        {{> navbar }}

        <!-- BANNER -->
        <div class='container-fluid home-banner'>

            <div class='col-md-7'>
                <img class='banner-graphic' src="/img/index/main-graphic.png">
            </div>

            <div class='col-md-5 text-right banner-details'>
                <img class='header-graphic' src="/img/index/ideahacks-header.png">
                <img class='header-graphic-centered' src="/img/index/centered-travel.png">
                <p class="date">January 18 - 20, 2019</p>
                <p class="location">Grand Ackerman Ballroom, UC Los Angeles</p>
                <a href='/registration'><button class='apply'>Apply Now</button></a>
            </div>

        </div>

        <div id='about' class='red-box'></div>

        <!-- ABOUT -->

        <div class='container-fluid about-section'>
            <h1 class='theme-red section-header'> ABOUT</h1>
            <div class='col-md-7'>
                <p class='description'>
                    For the sixth time in history, IEEE at UCLA and Theta Tau at UCLA are pleased to present to you California's largest college hardware-focused hackathon ever. <br/><br/> At IDEA Hacks we provide our hackers with tools, such as 3D printers, soldering stations, and other equipment free of charge. Not only will these hackers code, but also they will create tangible products from scratch in one weekend. <br/><br/> The theme for this year's hackathon is Travel Upgrade! This means that you will be challenged to create something that relates to upgrading the challenges found in commuting, travelling, and more.
                </p>
            </div>
            <div class='col-md-5'>
                <div class='home-video'>
                    <video width='400px' controls>
                   <source src='ieee_final_edit.mp4'>
                   </video>
                </div>
            </div>
        </div>

        <div id='schedule' class='white-box'></div>

        <!-- SCHEDULE -->

        <div class='container-fluid schedule-section'>
            <h1 class='theme-offwhite section-header'> SCHEDULE </h1>
            <div>
                <h2 class='day text-center'>Friday, January 18</h2>
                <div class='schedule'>
                    <!--                     <div class='row location text-center'>
                        <p>Grand Ackerman Ballroom</p>
                    </div> -->
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Registration & Team Formation</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>6 - 8 PM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-xs-5">
                            <p>Opening Speeches</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>8 - 9 PM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Hacking Begins</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>9 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class='day text-center'>Saturday, January 19</h2>
                <div class='schedule'>
                    <!--                     <div class='row location text-center'>
                        <p>Grand Ackerman Ballroom</p>
                    </div> -->
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Breakfast Served</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>7 - 10 AM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-xs-5">
                            <p>Lunch Served</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>12 - 2 PM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Dinner Served</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>6:30 - 8 PM</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h2 class='day text-center'>Sunday, January 20</h2>
                <div class='schedule'>
                    <!--                     <div class='row location text-center'>
                        <p>Grand Ackerman Ballroom</p>
                    </div> -->
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Breakfast Served</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>7 - 10 AM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="col-xs-5">
                            <p>Hacking Ends</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>9 AM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Exhibition Setup</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>9 - 9:30 AM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Judging</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>9:30 - 11 AM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Judging Finals</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>11 - 12:30 PM</p>
                        </div>
                    </div>
                    <div class='row'>
                        <div class='col-xs-5'>
                            <p>Closing & Awards</p>
                        </div>
                        <div class="col-xs-5 col-xs-offset-2 text-right">
                            <p>12:30 - 1 PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id='faq' class='red-box'></div>

        <!-- FAQ -->

        <div class='container-fluid faq-section'>
            <h1 class='theme-red section-header'> FAQ </h1>
            <div class='questions theme-red col-md-6'>
                <h2>WHO CAN ATTEND?</h2>
                <p>All students interested are encouraged to apply. Although we primarily cater to UCLA engineering students, every application will be considered.</p>
                <h2>WHAT IF I DON'T KNOW ANYTHING ABOUT HARDWARE?</h2>
                <p>You are definitely not alone! During the hackathon, there will be workshops on hardware and hacking that will be accessible for everyone. There will also be mentors and other hardware experts ready to assist those who are having trouble bringing their hacks to life.</p>
                <h2>WHAT DO HACKERS GAIN FROM PARTICIPATING?</h2>
                <p>In addition to being completely free, we will provide hackers free meals, a free shirt, a room to sleep in, and a chance to win a prize! The top three teams’ members will each receive a prize. Even more valuable, at our hackathon you will gain project experience and learn something new!</p>
                <h2>WHAT SHOULD I BRING?</h2>
                <p>A valid ID such as a student ID is required for admission into Ackerman Grand Ballroom. If you don't live around UCLA, we recommend bringing necessary toiletries and a sleeping bag.</p>
                <h2>WHAT ABOUT TRAVEL COSTS?</h2>
                <p>Unfortunately, we will not be able to cover transportation costs for this year's event. If you’re looking for details about the venue, look here. [insert link to “venue” page]</p>
                <h2>HOW DO I CONTACT IDEA HACKS?</h2>
                <p>Email us at <a class='faq-link' href='mailto:team@ideahacks.la'>team@ideahacks.la</a>! You can also like our Facebook page and follow us on Instagram.</p>
            </div>
            <div class='questions theme-red col-md-6'>
                <h2>HOW DO I APPLY?</h2>
                <p>Hackers can apply on this website! Applications will be out by early November, and will close in mid-December. To get an email reminder once the application gets sent out, like our Facebook page here. [link to Facebook page] Applications are reviewed and accepted on a first come first served basis, so apply early!</p>
                <h2>WHAT IF I DON'T HAVE A TEAM?</h2>
                <p>You are free to hack alone, but that's no fun! We encourage everyone to be on teams of around 4-5 hackers. If you do not sign up with a team, we hold a team formation session before hacking begins.</p>
                <h2>WHAT TOOLS AND HARDWARE WILL BE PROVIDED FOR MY TEAM?</h2>
                <p>If you would like to see a specific part or device at the hackathon, you can specify it on your application and we'll do our best to accommodate! When applications are released, we will also release a list of parts. In addition, keep in mind that you are not allowed to bring any hardware of your own to the hackathon.</p>
                <h2>HOW CAN I CHECK OUT PARTS DURING THE HACKATHON?</h2>
                <p>During the hackathon, you can simply approach our parts station and request a part from one of our volunteers. If it’s in stock, our volunteers will check the part out to your team.</p>
                <h2>HAVE MORE QUESTIONS?</h2>
                <p>Check out our <a class='faq-link' href='/extended-faq'>extended FAQ</a>.</p>
            </div>
        </div>

        <div id='sponsors' class='white-box'></div>

        <!-- SPONSORS -->

        <div class='container-fluid sponsors-section'>
            <h1 class='theme-offwhite section-header'> SPONSORS </h1>
            <p>Interested in sponsoring? <br/> Check out our sponsorship brochure <a class='brochure-link' href='/files/19-sponsorship-packet.pdf' target='_blank'>here</a>!</p>
            <div class='text-center'>
                <a href='http://www.ti.com/' target='_blank'><img class='logo' src="/img/company_logos/ti.png"></a>
                <a href='https://www.northropgrumman.com/' target='_blank'><img class='logo' src="/img/company_logos/northropgrumman.png"></a>
            </div>
            <div class='text-center'>
                <a href='https://www.bjsrestaurants.com/' target='_blank'><img class='small-logo' src="/img/company_logos/BJs.gif"></a>
                <a href='http://bellapita.com/' target='_blank'><img class='small-logo' src="/img/company_logos/bellapita.png"></a>
                <a href='https://www.mammachia.com/' target='_blank'><img class='small-logo' src="/img/company_logos/mamma_chia.png"></a>
                <a href='https://rhythmsuperfoods.com/' target='_blank'><img class='small-logo' src="/img/company_logos/rhythm.png"></a>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>


</body>
</html>
