<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700;1,900&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/index.css">

    <!-- SCRIPTS -->
    <script src='/js/navbar-scroll.js'></script>
    <script src='/js/index.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class='wrapper'>

        <!-- NAVBAR -->

        {{> navbar }}

        <!-- BANNER -->

        <div class='home-banner'>

            <div class="stripe"></div>

            <div class="main-wrapper">
                <div class="row flex-row">
                    <div class="col-md-7 text-center banner-left">
                        <img class='banner-desktop-graphic' src="/img/index/main-graphic.png">
                    </div>

                    <div class="col-md-5 banner-right">
                        <div class="title-wrapper">
                            <div class="banner-title">
                                <div class="yellow-box"></div>
                                <div class="blue-box"></div>
                                <h1 class="title">IDEAHacks</h1>
                                <h2 class="theme">Home Applications</h2>
                            </div>

                            <div class="presented-wrapper">
                                <p class="yellow-box">Presented by UCLA IEEE and Theta Tau</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='banner-details clearfix'>
                    <p class="date yellow-box">Remote, January 15-17</p>
                    <a href="/dashboard/application"><button class="apply" type="button">Apply Now!</button></a>
                </div>
            </div>

        </div>

        <div id='about' class='white-box'></div>

        <!-- ABOUT -->

        <div class='container-fluid about-section'>
            <div class='text-center'>
                <img class='section-header' src="/img/index/about.png">
            </div>
            <div class="col-md-12">
                <p class='description'>
                    For the seventh time, UCLA IEEE and UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, one of the few college hackathons that provides an emphasis in hardware and the largest of its kind on the West Coast. We provide you with tools, such as 3D printers, soldering stations, and other equipment free of charge. IDEA Hacks is a platform for you to experiment, collaborate, and develop tangible products from scratch in 36 hours.
                    <br><br> This year our theme is “Work From Home”. This means you will be challenged to create something that focuses on enhancing our own daily routines at home in these challenging times, whether that means increased sustainability, comfort, and more. Spend the weekend with us. We are excited to innovate and create together.
                </p>
            </div>
        </div>

        <div id='schedule' class='tan-box'></div>

        <!-- SCHEDULE -->

        <div class='container-fluid schedule-section'>
            <div class='text-center'>
                <img class='section-header' src="/img/index/schedule.png">
            </div>

            <div>
                <div class='schedule-day'>
                    <img class='day1' src="/img/index/day1.png"></img>
                    <div class='schedule-text1'>
                        <b>FRIDAY, JANUARY 15</b>
                    </div>
                </div>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>REGISTRATION</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>5 PM - 6 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>CHECK IN</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>5 PM - 7 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>TEAM FORMATION</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>7 PM - 8 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>WORKSHOP</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>8 PM - 9 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>OPENING STATEMENTS</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>9 PM - 10 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>HACKING BEGINS</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>10 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <div class='schedule-day'>
                    <img class='day' src="/img/index/day2.png"></img>
                    <div class='schedule-text2'>
                        <b>SATURDAY, JANUARY 16</b>
                    </div>
                </div>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>REGISTRATION</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>5 PM - 6 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>CHECK IN</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>5 PM - 7 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>TEAM FORMATION</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>7 PM - 8 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>WORKSHOP</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>8 PM - 9 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>OPENING STATEMENTS</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>9 PM - 10 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>HACKING BEGINS</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>10 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>


                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>


                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <div class='schedule-day'>
                    <img class='day' src="/img/index/day3.png"></img>
                    <div class='schedule-text3'>
                        <b>SUNDAY, JANUARY 17</b>
                    </div>
                </div>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>REGISTRATION</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>5 PM - 6 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>CHECK IN</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>5 PM - 7 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>TEAM FORMATION</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>7 PM - 8 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>WORKSHOP</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>8 PM - 9 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>OPENING STATEMENTS</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>9 PM - 10 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>HACKING BEGINS</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>10 PM</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>


                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>


                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>


                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>EVENT</p>
                        </div>
                        <div class="col-xs-4 schedule-time text-center">
                            <p>TIME</p>
                        </div>
                        <div class="col-xs-4 location text-right">
                            <p>LOCATION</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id='faq' class='white-box'></div>

        <!-- FAQ -->

        <div class='container-fluid faq-section'>
            <div class='text-center'>
                <img class='section-header' src="/img/index/faq.png">
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">How will the hackathon work?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">Because of concerns about coronavirus, we will be running the hackathon entirely remotely. We have put together three categories of <a class='faq-link' href='/boxes'>boxes</a> of parts, each centered around their own theme, which we will ship directly to the address you provide. You will have three days to prepare your project from the parts in your box and will present your creation to our judges remotely. Depending on participation, projects may be judged in groups by which box they were created from.</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">Will I be able to work with a team?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">Due to the remote nature of the hackathon and the coronavirus pandemic, we are not allowing large teams. You are given the option to put one person on your application to be your teammate, but it is up to you to work out how to properly collaborate on your project. Depending on the number of teams and individual hackers, teams may be judged separately from individuals.</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">Who can participate?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">All students interested are encouraged to apply. Although we primarily cater to UCLA engineering students, every application will be considered.</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">What does a "Hardware Hackathon" mean?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">At IDEA Hacks, a hardware hackathon means that your project can be anything you like as long as it includes a hardware component.</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">What if I don't know anything about hardware?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">You are definitely not alone! During the hackathon, there will be workshops on hardware and hacking that will be accessible for everyone. In addition, our resources page provides quickstart info and basic ideas for specifc parts featured in our <a class='faq-link' href='/boxes'>boxes</a>. Create an account to check out what's in these boxes!</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">How do I apply?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">Hackers can apply on this website! Applications will be out by early November, and will close in mid-December. To get an email reminder once the application gets sent out, like our Facebook page <a class='faq-link' href='https://www.facebook.com/ideahacks.la/?fref=mentions&__xts__[0]=68.ARAAgTMAZ2_QSZ92MUv70wZOXTYrq7JNCYp2KDo9G_xIJm1waShx8XCBA5N6ctUDqo0rLL8wA1jsXqruGi7wX3RaNvgkWs4igLm0f2W_2-tX0D9jp11Pllq7REjEYwKHpVV788nRzDjX_4QPMbxuJpafpxu5MC1Cm18w4P6Uh1aWofLaBk-2nA&__tn__=K-R' target='blank'>here</a>. Applications are reviewed and accepted on a first come first served basis, so apply early!</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">What do hackers gain from participating?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">You will get tons of benefits from participating! You will get to keep all of your parts and will get a free hackathon t-shirt and swag from our sponsors. On top of that, you'll get personal exposure with reps from industry-leading companies and the opportunity to have your resume included in a resume book sent to our sponsors. The top the projects in each category will receive prizes, and most important of all, you'll gain valuable project experience and have the opportunity to learn something new!</p>
                </div>
            </div>

            <div class="q-a">
                <div class="question-section clearfix">
                    <p class="q">Q.</p>
                    <p class="question">How do I contact IDEA HACKS?</p>
                </div>
                <div class="answer-section clearfix">
                    <p class="a">A.</p>
                    <p class="answer">Email us at <a class='faq-link' href='mailto:team@ideahacks.la'>team@ideahacks.la</a>! You can also like our Facebook page and follow us on Instagram.</p>
                </div>
            </div>

            <div class='tan-box1'></div>
        </div>

        <div id='sponsors' class='tan-box'></div>

        <!-- SPONSORS -->

        <div class='container-fluid sponsors-section'>
            <div class='text-center'>
                <img class='section-header' src="/img/index/sponsors.png">
            </div>
            <p>Interested in sponsoring? <br /> Check out our sponsorship brochure <a class='brochure-link' href='/files/20-sponsorship-packet.pdf' target='_blank'>here</a>!</p>
            <div class='text-center large-logos'>
                <a href='http://www.ti.com/' target='_blank'><img class='large-logo' src="/img/company_logos/ti.png"></a>
                <a href='https://www.qualcomm.com/' target='_blank'><img class='large-logo' src="/img/company_logos/qualcomm.png"></a>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>


</body>
</html>
