<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/index.css">

    <!-- SCRIPTS -->
    <script src='/js/navbar-scroll.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
    <!-- NAVBAR -->
    {{> navbar }}

    <!-- BANNER -->
    <div class='container-fluid home-banner'>
        <div class='col-md-7'>
            <img class='banner-graphic' src="/img/index/main-graphic.png">
        </div>
        <div class='col-md-5 text-right banner-details'>
            <img class='header-graphic' src="/img/index/ideahacks-header.png">
            <p class="date">January 18 - 20, 2019</p>
            <p class="location">Grand Ackerman Ballroom, UC Los Angeles</p>
            <button class='apply'>Apply Now</button>
        </div>
    </div>

    <!-- SCHEDULE -->

    <div class='container-fluid schedule-section'>
        <h1 class='text-center theme-red section-header'> SCHEDULE </h1>
        <p class='day text-center col-md-4'>Friday, January 18</p>
        <p class='day text-center col-md-4'>Saturday, January 19</p>
        <p class='day text-center col-md-4'>Sunday, January 20</p>
        <div class='schedule col-md-4'>
            <p>hello world</p>
        </div>
        <div class='schedule col-md-4'>
            <p>hello world</p>
        </div>
        <div class='schedule col-md-4'>
            <p>hello world</p>
        </div>
    </div>

    <!-- FAQ -->

    <div class='container-fluid faq-section'>
        <h1 class='text-center theme-white section-header'> FAQ </h1>
        <div class='questions theme-white col-md-6'>
            <p>What is IDEA Hacks?</p>
        </div>
        <div class='questions theme-white col-md-6'>
            <p>What is IDEA Hacks?</p>
        </div>
    </div>

    <!-- SPONSORS -->

    <div class='container-fluid sponsors-section'>
        <h1 class='text-center theme-red section-header'> SPONSORS </h1>
    </div>


</body>
</html>
