<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the ninth time, UCLA IEEE is pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">
    <meta name="google-site-verification" content="AO6dZVpzA4IP1Lf-v68mikBfQsndom1J1cBfz_vsWAc" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700;1,900&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/index.css">

    <!-- SCRIPTS -->
    <script src='/js/navbar-scroll.js'></script>
    <script src='/js/index.js'></script>
    <script src='/js/announcement.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class='wrapper'>

        <!-- NAVBAR -->

        {{> navbar }}

        <!-- ANNOUNCEMENT -->

        <!-- Hide by default to prevent content flash when loading -->
        <div id="announcement" class="container-fluid" style="display: none">
            <span id="close">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
            <p>
                Last day to apply is 12/4!
            </p>
        </div>

        <!-- BANNER -->

        <div class='logo-header'>
            <span class='logo-img-header'>
                {{!-- <img class='logo-img' src='/img/index/landingLogo.svg' /> --}}
                <img class='logo-img' src='/img/index/landinglogo.png' />
                {{!-- <p class="dates">January 20 - 22, 2023</p> --}}
                <br><br><br><br><br>
                <a id="apply" href="/dashboard/application"><button>Apply Here</button></a>
            </span>
            <video class='img-header' src='/img/index/landingHeader.webm' autoplay muted loop />
        </div>

        {{!-- <div id='about' class='black-box'></div> --}}

        <!-- ABOUT -->


        <div class='black-tab-container about-section row'>
            <div>
                <div>
                    <h1>
                        <!-- Just here to satisfy CSS -->
                    </h1>
                </div>
            </div>

            <div class="col-lg-7 col-md-6 description">
                <h1>About</h1>
                <p>
                    For the ninth time, IEEE at UCLA is pleased to present IDEA
                    Hacks, one of the few college hackathons that provide an
                    emphasis in hardware. At IDEA Hacks we provide our hackers
                    with hardware components and tools—such as soldering
                    stations, 3D printers, and laser cutters—all free of charge.
                    Not only will these hackers code, but they will also create
                    tangible products from scratch over the course of 36 hours.
                    This year’s IDEA Hacks theme is “Game Time” which asks
                    hackers to gamify a daily practice, an
                    environmentally-friendly behavior, or any mundane task.
                    Products should encourage healthy habits by making one’s
                    routines more engaging and enabling users to compete with
                    themselves or others. The three sub-categories—mental and
                    physical health, sustainable practices, and “just for fun”
                    (a good ole game)—promote the creation of projects that
                    benefit one’s well-being, the health of the planet, or one’s
                    own enjoyment of life.
                    <br /><br />
                    After two years of remote operation, IDEA Hacks is back to
                    being fully in person! Ackerman Grand Ballroom will be the
                    center of the event, with a few adjacent rooms in Ackerman
                    hosting our various activities throughout the hackathon. You
                    will have 36 hours to work on your project from Friday at
                    9pm to Sunday at 9am. Everything you need throughout the
                    weekend, from parts to food to knowledge, will all be right
                    at your fingertips. Communication and announcements will
                    happen through a Discord server we will set up for the
                    hackathon.
                </p>
            </div>
            <div class="col-lg-5 col-md-6 graphic">
                <img src="/img/index/aboutGraphic.png" alt="A landscape made of electrical components">
            </div>
        </div>

        <div id='schedule' class='black-box'></div>

        <!-- SCHEDULE -->

        <div class='white-tab-container schedule-section'>
            <div>
                <div>
                    <h1>Schedule</h1>
                </div>
            </div>

            <div>
                <h2 class="schedule-day">Friday, January 20</h2>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Check In</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>4:30&nbsp;PM - 8&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Sustainability Workshop</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>5&nbsp;PM - 6:00&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>E-Waste Art Social</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>6:00&nbsp;PM - 8&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Product Dev Workshop</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>6:30&nbsp;PM - 7:30&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Hacking Workshop</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>7:30&nbsp;PM - 8:30&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Opening Presentation</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>8:30&nbsp;PM - 9&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Hacking Begins</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Sensing Tech Workshop</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9&nbsp;PM - 10&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Wireless Tech Workshop</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>10&nbsp;PM - 11&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <h2 class="schedule-day">Saturday, January 21</h2>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Breakfast</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>7&nbsp;AM - 10&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Stretching Session</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9:30&nbsp;AM - 10&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>CAD Worksession</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>10&nbsp;AM - 12&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Lunch</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>12&nbsp;PM - 2&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Afternoon Game Time!</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>4&nbsp;PM - 5&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Dinner</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>6&nbsp;PM - 8&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Pitching Workshop</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>8&nbsp;PM - 9&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Yoga Session</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>10&nbsp;PM - 10:15&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Karaoke!</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>11:30&nbsp;PM - 12:00&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <h2 class="schedule-day">Sunday, January 22</h2>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Breakfast</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>7&nbsp;AM - 10&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Hacking Ends</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Round One Judging</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9:15&nbsp;AM - 10:45&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>TBD (in Ackerman)</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Final Judging</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>11&nbsp;AM - 12:30&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Awards and Closing</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>12:40&nbsp;PM - 1&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Ballroom</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id='faq' class='white-box'></div>

        <!-- FAQ -->

        <div class='black-tab-container row faq-section'>
            <div>
                <div>
                    <h1>FAQ</h1>
                </div>
            </div>

            <div class="col-md-6">
                <h2>General</h2>

                <b>Will I just be working the whole weekend?</b>
                <p>Hacking for 36 hours shouldn’t come at the expense of your mental and physical health. To demonstrate how to stay healthy while working hard, we have many fun events planned throughout the hackathon including an ongoing game room with prizes for top scorers, guided breaks, and miscellaneous mini-games distributed throughout the event.</p>

                <b>Who can attend?</b>
                <p>
                    All students interested are encouraged to apply regardless of your major or experience level!
                    And although most participants end up being UCLA engineering students, we would love to welcome participants from any major and those outside the Bruin community :)
                </p>

                <b>I don't know anything about hardware!</b>
                <p>You are definitely not alone! Before the hackathon, we will have a hacking fundamentals workshop to provide you with all the baseline knowledge you need to hit the ground running once hacking begins at 9 pm! During the hackathon, there will be workshops on various technologies and techniques such as wireless communication and CAD that will be open to everyone. There will also be mentors and other hardware experts ready to assist those who are having trouble bringing their hacks to life.</p>

                <h2>Accommodations</h2>

                <b>How much does it cost?</b>
                <p>This event is completely free of charge! We supply everything you need all the parts and food you need for the entire weekend.</p>

                <b>What should I bring?</b>
                <p>At the very least, you need a valid ID to check in for the hackathon. For the most up to date list of items to bring, please refer to our <a href="https://docs.google.com/document/d/1lCDUwGFyNZadEOUxHhgVHbRvGa-cL5xdhpJ6rdrHHTU/edit?usp=sharing" target="_blank">pre-event guide</a>.</p>

                <b>Will food be provided?</b>
                <p>We will supply 4 meals, all free of charge! This includes breakfast, lunch and dinner on Saturday as well as breakfast on Sunday. We also have several snacks thanks to our generous sponsors.</p>

                <b>How about travel costs?</b>
                <p>
                    Unfortunately, we cannot cover travel costs.
                    Since most of our participants come from UCLA, we encourage most participants to walk (or bike/scooter) to the venue if possible.
                    For those coming from outside of campus, we encourage you to use public transportation (LA Metro, Santa Manta Blue Bus, Culver City Bus) to minimize your impact on the environment.
                    If you need to use a rental vehicle, we recommend getting an electric car and charging it at one of UCLA’s many <a href="https://transportation.ucla.edu/campus-parking/electric-vehicle-charging-stations" target="_blank">EV charging stations</a>.
                </p>
            </div>

            <div class="col-md-6">
                <h2>Applications</h2>

                <b>How do I apply?</b>
                <p>Hackers can apply on this website! Applications are out now and will remain open until early January. Applications are reviewed and accepted on a first come first serve basis, so apply early! Make sure to apply by November 20, 2022 to ensure you get your preferred shirt size, make sure we can order any preferred parts you list on your application, and be entered into a special raffle as a thanks for applying early!</p>

                <b>What if I don't have a team?</b>
                <p>You are free to hack alone, but doing it with a team makes it all the more fun! We encourage everyone to be on teams of around 4-5 hackers. Not only will this make it more enjoyable, but more equipment will be available for your use. Before hacking begins, we will hold a team formation social in which you can make art out of e-waste so that everyone can have the opportunity to meet new people and form a team!</p>

                <h2>Sustainability</h2>
                <b>What are you doing to protect the environment?</b>
                <p>IDEA Hacks is committed to minimizing our event’s impact on the environment. As the largest hardware-based hackathon on the West Coast, we can set the standard for how large events can operate as sustainably as possible. Moreover, we aim to utilize the reach of the event to educate our 200+ expected participants on how they can establish environmentally-friendly habits and equip them with (free!) supplies to live more sustainably in their day-to-day lives.</p>

                <b>What can I do to help?</b>
                <p>To help us achieve our goal of making IDEA Hacks 2023 as sustainable as possible, we have a few simple requests from our hackers. Please bring your own water bottles, as well as notebooks, pens, and pencils if you plan on using them. Please pay attention and listen to our waste sorting educational material. Unplug your computer chargers when you’re not using them to minimize “vampire energy”. And, if you want to help us reduce the food wasted by the end of the event, make sure you come hungry and eat enough :)</p>

                <h2>Miscellaneous</h2>

                <b>What tools and hardware will be provided for my team?</b>
                <p>If you would like to see a specific part or device at the hackathon, you can specify so on your application and we'll do our best to accommodate! You can also view a full list of available parts on our Parts page closer to the start of the hackathon. We will also provide soldering stations, 3D printers, and laser cutters for you to use on your projects.</p>

                <b>How can I check out parts during the hackathon?</b>
                <p>Our Parts page lets you check which parts are available, and from there you'll be able to go to our parts table and have a volunteer check the part out for you. Some of our parts are consumable, but many need to be scanned so we can keep track of them. Due to changing part availability with recent part shortages, we will update this page as we get closer to the event date with any changes to our inventory.</p>

                <b>How do I contact IDEA Hacks?</b>
                <p>Email us at <a href="mailto:team@ideahacks.la">team@ideahacks.la</a>! We would love to hear from you!</p>
            </div>

        </div>

        <div id='sponsors' class='black-box'></div>

        <!-- SPONSORS -->

        <div class='white-tab-container sponsors-section'>
            <div>
                <div>
                    <h1>Sponsors</h1>
                </div>
            </div>

            <p>Interested in sponsoring? <br /> Check out our sponsorship brochure <a class='brochure-link' href='/files/IDEA Hacks Corporate Brochure (2023).pdf' target='_blank'>here</a>!</p>
            <div class='text-center large-logos'>
                <a href='https://www.infineon.com/' target='_blank'><img class='large-logo' src="/img/company_logos/infineon.png"></a>
                <a href='https://www.northropgrumman.com/' target='_blank'><img class='large-logo' src="/img/company_logos/northrop_grumman.png"></a>
                <img class='large-logo' src="/img/company_logos/traction.svg">
                <a href="https://tgif.ucla.edu/" target="_blank"><img class="large-logo" src="/img/company_logos/tgif.png"></a>
                <a href="https://www.ieee.org/" target="_blank"><img class="small-logo" src="/img/company_logos/ieee_upp.svg"></a>
                <a href="https://plateiaucla.com/" target="_blank"><img class="small-logo" src="/img/company_logos/plateia.png"></a>
                <a href="https://www.californianuggets.com/" target="_blank"><img class="small-logo" src="/img/company_logos/california_nuggets.png"></a>
                <a href="https://rhythmfoods.com/" target="_blank"><img class="small-logo" src="/img/company_logos/rhythm.png"></a>
                <a href="https://bellapita.com/" target="_blank"><img class="small-logo" src="/img/company_logos/bella_pita.jpeg"></a>
                <a href="https://www.thatsitfruit.com" target="_blank"><img class="small-logo" src="/img/company_logos/thats_it.jpg"></a>
                <a href="https://www.guayaki.com" target="_blank"><img class="small-logo" src="/img/company_logos/yerba.png"></a>
            </div>
            <br><br>
        </div>

        <div class="white-box"></div>

        <!-- UCLA PARTNERSHIPS -->

        <div class='black-tab-container sponsors-section'>
            <div>
                <div>
                    <h1>PARTNERSHIPS</h1>
                </div>
            </div>

            <p>IDEA Hacks would not be possible without our wide range of UCLA partnerships!</p>
            <div class='text-center small-logos'>
                <a href='https://www.asmebruins.com' target='_blank'><img class='med-logo' src="/img/club_logos/asme.png"></a>
                <a href='http://www.ieeewatt.ucla.edu' target='_blank'><img class='med-logo' src="/img/club_logos/ieeewatt.png"></a>
                <a href='https://3d4eatucla.github.io' target='_blank'><img class='med-logo' src="/img/club_logos/3d4e.png"></a>
                <a href='https://www.rea.seas.ucla.edu' target='_blank'><img class='med-logo' src="/img/club_logos/REA.png"></a>
            </div>
        </div>

        <div class="black-box"></div>


        <!-- INDIVIDUAL DONORS -->
        <div class="white-tab-container individual-donors-section">
            <div>
                <div>
                    <h1>
                        INDIVIDUAL DONORS
                    </h1>
                </div>
            </div>

            <div class="individual-donor">
                <img src="/img/club_logos/3d4e.png">
                <p>Donor Name Here</p>
            </div>

            <div class="individual-donor">
                <img src="/img/club_logos/ieeewatt.png">
                <p>Another Donor</p>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer }}



</body>
</html>
