<!DOCTYPE html>
<html>
<head>
  <title>IDEA Hacks '18</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <!-- Personal CSS -->
  <link rel="stylesheet" href = "/css/index.css">
</head>

<body>
  <header id = "showcase">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">IDEAHACKS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#schedule">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hackers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sponsors">Sponsors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Parts</a>
        </li>
      </ul>
    </div>
  </nav>

  <div id = "content">
    <h1>IDEA HACKS 18</h1>
    <p>
      <button type="button" class="btn btn-outline-info">Log In</button>
      <button type="button" class="btn btn-outline-info">Register</button>
    </p>
  </div>
  </header>

  <div class = "container" id = "about">
    <div class = "row">
      <div class = "col-6">
        <p>
          THE FIRST HARDWARE HACKATHON ON THE WEST COAST
        </p>
      </div>
      <div class = "col-6">
        <h2><strong><em>About</em></strong></h2>
        <p>
          For the third time in history, IEEE at UCLA and Theta Tau at UCLA are pleased to present to you California's largest college hardware-focused hackathon ever.
        </p>
        <p>
          At IDEA Hacks we provide our hackers with tools, such as 3D printers, soldering stations, and other equipment free of charge. Not only will these hackers code, but also they will create tangible products from scratch in one weekend.
        </p>
        <button type="button" class="btn btn-outline-info">Meet the Team</button>
      </div>
    </div>
  </div>

  <div class = "container-fluid" id = "schedule">
    <h1 id = "schedule-header">SCHEDULE</h1>
    <div class = "row">
      <ul class="nav nav-pills nav-justified mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-expanded="true">Day 1 - Friday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-expanded="true">Day 2 - Saturday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-dropdown1" role="tab" aria-controls="pills-profile" aria-expanded="true">Day 3 - Sunday</a>
        </li>
      </ul>
    </div>
    <div class = "row">
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <table class="table table-hover">

          <tbody>
            <tr>
              <td class = "sched-time">5:00PM - 7:00PM</td>
              <td class = "sched-event">Registration & Team Formation</td>
            </tr>
            <tr>
              <td class = "sched-time">5:30PM - 6:30PM</td>
              <td class = "sched-event">Texas Instrumental Infosession</td>
            </tr>
            <tr>
              <td class = "sched-time">8:00PM - 9:00PM</td>
              <td class = "sched-event">Opening Speeches and Presentations</td>
            </tr>
            <tr>
              <td class = "sched-time">9:00PM</td>
              <td class = "sched-event">Hacking Begins</td>
            </tr>
          </tbody>
        </table>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class = "sched-time">7:00AM - 11:00AM</td>
              <td class = "sched-event">Breakfast</td>
            </tr>
            <tr>
              <td class = "sched-time">9:00AM - 11:00AM</td>
              <td class = "sched-event">iOS Workshop</td>
            </tr>
            <tr>
              <td class = "sched-time">12:00PM - 1:00PM</td>
              <td class = "sched-event">Lunch</td>
            </tr>
            <tr>
              <td class = "sched-time">1:00PM - 1:30PM</td>
              <td class = "sched-event">Mulesoft Infosession</td>
            </tr>
          </tbody>
        </table>

        </div>
        <div class="tab-pane fade" id="pills-dropdown1" role="tabpanel" aria-labelledby="pills-dropdown1-tab">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class = "sched-time">7:00AM - 11:00AM</td>
              <td class = "sched-event">Breakfast</td>
            </tr>
            <tr>
              <td class = "sched-time">9:00AM</td>
              <td class = "sched-event">Hacking Ends</td>
            </tr>
            <tr>
              <td class = "sched-time">9:00AM - 9:30AM</td>
              <td class = "sched-event">Exhibition Setup</td>
            </tr>
            <tr>
              <td class = "sched-time">9:30AM - 11:00AM</td>
              <td class = "sched-event">Judging</td>
            </tr>
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </div>

  <div class = "container" id = "faq">

    <h1>Frequently Asked Questions</h1>

    <div class = "row">
      <div class = "col-3">
        <h2>SECTIONS</h2><br/>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
          <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-home" aria-expanded="true">General</a>
          <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-applications" role="tab" aria-controls="v-pills-profile" aria-expanded="true">Application</a>
          <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-accom" role="tab" aria-controls="v-pills-messages" aria-expanded="true">Accommodations</a>
          <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-misc" role="tab" aria-controls="v-pills-settings" aria-expanded="true">Miscellaeous</a>
        </div>
      </div>
      <div class = "col-9">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h2>General</h2>
            <h3>Who can attend?</h3>
            As we are still a young event, IDEA Hacks is primarily looking for UCLA students. However, all hackers are encouraged to apply as exceptions made on an application basis.

            <h3>Where is it?</h3>
            IDEA Hacks will be held at Ackerman Grand Ballroom, which lies at the heart of UCLA's campus.

            <h3>What is the theme for this year's IDEA Hacks?</h3>
            The theme for this year's IDEA Hacks is Sports Technology! This means that you will be challenged to create something that relates to exercise, sportsmanship, and the spirit of friendly competition!
          </div>
          <div class="tab-pane fade" id="v-pills-applications" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h2>Applications</h2>
            <h3>How do I apply?</h3>
            <p>Hackers can apply on this website! Applications usually open in the middle of Fall quarter and stay open up until a couple weeks before the hackathon. Make sure to keep an eye out for IDEA Hacks notifications on when to start applying. Applications are reviewed and accepted on a first come first serve basis, so apply early!</p>

            <h3>I don't know anything about hardware!</h3>
            <p>You are definitely not alone! During the hackathon, there will be workshops on hardware and hacking that will be accessible for everyone. There will also be mentors and other hardware experts ready to assist those who are having trouble bringing their hacks to life.</p>

            <h3>What if I don't have a team?</h3>
            <p>You are free to hack alone, but that's no fun! We encourage everyone to be on teams of around 4-5 hackers. Not only will you have more fun, but more equipment will be available for your use. That being said, we do hold a team formation session before hacking begins so that hackers can be successful in finding the right teammates.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-accom" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <h2>Accommodations</h2>
            <h3>How much does it cost?</h3>
            <p>IDEA Hacks costs absolutely nothing to participate in. There is no reason not to come out, learn something new, and have fun!</p>

            <h3>What should I bring?</h3>
            <p>A valid ID is required for admission into Ackerman Grand Ballroom, so don't forget to bring it! If you don't live around UCLA, we recommend bringing necessary toiletries and a sleeping bag. We will have a sleeping/break room for hackers that want to relax and get some fresh air.</p>

            <h3>Will food be provided?</h3>
            <p>Yes! Meals for all of the days of the hackathon will be provided for all hackers and participants. Please notify us of allergies or food preferences within your application and we'll do our best to accomodate.</p>

            <h3>How about travel costs?</h3>
            <p>Unfortunately, we will not be able to cover transportation costs for this year's event. If you plan to bring a vehicle and need parking, please specify so on your application.</p>
          </div>
          <div class="tab-pane fade" id="v-pills-misc" role="tabpanel" aria-labelledby="v-pills-settings-tab">
            <h2>Miscellaneous</h2>
            <h3>What tools and hardware will be provided for my team?</h3>
            <p>If you would like to see a specific part or device at the hackathon, you can specify so on your application and we'll do our best to accomodate! You can also view a full list of available parts on our Parts page.</p>

            <h3>Where can I find the rubric?</h3>
            <p>We're still working on the rubric, but we'll put it up as soon as we're done!</p>

            <h3>How can I check out parts during the Hackathon?</h3>
            <p>Our Parts page functions as a parts checkout system where you can check out parts to use or check for its availability. Certain parts will have a barcode attached to them which helps us keep track of which team is currently occupying a specific part.</p>

            <h3>How do I contact IDEA Hacks?</h3>
            <p>Email us at team@ideahacks.la! We would love to hear from you!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class = "container" id = "sponsors">
    <div class = "row">
      <h1 id ="sponsor">SPONSORS</h1>
    </div>
  </div>
</div>

</body>
</html>
