<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the eighth time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700;1,900&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/index.css">

    <!-- SCRIPTS -->
    <script src='/js/navbar-scroll.js'></script>
    <script src='/js/index.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

    <div class='wrapper'>

        <!-- NAVBAR -->

        {{> navbar }}

        <!-- ANNOUNCEMENT -->
        <div id="announcement" class="container-fluid">
            <span id="close" onclick="$(this).parent().hide()">
                <span class="glyphicon glyphicon-remove"></span>
            </span>
            <p>
                The deadline for our application is coming up soon! The
                application is due on <strong>12/15</strong> for an early-bird
                decision and on <strong>1/5</strong> for the second round.
                <br><br>
                <a href="/dashboard/application">Sign up and apply now!</a>
            </p>
        </div>

        <!-- BANNER -->

        <div class="filler"></div>
        <div class='logo-header'>
            <img class='img-header' src='/img/index/landingHeader.png' />
            <span class='logo-img-header'>
                <img class='logo-img' src='/img/index/landinglogo.png' />
                <p class="dates">January 14 - 16, 2022</p>
                <a id="apply" href="/dashboard/application"><button>Apply</button></a>
            </span>
        </div>

        <div id='about' class='black-box'></div>

        <!-- ABOUT -->

        <div class='black-tab-container about-section row'>
            <div>
                <div>
                    <h1>
                        <!-- Just here to satisfy CSS -->
                    </h1>
                </div>
            </div>

            <div class="col-lg-7 col-md-6 description">
                <h1>About</h1>
                <p>
                    For the eighth time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, one of the few college hackathons that provide an emphasis in hardware. At IDEA Hacks we provide our hackers with tools, such as 3D printers, soldering stations, and other equipment free of charge. Not only will these hackers code, but they will also create tangible products from scratch over the course of 36 hours.
                    <br><br> This year’s IDEA Hacks theme is about finding ways to enhance your experience outside. During quarantine, many people have used the outdoors as an escape from online schooling and meetings. We hope to inspire hackers to create new technologies to increase accessibility to nature, emphasize environmental sustainability, or even just improve the outdoor experience. We believe innovations for the great outdoors have the potential to change the way students embrace the greater world around us.
                </p>
            </div>
            <div class="col-lg-5 col-md-6 graphic">
                <img src="/img/index/aboutGraphic.png" alt="A landscape made of electrical components">
            </div>
        </div>

        <div id='schedule' class='black-box'></div>

        <!-- SCHEDULE -->

        <div class='white-tab-container schedule-section'>
            <div>
                <div>
                    <h1>Schedule</h1>
                </div>
            </div>

            <div>
                <h2 class="schedule-day">Friday, January 14</h2>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Check In</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>4:30&nbsp;PM - 8&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Team Formation</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>6:30&nbsp;PM - 7&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Team Registration</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>8&nbsp;PM - 8:30&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Opening Statements</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>8:30&nbsp;PM - 9&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Hacking Begins</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                </div>
            </div>
            <div>
                <h2 class="schedule-day">Saturday, January 15</h2>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Breakfast</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>7&nbsp;AM - 10&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Lunch</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>12&nbsp;PM - 2&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Dinner</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>6&nbsp;PM - 7:30&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                </div>
            </div>

            <div>
                <h2 class="schedule-day">Sunday, January 16</h2>
                <div class='schedule'>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Breakfast</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>7&nbsp;AM - 10&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Hacking Ends</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Exhibition Setup</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9&nbsp;AM - 9:30&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Judging</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>9:30&nbsp;AM - 11&nbsp;AM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman 2408, 2412, 3516</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Judging Finals</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>11&nbsp;AM - 12:30&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='col-xs-4 event'>
                            <p>Closing and Awards</p>
                        </div>
                        <div class="col-xs-3 schedule-time text-center">
                            <p>12:30&nbsp;PM - 1&nbsp;PM</p>
                        </div>
                        <div class="col-xs-5 location text-right">
                            <p>Ackerman Grand Ballroom</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div id='faq' class='white-box'></div>

        <!-- FAQ -->

        <div class='black-tab-container row faq-section'>
            <div>
                <div>
                    <h1>FAQ</h1>
                </div>
            </div>

            <div class="col-md-6">
                <h2>General</h2>
                <b>Who can attend?</b>
                <p>All students interested are encouraged to apply. Although we primarily cater to UCLA engineering students, every application will be considered.</p>
                <b>I don't know anything about hardware!</b>
                <p>You are definitely not alone! During the hackathon, there will be workshops on hardware and hacking that will be accessible for everyone. There will also be mentors and other hardware experts ready to assist those who are having trouble bringing their hacks to life.</p>

                <h2>Accommodations</h2>
                <b>How much does it cost?</b>
                <p>IDEA Hacks costs absolutely nothing to participate in. There is no reason not to come out, learn something new, and have fun!</p>
                <b>What should I bring?</b>
                <p>A valid ID is required for admission into Ackerman Grand Ballroom, so don't forget to bring it! If you don't live around UCLA, we recommend bringing necessary toiletries and a sleeping bag. We will have a sleeping/break room for hackers that want to relax and get some fresh air.</p>
                <b>Will food be provided?</b>
                <p>Yes! Meals for all of the days of the hackathon will be provided for all hackers and participants. Please notify us of allergies or food preferences within your application and we'll do our best to accommodate.</p>
                <b>How about travel costs?</b>
                <p>Unfortunately, we will not be able to cover transportation costs or parking for this year's event.</p>
            </div>

            <div class="col-md-6">
                <h2>Applications</h2>
                <b>How do I apply?</b>
                <p>Hackers can apply on this website! Applications usually open in the middle of Fall quarter and stay open up until a couple weeks before the hackathon. Make sure to keep an eye out for IDEA Hacks notifications on when to start applying. Applications are reviewed and accepted on a first come first serve basis, so apply early!</p>
                <b>What if I don't have a team?</b>
                <p>You are free to hack alone, but that's no fun! We encourage everyone to be on teams of around 4-5 hackers. Not only will you have more fun, but more equipment will be available for your use. We hold a team formation session before hacking begins so that hackers can find teammates on the day of the hackathon.</p>

                <h2>Miscellaneous</h2>
                <b>What tools and hardware will be provided for my team?</b>
                <p>If you would like to see a specific part or device at the hackathon, you can specify so on your application and we'll do our best to accommodate! You can also view a full list of available parts on our Parts page closer to the start of the hackathon.</p>
                <b>How can I check out parts during the hackathon?</b>
                <p>Our Parts page lets you check which parts are available, then you'll be able to go to our parts table and have a volunteer check the part out for you. Some of our parts are consumable, but many need to be scanned so we can keep track of them.</p>
                <b>How do I contact IDEA Hacks?</b>
                <p>Email us at <a href="mailto:team@ideahacks.la">team@ideahacks.la</a>! We would love to hear from you!</p>
            </div>

        </div>

        <div id='sponsors' class='black-box'></div>

        <!-- SPONSORS -->

        <div class='white-tab-container sponsors-section'>
            <div>
                <div>
                    <h1>Sponsors</h1>
                </div>
            </div>

            <p>Interested in sponsoring? <br /> Check out our sponsorship brochure <a class='brochure-link' href='/files/IDEA Hacks Corporate Brochure (2022).pdf' target='_blank'>here</a>!</p>
            <div class='text-center large-logos'>
                <a href='http://www.ti.com/' target='_blank'><img class='large-logo' src="/img/company_logos/ti.png"></a>
                <a href='https://www.northropgrumman.com/' target='_blank'><img class='large-logo' src="/img/company_logos/northrop.png"></a>
                <a href='https://www.kneron.com/' target='_blank'><img class='large-logo' src="/img/company_logos/kneron.png"></a>
                <a href='https://www.moveparallel.com/' target='_blank'><img class='large-logo' src="/img/company_logos/parallelsystems.png"></a>
                <a href='https://intel.com/' target='_blank'><img class='large-logo intel' src="/img/company_logos/intel.png"></a>
                <a href='https://usac.ucla.edu/' target='_blank'><img class='large-logo' src="/img/company_logos/usac.png"></a>
                <a href='https://guayaki.com/' target='_blank'><img class='large-logo' src="/img/company_logos/yerba.png"></a>
                <a href='https://www.wetzels.com/' target='_blank'><img class='large-logo' src="/img/company_logos/wetzels.svg"></a>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>


</body>
</html>
