<!DOCTYPE html>
<html lang="en" class="fullscreen">
<head>
    <title>Login - IDEA Hacks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- PERSONAL STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/login-registration.css' />

    <!-- SCRIPTS -->
    <script src='/js/login.js'></script>
    <script src='/js/navbar-scroll.js'></script>
</head>
<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="background theme-yellow col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <form class='ideahacks-form'>
                <p class='error-message'>{{ gError }}</p>

                <label for="username">Email</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Email" required>

                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>

                <button type="submit" class="login">LOG IN</button>
                <br>
                <p>Don't have an account? <a href='/registration'>Sign up!</a></p>
                <p><a name='password-recover'>Forgot your password?</a></p>
                <hr>
                <a href="/login/google"><img src="/img/login/google.png" id="google" draggable="false"></a>
                <p class="warning">@g.ucla.edu emails only</p>
            </form>
        </div>
    </div>

</body>
</html>
