<!DOCTYPE html>
<html lang="en" class="fullscreen">
<head>
    <title>Login - IDEA Hacks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- PERSONAL STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/registration.css' />
    <link rel="stylesheet" type='text/css' href="/css/navbar.css">

    <!-- SCRIPTS -->
    <script src='/js/login.js'></script>
    <script src='/js/navbar-scroll.js'></script>
</head>
<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="main_pic col-md-7">
            <img src="/img/index/main-graphic.png">
        </div>

        <div class="form-side col-md-5">
            <form class='ideahacks-form'>
                <p class='error-message'></p>

                <label for="username">USERNAME</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="USERNAME" required>

                <label for="password">PASSWORD</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="PASSWORD" required>

                <button type="submit" class="login">LOG IN</button>
                <br/>
                <a href='/registration'><button type="button" class="register">I don't have an account</button></a>
                <p><a class='forgot-pass' name='password-recover' style='cursor: pointer;'>Forgot your password?</a></p>
            </form>
        </div>
    </div>

</body>
</html>
