<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard - Me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600i" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/me.css' />

    <!-- SCRIPTS -->
    <script src='/js/me.js'></script>
</head>
<body class='background-grey'>
    <!-- NAVBAR -->
    {{> navbar }}

    <!-- TAKE ME TO ADMIN -->
    {{#if user.isAdmin}}
    <div class='container-fluid text-right'>
        <a href='/admin'>
            <button>Take me to Admin</button>
        </a>
    </div>
    {{/if}}

    <!-- BANNER -->
    <div class='banner'>
        <h1 class='transparent-ucla-gold'>Account Details</h1>
    </div>

    <!-- CONTENT -->
    <div class='container text-center'>
        <form class='ideahacks-form'>
            <label>First Name:</label>
            <input type='text' />
            <label>Last Name:</label>
            <input type='text' />
            <label>Change Password:</label>
            <input type='password' />
        </form>
    </div>

    <!-- LOGOUT -->
    <div class='text-center'>
        <div class='button-container text-center'>
            <button class='check-out-button'>I'm leaving IDEA Hacks</button>
            <a href='/logout'>
                <button>Logout</button>
            </a>
        </div>
    </div>

    <!-- FEEDBACK FORM -->
    <div class='feedback-form container-fluid text-center'>
        <h2 class='ucla-blue'>Leave us some feedback!</h2>
        <p>How are we doing? How's the user experience of the website?</p>
        <form class='ideahacks-form' name='feedback-form'>
            <textarea name='content' rows='3' required></textarea>
            <button type='submit'>Send</button>
        </form>
        <p class='response-message'></p>
    </div>
</body>
</html>
