<!DOCTYPE HTML>
<html>
<head>
    <title>Dashboard - Me</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- SOCKET IO -->
    <script src='/socket.io/socket.io.js'></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/me.css' />

    <!-- SCRIPTS -->
    <script src='/js/me.js'></script>
</head>
<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class='container'>
            <img id='welcome-img' src='/img/welcome.png' />
            <h3 id='welcome-name'>{{user.firstName}} {{user.lastName}}</h3>
        </div>

        <div class='admin-button'>
          {{#if user.isAdmin}}
          <a href='/admin'><button>ADMIN ACCESS</button></a>
          {{/if}}
        </div>

        <!-- CHANGE PROFILE INFORMATION-->
        <div class='container text-center'>
            <div class='ideahacks-form'>
                <form class='profile-form'>
                    <p class='profile-form-message'></p>
                    <div class='form-group'>
                        <div class='row'>
                            <label class='text-right'>Email</label>
                        </div>
                        <div class='row'>
                            <input class='text-left' type='email' name='email' value='{{user.email}}' />
                        </div>
                    </div>
                    <div class='form-group'>
                        <div class='row'>
                            <label class='text-right'>Password</label>
                        </div>
                        <div class='row'>
                            <input class='text-left' name='password' type='Password' />
                        </div>
                    </div>
                    <div class='row'>
                        <button type='submit' class='save-button'>Save Changes</button>
                    </div>
                </form>
                <div class='row'>
                    <a href='/logout'><button>Logout</button></a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
