<!DOCTYPE HTML>
<html>
<head>
    <title>Me - Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/meta_thumbnail.png">
    <meta property="og:description" content="For the seventh time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/me.css' />

    <!-- SCRIPTS -->
    <script src='/js/me.js'></script>
</head>
<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="houseline"></div>

        <div class='container text-center'>
            <h1 id="welcome">WELCOME</h1>
        </div>

        <div class="button-container">
            {{#if user.isAdmin}}
                <a href='/admin'><button class="admin">Admin</button></a>
            {{/if}}

            <a href="/dashboard/me/settings"><button class="settings">Settings</button></a>
            <a href="/logout"><button class="logout">Log Out</button></a>
        </div>

        <!-- APPLICATION STATUS -->
        <div class='background theme-yellow container text-center'>
            <h1>application status</h1>

            <div class="status-container">
                {{#if user.hasApplication}}
                    <div class="status" style="background-color: {{statusColor}};">{{user.applicationStatus}}</div>
                {{else}}
                    <div class="status no-application">No Application</div>
                {{/if}}
            </div>
            {{#unless user.hasApplication}}
                <a href="/dashboard/application" class="apply"><button>Apply Now!</button></a>
            {{/unless}}
        </div>
    </div>

</body>
</html>
