<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy - IDEA Hacks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/meta_thumbnail.png">
    <meta property="og:description" content="For the seventh time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/privacy.css">
</head>
<body>

    <div class="wrapper">
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="black-tab-container privacy-container">
            <div>
                <div>
                    <h1>Privacy Policy</h1>
                </div>
            </div>

            <p>
                When you log in with Google, the only information we take is your email address.
                We also request access to your profile so that, in the future, we can use that
                information to help fill out your application for you. This isn't implemented yet,
                so although we request it, we don't touch your profile information.
                <br><br>
                We use your email purely for identifying your account and contacting you. We store
                your email in our hosted MongoDB Atlas database and provide it to SendGrid, our
                mailing provider, to send you a verification email. If you submit a resume, it may
                be included in a resume book which we share with sponsors. We share your information with
                no one else outside of the IDEA Hacks organization. If an occasion comes up where we
                would need to share some of your other information, we will get your consent before sharing it.
                <br><br>
                If you would like to verify what information we collect from your Google profile,
                check out our source code in the <code>ideahacks/ideahacks.la</code> repository on GitHub.
            </p>
        </div>
    </div>

</body>
</html>
