<!DOCTYPE html>
<html>
<head>
    <title>Privacy Policy - IDEA Hacks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/privacy.css">
</head>
<body>

    <div class="wrapper">
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="houseline"></div>

        <div class="background theme-yellow col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
            <h1>privacy policy</h1>
            <div class="text-box">
                <p>
                    When you log in with Google, the only information we take is your email.
                    We also request access to your profile so that, in the future, we can use that
                    information to help fill out your application for you. This isn't implemented yet,
                    so although we request it, we don't touch your profile information.
                    <br><br>
                    We use your email purely for identifying your account and contacting you. We do not
                    share your email or other information with anyone outside of the IDEA Hacks organization.
                    If an occasion comes up where we would need to share some of your information (e.g. a
                    resume book for sponsors), we will get your consent before sharing it.
                    <br><br>
                    If you would like to verify what information we collect from your Google profile,
                    check out our source code in the <code>ideahacks/ideahacks.la</code> repository on GitHub.
                </p>
            </div>
        </div>
    </div>

</body>
</html>
