<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration - IDEA Hacks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the ninth time, UCLA IEEE is pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">

    <!-- PERSONAL STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/login-registration.css' />

    <!-- SCRIPTS -->
    <script src='/js/registration.js'></script>
</head>

<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="houseline"></div>

        <div class="background col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-12">
            <form class='ideahacks-form'>
                <h1 class="register">Register</h1>
                <h2>Choose email and password</h2>

                <div class="input-wrapper">
                    <p class='error-message'></p>

                    <label for="username">Email</label>
                    <input type="email" name="email" class="form-control" id="username" placeholder="Enter Email" required>

                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password" required>


                    <label for="password">Confirm Password</label>
                    <input type="password" name="password-confirm" class="form-control" placeholder="Re-Enter Password" required>
                </div>

                <button type="submit" class="login">Sign Up</button>

                <div>
                    <p class="has-account">Already have an account? <a class='forgot-pass' href='/login'>Log in!</a></p>
                </div>

            </form>
        </div>
    </div>

</body>
</html>
