<!DOCTYPE html>
<html lang="en" class="fullscreen">
<head>
<title>Registration - IDEA Hacks</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- JQUERY -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<!-- PERSONAL STYLESHEETS -->
<link rel='stylesheet' type='text/css' href='/css/registration.css' />

<!-- SCRIPTS -->
<script src='/js/registration.js'></script>
</head>

<body class="fullscreen">
    <div class="logo">
        <img src="/img/navbar-icon.svg"> </svg>
        IDEA HACKS
    </div>

    <div class="box">

        <div class = "computer_picture">
            <img src="/img/registration/cloudComputerPhone.png">
        </div>

        <div class = "words">
        <br>

            <div class = "register">
                 Register
            </div>
            <br>
                <form action = "/registration" method = "get">

                <input class="form_input" type ="text" name ="email" placeholder = "Email" maxlength = "100"/> <br>
                <input class="form_input" type ="text" name ="password" placeholder = "Password" maxlength = "100"/> <br>
                <input class="form_input" type ="text" name ="confirm_pwd" placeholder = "Confirm Password" maxlength = "100"/> <br>
                <input class="sign_up" type= "button" value ="Sign Up" /> <br> <br>

            <div class = "no_account_register">
                <span style="color: black "> <br>Already have an account? </span>

                <a style="text-decoration:none" "href="/login">Login!</a>
            </div>
    </div>


</body>
</html>
