<!DOCTYPE html>
<html lang="en">
<head>
<title>Registration - IDEA Hacks</title>
<meta charset="UTF-8">

<!-- JQUERY -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<!-- PERSONAL STYLESHEETS -->
<link rel='stylesheet' type='text/css' href='/css/registration.css' />

<!-- SCRIPTS -->
<script src='/js/registration.js'></script>
</head>

<body>
        <div class="logo">
            <img src="/favicon.ico">
                IDEA HACKS
        </div>

        <div class="box">
            <div class = "words">
            Register
            </div>
        </div>

</body>
</html>
