
<div class="create_account_heading">
<h1>Create an Account</h1>
</div>

<div class = "main_body" style="position:fixed">
<hr align="center"><br>

<form action="/registration" method="POST">
<strong>Email</strong>
<input class="input" type="email" name="email"><br>
<strong> Password</strong>
<input class="input" type="text" name="password"><br>
<strong>Confirm Password</strong>
<input type="text" class="input" name="password-confirm"><br>
<input class="create_account_button" type="submit" name="Create Account" value="Create Account"/>
<p class='error-message'></p>
</form>

<div class="account_already">
<p>Already have an account? <a class="login_hyperlink" href="/login">Login</a></p>
</div>
</div>

<footer style="margin:top:10px;">
<strong>Copyright &copy; IDEA Hacks </strong>
</footer>
