<!DOCTYPE html>
<html lang="en" class='fullscreen'>
<head>
    <title>Registration - IDEA Hacks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

    <!-- PERSONAL STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' type='text/css' href='/css/form.css' />
    <link rel='stylesheet' type='text/css' href='/css/registration.css' />

    <!-- SCRIPTS -->
    <script src='/js/registration.js'></script>
</head>

<body>

    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}

        <div class="main_pic col-md-7">
            <img src="/img/index/main-graphic.png">
        </div>

        <div class="form-side col-md-5">
            <form class='ideahacks-form'>

                <p class='error-message'></p>

                <label for="username">USERNAME</label>
                <input type="text" name="email" class="form-control" id="username" placeholder="USERNAME" required>

                <label for="password">PASSWORD</label>
                <input type="password" name="password" class="form-control" id="password" placeholder="PASSWORD" required>


                <label for="password">CONFIRM PASSWORD</label>
                <input type="password" name="password-confirm" class="form-control" placeholder="PASSWORD" required>

                <button type="submit" class="login">SIGN UP</button>

                <div>
                    <p><a href='/login'>Already have an account? Log in here!</a></p>
                </div>

            </form>
        </div>

    </div>

</body>
</html>
