<!DOCTYPE html>
<html lang="en">
<head>
    <title>Registration - IDEA Hacks</title>
    <meta charset="UTF-8">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- GOOGLE FONTS -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

    <!-- PERSONAL STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/registration.css' />

    <!-- SCRIPTS -->
    <script src='/js/registration.js'></script>
</head>
<body>
    <div class="idea_hacks_banner">
        <h1>IDEA HACKS</h1>
    </div>

    <div class="create_account_heading">
      <h1>Create an Account</h1>
    </div>

    <div class = "main_body" style="position:fixed">
        <hr align="center"><br>

        <form action="/registration" method="POST">
            <strong>Email</strong>
            <input class="input" type="text" name="email"><br>
            <strong> Password</strong>
            <input class="input" type="text" name="password"><br>
            <strong>Confirm Password</strong>
            <input type="text" class="input" name="password-confirm"><br>
            <input class="create_account_button" type="submit" name="Create Account" value="Create Account"/>
        </form>

        <div class="account_already">
            <p>Already have an account? <a class="login_hyperlink" href="/login">Login</a></p>
        </div>
    </div>

    <footer style="margin:top:10px;">
        <strong>Copyright &copy; IDEA Hacks </strong>
    </footer>
</body>
</html>
