<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IdeaHacks 2018 Registration</title>
</head>
<body>
<h1>Create an Account </h1>
  <form action='/registration' method='post'>
    <input type="text" name="email"> <br>
    <input type="text" name="password"> <br>
    <input type="text" name= "password-confirm"> <br>
    <input type="submit" name="submit">
  </form>
</body>
</html>
