<!DOCTYPE html>
<html lang="en">
<head>
<title>Registration - IDEA Hacks</title>
<meta charset="UTF-8">

<!-- JQUERY -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

<!-- GOOGLE FONTS -->
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

<!-- PERSONAL STYLESHEETS -->
<link rel='stylesheet' type='text/css' href='/css/registration.css' />

<!-- SCRIPTS -->
<script src='/js/registration.js'></script>
</head>
    <body>
        <div class="idea_hacks_banner">
            IDEA HACKS
        </div>

        <div class="rectangle_content">
            <svg width="400" height="110">
                <rect width="300" height="100" />
            </svg>
        </div>
    </body>
</html>
