<!DOCTYPE html>
<html>
<head>
  <title>Team - IDEA Hacks</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <!-- CSS -->
  <link rel='stylesheet' href="/css/team.css" />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet">
</head>
<body>

  <div class='team-container container-fluid'>
    <div>
      <span class='header'>Meet The Team!</span>
    </div>


    <!-- Captains -->
    <div class='container-fluid section'>
      <h1>Team Captains</h1>

        <div class='row justify-content-center'>

          <div class='col-sm-2 col-sm-offset-2 profile'>
            <img src='./img/team/catcat.jpg' />
            <h2>Derrick Benson</h2>
            <h3>Theta Tau</h3>
          </div>
          <div class='col-sm-2 col-sm-offset-1 profile'>
            <img src='./img/team/catcat.jpg' />
            <h2>Wenlong Xiong</h2>
            <h3>IEEE</h3>
          </div>
          <div class='col-sm-2 col-sm-offset-1 profile'>
            <img src='./img/team/catcat.jpg' />
            <h2>Ted Akiyama</h2>
            <h3>IEEE</h3>
          </div>

        </div>
    </div>

    <!-- Corporate -->
    <div class='container-fluid section'>
      <h1>Corporate</h1>
      <div class='row justify-content-center'>
        <div class='col-sm-2 col-sm-offset-2 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Kenny Chan</h2>
          <h3>IEEE</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Mabel Chen</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Frederick Kennedy</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='w-100'></div>
        <div class='col-sm-2 col-sm-offset-5 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Jingbin Huang</h2>
          <h3>IEEE</h3>
        </div>
      </div>
    </div>

    <!-- Design -->
    <div class='container-fluid section'>
      <h1>Design</h1>
      <div class='row justify-content-center'>
        <div class='col-sm-2 col-sm-offset-3 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Audrey Tu</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='col-sm-2 com-sm-offset-2 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Jacob Ng</h2>
          <h3>Theta Tau</h3>
        </div>
      </div>
    </div>

    <!-- Operations -->
    <div class='container-fluid section'>
      <h1>Operations</h1>
      <div class='row justify-content-center'>
        <div class='col-sm-2 col-sm-offset-2 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Samuel Chen</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Tao Lu</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Christopher Wang</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='w-100'></div>
        <div class='col-sm-2 col-sm-offset-5 profile'>
          <img src='./img/team/catcat.jpg' />
          <h2>Jonathan Myong</h2>
          <h3>IEEE</h3>
        </div>
      </div>
    </div>

    <!-- Website -->
    <div class='container-fluid section'>
      <h1>Website</h1>
      <div class='row justify-content-center'>
        <div class='col-sm-2 col-sm-offset-2 profile'>
          <a href="https://www.github.com/jeffreyxchan" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Jeffrey Chan</h2>
          <h3>IEEE</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <a href="https://www.github.com/jordanyenucla" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Jordan Yen</h2>
          <h3>IEEE</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <a href="https://www.github.com/hsubrittany" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Brittany Hsu</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='w-100'></div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <a href="https://www.github.com/shihpatrick" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Patrick Shih</h2>
          <h3>Theta Tau</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <a href="https://www.github.com/treycrossley" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Trey Crossley</h2>
          <h3>IEEE</h3>
        </div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <a href="https://www.github.com/sydney-ng" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Sydney Ng</h2>
          <h3>IEEE</h3>
        </div>
        <div class='w-100'></div>
        <div class='col-sm-2 col-sm-offset-1 profile'>
          <a href="https://www.github.com/arthurhaiying" target="_blank"><img src='./img/team/catcat.jpg'></a>
          <h2>Haiying Huang</h2>
          <h3>IEEE</h3>
        </div>
      </div>
    </div>

    <!-- Contact us footer-->
    <div class='footer text-center'>
      <h3 style='margin-top: 0;'>Contact us at <a href='mailto:team@ideahacks.la'>team@ideahacks.la</a></h3>
      <p style='margin-bottom: 0;'>&copy; IDEA Hacks</p>
    </div>

</div>
</body>
</html>
