<!DOCTYPE html>
<html lang="en">
<head>
    <title>Team - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap" rel="stylesheet" />

    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' href="/css/team.css" />
</head>
<body class='background-light-red'>
    <div class='wrapper'>

        <!-- NAVBAR -->
        {{> navbar }}

        <div class='team-container team container-fluid'>
            <img src="\img\team\the team.png" alt="LOGO" class="Title">
            {{#each teamData}}
                <div class='container-fluid section'>
                    {{#if this.teamPath}}<img src="{{this.teamPath}}" alt="LOGO" class="header">{{/if}}
                    <h2 class='Lead'>{{#if this.teamLead}}Lead: {{this.teamLead}}{{/if}} </h2>
                    <div class='row center-block'>
                        {{#each this.teammates}}
                            <div class='col-sm-3 no-padding'>
                                <div class='pic'>
                                    <img class='team-photo' src='{{this.picturePath}}'/>
                                </div>
                                <h4 class='Description'><b>{{this.name}}</b></h4>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/each}}
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>
</body>
</html>
