<!DOCTYPE html>
<html>
<head>
    <title>IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/thumbnail.png">
    <meta property="og:description" content="For the eighth time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700;1,900&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel="stylesheet" type='text/css' href="/css/venue.css">
</head>
<body>

    <div class='wrapper'>

        <!-- NAVBAR -->

        {{> navbar }}

        <!-- BANNER -->

        <div class="filler"></div>
        <div class='logo-header'>
            <img class='img-header' src='/img/venue/venue.png' />
            <span class='logo-img-header'>
                <img class='logo-img' src='/img/venue/venuelogo.png' />
            </span>
        </div>

        <!-- UCLA -->

        <div class="black-tab-container ucla-section">
            <div>
                <div>
                    <h1>
                        <!-- Just here to satisfy CSS -->
                    </h1>
                </div>
            </div>
            <h1>University of California, Los Angeles</h1>
            <div class="row">
                <div class="col-md-7 text-center image-col">
                    <img src="/img/venue/ackerman.png" alt="The inside of Ackerman Grand Ballroom">
                </div>
                <div class="col-md-5">
                    <h2>Directions</h2>
                    <p>
                        UCLA is most easily accessed from the 405 freeway. Ackerman
                        Grand Ballroom is on floor 2 of Ackerman Union, the building
                        across from the Bruin Bear. You can find more detailed
                        directions <a href="https://goo.gl/maps/gkDyyMtkRBJ2" target="_blank">here</a>.
                    </p>
                    <h2>Parking</h2>
                    <p>
                        While we are not able to cover the cost of parking this year,
                        parking is available at any of UCLA's parking lots. We
                        recommend parking in lots <a href="https://goo.gl/maps/PWmDA2RoijFP4Tpn6" target="_blank">4</a>,
                        <a href="https://goo.gl/maps/P748zTo8YbUkBRmGA" target="_blank">8</a>, or
                        <a href="https://goo.gl/maps/NkB3kWCtbJUujVQz5" target="_blank">9</a>.
                    </p>
                </div>
            </div>
        </div>

        <!-- ACKERMAN -->

        <div class="white-tab-container agb-section">
            <div>
                <div>
                    <h1>Ackerman Grand Ballroom</h1>
                </div>
            </div>

            <a href="/img/venue/map.png">
                <img src="/img/venue/map.png" alt="A map of the area surrounding Ackerman Union">
            </a>
            <div class="row">
                <div class="col-md-6">
                    <h2>Bathrooms</h2>
                    <p>
                        Public bathrooms are available throughout Ackerman Union for
                        your use. We are not able to provide access to showers.
                    </p>
                    <h2>Soldering Stations</h2>
                    <p>
                        We will have several soldering stations available for your
                        use throughout the hackathon. They will be supervised by
                        experienced members of our staff.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>Parts Table</h2>
                    <p>
                        The parts table will be inside Ackerman Grand Ballroom. Many
                        of our parts are non-consumable, and have to be checked out
                        to be used. The parts table will be staffed at all hours of
                        the hackathon.
                    </p>
                    <h2>Sleeping Area</h2>
                    <p>
                        We are working on securing a room for participants to sleep
                        or get some fresh air. We will update this page with more
                        information once we finalize the room.
                    </p>
                </div>
            </div>
        </div>

        <!-- FOOTER -->
        {{> footer }}

    </div>


</body>
</html>
