<!DOCTYPE html>
<html lang="en">
<head>
  <title>Venue - IDEA Hacks</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

  <!-- STYLESHEETS -->
  <link rel='stylesheet' type='text/css' href='/css/style.css' />
  <link rel="stylesheet" type="text/css" href="/css/venue.css">

  <!-- SCRIPTS -->
  <script src='/js/navbar-scroll.js'></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <!-- NAVBAR -->
  {{> navbar }}

  <div class="container-fluid top-container">
      <img class="venue-title" src="/img/venue/IH_Venue.png">
      <div class="container-fluid">
        <h1 class="section-title" id="text">Where are we located?</h1>
        <div class="col-12 col-sm-6 text-center">
          <img class='venue-image' src="/img/venue/ackerman.jpg">
        </div>
        <div class="col-12 col-sm-6">
          <div class=' small-container yellow-border'>
            <h2 class="small-section-title" id="text">DIRECTIONS</h2>
          <p class="small-section" id="text">The Ackerman Grand Ballroom is located on the 2nd floor of Ackerman Union. Ackerman Union is the building across from the Bruin Bear, and has the UCLA store on the first floor. If you are driving to UCLA, we recommend parking in Parking Lot 4, 8 or 9.</p>
          <br/>
          <p class="small-section" id="text">Find directions <a class='dir-link' href='https://goo.gl/maps/gkDyyMtkRBJ2' target='_blank'>here</a>.</p>
          <br/>
          <p class="small-section" id="text">A local map of where the sleeping room, workshop room and soldering stations will be posted here leading up to the event.</p>
        </div>
        </div>
      </div>
  </div>
  <div class="bottom-container" id="light-yellow">
    <div class="small-container">
      <h1 class="section-title" id="text">Grand Ackerman Ballroom</h1>
      <div class="image-container">
        <img src="/img/venue/placehold2.png" alt="Map 2 placeholder">
      </div>
      <div class="small-container yellow-border">
        <div class="col-md-6">
          <h2 class="small-section-title" id="text">Bathrooms</h2>
          <p class="small-section" id="text">Information about bathrooms. Information about bathrooms. Information about bathrooms. Information about bathrooms.</p>
          <br/>
          <h2 class="small-section-title" id="text">Soldering Stations</h2>
          <p class="small-section" id="text">Information about soldering stations. Information about soldering stations. Information about soldering stations. Information about soldering stations.</p>
        </div>
        <div class="col-md-6">
          <h2 class="small-section-title" id="text">Parts Table</h2>
          <p class="small-section" id="text">Information about parts table. Information about parts table. Information about parts table. Information about parts table.</p>
          <br/>
          <h2 class="small-section-title" id="text">Sleeping Area</h2>
          <p class="small-section" id="text">Information about sleeping area. Information about sleeping area. Information about sleeping area. Information about sleeping area.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  {{> footer }}

</body>
</html>
