<!DOCTYPE html>
<html lang="en">
<head>
    <title>Venue - IDEA Hacks</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://www.ideahacks.la/img/meta_thumbnail.png">
    <meta property="og:description" content="For the seventh time, UCLA IEEE and the UCLA Chapter of Theta Tau are pleased to present IDEA Hacks, the largest hardware focused hackathon on the west coast. Apply on our website today!">

    <!-- JQUERY -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!--Icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Source+Code+Pro:wght@400;500;700&display=swap" rel="stylesheet">



    <!-- CSS -->
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
    <link rel='stylesheet' href="/css/venue.css" />
</head>
<body>
    <div class='wrapper'>
        <!-- NAVBAR -->
        {{> navbar }}
        <div class='logo-header'>
            <img class='img-header' src='/img/venue/venue_background2.png' />
            <span class='logo-img-header'>
                <img class='logo-img' src='/img/venue/venue_logo.png' />
            </span>
        </div>
        <div class='logo-header'>
            <img class='venue-header' src='/img/venue/venue_ucla_logo.png' />
        </div>
        <div class='filler'></div>
        <div class='venue-container'>
            <div class='container-fluid.section'>
                <div class='venue__information-container'>
                    <div class='venue__information-container two_wide'>

                        <img class='logo-two-wide-img' src='/img/venue/agreenblock.png' />
                    </div>
                    <div class='venue__information-container two_wide'>
                        <h3 class='Description-green'>Directions</h3>
                        <p class='Description-white'>Information about how to get to UCLA. Information about how to get to UCLA. Information about how to get to UCLA. Information about how to get to UCLA. Information about how to get to UCLA.</p>
                        <h3 class='Description-green'>Parking</h3>
                        <p class='Description-white'>Information about how to get to UCLA. Information about how to get to UCLA. Information about how to get to UCLA. Information about how to get to UCLA. Information about how to get to UCLA.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='filler'></div>
        <div class='filler'></div>
        <div class='filler'></div>
        <div class='filler'></div>
        <div class='filler'></div>
        <div class='container-fluid section white-tab-container '>
            <div>
                <div>
                    <h1 class='title'>Ackerman Grand Ballroom</h1>
                </div>
            </div>
        </div>
        <div class='logo-header'>
            <img class='venue-header' src='/img/venue/venue_map_1.png' />
        </div>
        <!--       <div class="container-fluid top-container">
            <img class="venue-title" src="/img/venue/IH_Venue.png">
            <div class="container-fluid">
                <h1 class="section-title" id="text">Where are we located?</h1>
                <div class="col-12 col-sm-6 text-center">
                    <img class='venue-image' src="/img/venue/tower_1.png">
                </div>
                <div class="col-12 col-sm-6">
                    <div class=' small-container yellow-border'>
                        <h2 class="small-section-title" id="text">DIRECTIONS</h2>
                        <p class="small-section" id="text">The Grand Ballroom is located on the 2nd floor of Ackerman Union. Ackerman Union is the building across from the Bruin Bear, and has the UCLA store on the first floor. If you are driving to UCLA, we recommend parking in Parking Lot 4, 8 or 9.</p>
                        <br />
                        <p class="small-section" id="text">Find directions <a class='dir-link' href='https://goo.gl/maps/gkDyyMtkRBJ2' target='_blank'>here</a>.</p>
                        <br />
                        <p class="small-section" id="text">A local map of where the sleeping room, workshop room and soldering stations will be posted here leading up to the event.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-container" id="light-yellow">
            <div class="small-container">
                <h1 class="section-title" id="text">Grand Bruin Ballroom</h1>
                <div class="image-container">
                    <img src="/img/venue/placehold2.png" alt="Map 2 placeholder">
                </div>
                <div class="small-container yellow-border">
                    <div class="col-md-6">
                        <h2 class="small-section-title" id="text">Bathrooms</h2>
                        <p class="small-section" id="text">Information about bathrooms. Information about bathrooms. Information about bathrooms. Information about bathrooms.</p>
                        <br />
                        <h2 class="small-section-title" id="text">Soldering Stations</h2>
                        <p class="small-section" id="text">Information about soldering stations. Information about soldering stations. Information about soldering stations. Information about soldering stations.</p>
                    </div>
                    <div class="col-md-6">
                        <h2 class="small-section-title" id="text">Parts Table</h2>
                        <p class="small-section" id="text">Information about parts table. Information about parts table. Information about parts table. Information about parts table.</p>
                        <br />
                        <h2 class="small-section-title" id="text">Sleeping Area</h2>
                        <p class="small-section" id="text">Information about sleeping area. Information about sleeping area. Information about sleeping area. Information about sleeping area.</p>
                    </div>
                </div>
            </div>
        </div>

        {{> footer }}

    </div>-->
</body>
</html>
