@media (max-width: 490px) {
	h1.transparent-ucla-blue {
		font-size: 60px;
	}
}

/* FULL BODY */
.background {
	background-color: #fbf3f0;
}

h1,
h4 {
	text-transform: uppercase;
}

/* BANNER */
.banner {
	padding-top: 130px;
	margin: auto;
}

.banner-underline {
	margin-top: 12px;

	border-bottom: 2px solid var(--white);
	width: 15%;
}

/* GENERIC STYLES */
.container {
	padding: 20px 0;
}

.description {
	padding-bottom: 20px;
	font-size: 20px;
	color: white;
}

label {
	color: white;
}

input {
	text-align: center;
}

/* STATS */
.stats-box-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 50px 30px 20px;
}

.stats-box {
	background-color: var(--white);
	color: var(--black);
	text-align: center;
	display: inline-block;
	padding: 10px;
	width: 190px;
	margin: 10px;
}

.stats-box h1 {
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 0px;
	color: var(--white);
}

.stats-box h4 {
	color: var(--white);

	font-family: "Roboto", monospace;
	font-size: 20px;
	font-weight: bold;

	padding-top: 0px;
}

.number-applications-box h1 {
	color: var(--black);
}

.number-applications-box h4 {
	color: var(--black);
}

/* APPLICATION LIST */
.application-list {
	list-style: none;
	padding: 0 0 70px;

	width: 80%;
}

.application-list p {
	color: var(--white);
}

.application {
	padding: 15px 40px;
	margin: 20px 0;
	color: white;
	font-size: 17px;
	font-family: "Roboto", monospace;
}

.application:hover {
	cursor: pointer;
}

.application p {
	margin: 0 auto;
	font-size: 16px;
}

.row {
	display: flex;
	align-items: center;
}

.application.accepted,
.accepted-box {
	background-color: var(--green);
}

.application.pending,
.pending-box {
	background-color: var(--blue);
}

.application.rejected,
.rejected-box {
	background-color: var(--red);
}

.application.waitlisted,
.waitlisted-box {
	background-color: var(--yellow);
}

.application .year,
.application .school {
	text-align: center;
	vertical-align: middle;
}

.application .application-status {
	text-align: right;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	h1.banner {
		font-size: 36px;
	}

	.application .year,
	.application .school {
		display: none;
	}
	.application p {
		font-size: 14px;
	}
	.application {
		padding: 10px;
		margin: 15px 15px;
	}
	.stats-box-container {
		padding-top: 20px;
	}
	.stats-box {
		padding: 10px 0;
		margin: 10px;
	}
	.stats-box h1 {
		font-size: 50px;
	}
	.stats-box h4 {
		font-size: 18px;
	}
}

@media (max-width: 481px) {
	.stats-box-container {
		padding-left: 0;
		padding-right: 0;
	}
	.stats-box {
		width: 130px;
	}
	.stats-box h1 {
		font-size: 40px;
	}
	.stats-box h4 {
		font-size: 16px;
	}
}
