/*--------------- MAILING LISTS -----------------*/

.mailing-address-list {
	font-size: 14px;
	color: var(--black);
	background-color: var(--black);
}

#mailing-lists {
	font-family: "Source Code Pro", monospace;
	font-weight: bold;
	font-size: 52px;
	color: var(--green);
	margin: 100px auto 20px;
}

.mailing-header {
	padding-top: 130px;
	width: 25%;
}

.mailing-wrapper {
	padding: 20px 0 50px;
}

.mailing-list {
	display: flex;
}

.row {
	margin: auto;
	width: 90vw;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	position: relative;
	text-align: center;

	color: var(--white);
	background-color: var(--black); /*backup*/
	float: left;
	width: calc(25% - 2vw);
	margin: 0 1vw;
	border-radius: 1rem;
}

/* Different color for each mailing list */
.column:nth-child(1) {
	background-color: var(--blue) !important;
}
.column:nth-child(2) {
	background-color: var(--green) !important;
}
.column:nth-child(3) {
	background-color: var(--red) !important;
}
.column:nth-child(4) {
	background-color: var(--yellow) !important;
}

.mailing-list .mailing-type {
	text-align: center;
}

.mailing-list .mailing-address-container {
	background-color: var(--black);
	margin: 8%;
	border-radius: 1rem;
	overflow: auto;
}

.glyphicon {
	color: white;
	background: transparent;
	text-shadow: none;
	border: none;
	font-size: 2rem;
	margin: 5px;
}

.mailing-list .mailing-address-container .mailing-address-list {
	background-color: var(--white);
	overflow: auto;
	height: 30vh;
	padding: 1.5rem 0.5rem;
	border: none;
}

/* Responsive layout */
@media (max-width: 990px) {
	.mailing-header {
		width: 248px;
	}
}

@media screen and (max-width: 720px) {
	.column {
		float: center;
		width: 100%;
		margin: calc(7.5px + 1.25vw) 0;
	}
}
