.banner {
	margin-top: 130px;
	margin-bottom: 30px;
	text-align: center;
	color: white;
}

body {
	background-color: rgb(221, 128, 100);
}

form {
	font-family: "Josefin Sans";
	margin-bottom: 10px;
	font-weight: bold;
}

input {
	color: black;
	text-align: center;
	width: 40px;
}

.part {
	width: 200px;
}
