.banner {
  text-align: center;
}

.application-list {
  list-style: none;
  padding: 0;
}

.application-list li:hover {
  cursor: pointer;
}

.application-list li.accepted {
  background-color: green;
}

.application-list li.pending {
  background-color: skyblue;
}

.application-list li.rejected {
  background-color: red;
}

.application-list li.waitlisted {
  background-color: gold;
}
