/*--------------- MAILING LISTS -----------------*/

.mailing-list .email-list {
  display: none;
  background-color: lightgrey;
}

/*-------------- FEEDBACK LISTS ----------------*/

.feedback-wrapper,
.mailing-wrapper {
  padding: 25px 0 50px;
}

.mailing-list {
  max-width: 1200px;
  list-style: none;
}

.feedback-list li {
  margin: 20px 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.feedback-list p {
  margin: 0;
}
