form {
	font-size: 32px;
}

textarea {
	border-radius: 20px;
	height: 100px;
}

input[type="text"],
input[type="text"]:focus,
textarea,
textarea:focus {
	display: inline-block;
	color: var(--black);
	width: 80%;
	text-align: center;
	outline: none;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 20px;
	background-color: #efefef;
	border: none;
	box-shadow: none;
}

#team-input,
#users-input {
	max-width: 400px;
	margin: auto;
	background-color: var(--white);
	color: var(--black);
	padding: 20px;
	border-radius: 20px;
}

.header {
	margin: 100px 0 50px;
}

.header h1 {
	font-weight: bold;
	text-transform: uppercase;
}

.submit-button {
	padding: 10px 20px;
	background-color: var(--green);
	color: var(--white);
	border: none;
	border-radius: 20px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.3s ease;
	outline: none;
}

.submit-button:hover {
	background-color: var(--black);
}
