.banner {
	margin-top: 130px;
	margin-bottom: 30px;
	text-align: center;
	color: black;
}

.banner h1 {
	font-size: 45px;
	font-weight: bolder;
}

body {
	background-color: #fbf3f0;
}

.filter-description {
	margin-top: 0px;
	margin-bottom: 15px;
}

form {
	font-family: "Josefin Sans";
	margin-bottom: 10px;
	font-weight: bold;
}

input {
	color: black;
	text-align: center;
	width: 40px;
}

.part {
	width: 200px;
}

.team {
	margin: 10px 0;
	background-color: #40698f;
	border-radius: 10px;
	height: 150px;
	padding: 14px 0px;
	color: white;
}

.parts-list {
	margin-top: 10px;
	max-height: 90px;
	overflow: scroll;
}

.part-name {
	margin: 0px;
}

.team-number {
	color: #70bfe6;
	font-size: 20px;
	margin: 0px;
}
