/*--------------- MAILING LISTS -----------------*/

.mailing-list .email-list {
  display: none;
  background-color: rgb(255, 255, 244);
  padding: 10px;
  border-radius: 10px;
}

.mailing-header {
  padding-top: 130px;
  width: 25%;
}

.description {
  font-size: 20px;
  padding-bottom: 20px;
}

@media (max-width: 990px) {
  .mailing-header {
    width: 270px;
  }
}

/*-------------- FEEDBACK LISTS ----------------*/

.feedback-wrapper,
.mailing-wrapper {
  padding: 25px 0 50px;
}

.mailing-list {
  max-width: 1200px;
  list-style: none;
}

.feedback-list li {
  margin: 20px 0;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.feedback-list p {
  margin: 0;
}
