@media (max-width: 490px) {
	h1.transparent-ucla-blue {
		font-size: 60px;
	}
}
.background {
	background-color: #fbf3f0;
}

.banner {
	padding-top: 130px;
	width: 45%;
}

.description {
	padding-bottom: 20px;
	font-size: 20px;
	color: white;
}

@media (max-width: 990px) {
	.banner {
		width: 300px;
	}
}

label {
	color: white;
}

input {
	text-align: center;
}

/* STATS */
.stats-box-container {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
}

.stats-box {
	background-color: black;
	color: white;
	text-align: center;
	display: inline-block;
	padding: 10px;
	width: 215px;
	height: 125px;
}

.stats-box h1 {
	margin: 0px 0px 0px 0px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	padding-bottom: 0px;
}

.stats-box h4 {
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 25px;
	padding-top: 0px;
}

/* APPLICATION LIST */
.application-list {
	list-style: none;
	padding: 0 0 70px;
}

.application {
	padding: 15px 40px;
	margin: 20px 0;
	color: white;
	font-size: 17px;
	font-family: "Roboto Condensed";
}

.application:hover {
	cursor: pointer;
}

.application p {
	margin: 0;
}

.application.accepted,
.accepted-box {
	background-color: #75c791;
}

.application.pending,
.pending-box {
	background-color: #75b4c7;
}

.application.rejected,
.rejected-box {
	background-color: #d46c6c;
}

.application.waitlisted,
.waitlisted-box {
	background-color: #f2c94c;
}

.application .year,
.application .school {
	text-align: center;
}

.application .application-status {
	text-align: right;
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.application .year,
	.application .school {
		display: none;
	}
}
