/* GLOBAL STYLESHEET: FORM.CSS
 * Global stylesheet for form elements
 */

.ideahacks-form {
	font-family: "Roboto Condensed";
}

/* LABEL */
.ideahacks-form label {
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
	color: #40698f;
}

/* INPUT */
.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
	border-radius: 12px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;
}

.ideahacks-form select {
	border-radius: 12px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;

}

.teammate-name {
	width: 90%;
	border-radius: 12px;
	background-color: white;
	margin-bottom: 0px;
}

.ideahacks-form input::placeholder {
	color: #f2ccb5;
}
