/* GLOBAL STYLESHEET: FORM.CSS
 * Global stylesheet for form elements
 */

.ideahacks-form {
	font-family: "Roboto Condensed";
	color: #50b5dd;
}


/* LABEL */
.ideahacks-form label {
	text-align: center;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
	color: #40698f;
}

/* INPUT */
.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
	border-radius: 12px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;
}

.ideahacks-form select {
	border-radius: 12px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;
}

input[type="file"] {
	display: none;
}

.file-upload {
	background-color: #2a2d4e;
	display: inline-block;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 12px;
}

.ideahacks-form input::placeholder {
	color: #f2ccb5;
}
