.confirm {
	background-color: rgb(255, 255, 244);
	padding: 10px 20px;
	border-radius: 10px;
	margin: 200px 100px;
}

button {
	background-color: rgb(255, 183, 24);
	border: 2px solid rgb(255, 183, 24);
	padding: 10px 18px 7px 19px;
	border-radius: 7px;
	color: white;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
	background-color: transparent;
	color: rgb(255, 183, 24);
	cursor: pointer;
}

body {
	background-color: rgb(251, 243, 240);
}

@media (max-width: 990px) {
	.confirm {
		margin: 150px 10px;
	}
}
