form {
	margin-bottom: 10px;
}

label {
	margin-top: 10px;
}

.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly],
.ideahacks-form select,
.ideahacks-form select:focus {
	max-width: 300px;
	width: 90%;
	height: 30px;
	border: 1px solid var(--black);
	border-radius: 10px;
	font-size: 14px;
	color: var(--black);
}

.part-creation-container {
	position: relative;
	margin-top: 100px;
	padding: 20px 0px;
}

textarea {
	max-width: 400px;
	width: 90%;
	border-radius: 10px;
	border: 1px solid var(--black);
	font-size: 14px;
	color: var(--black);
}

.submit-button {
	padding: 10px 20px;
	background-color: var(--green);
	color: var(--white);
	border: none;
	border-radius: 10px;
}

.submit-button:hover {
	background-color: var(--white);
	color: var(--black);
	transition: 0.3s ease;
}

#error-message {
	color: var(--red);
	margin-top: 30px;
	margin-bottom: 20px;
}
