.banner {
	margin-top: 130px;
	margin-bottom: 30px;
	text-align: center;
	font-size: 18px;
	color: #2a2d4e;
}

.banner img {
	width: 30%;
}

form {
	font-family: "Roboto Condensed";
	margin-bottom: 10px;
	font-weight: bold;
}

label {
	margin-top: 10px;
	color: #70bfe6;
}

.form {
	background-color: #40698f;
	margin: 0px 300px 100px 300px;
	border-radius: 15px;
	padding: 20px 0px;
}

textarea {
	width: 400px;
}

.submit-button {
	margin-top: 40px;
	background-color: #70bfe6;
	border: 1px solid #70bfe6;
}
