.Resources {
	margin: 100px auto 34px;
}

.row label {
	font-family: "Source Code Pro", sans-serif;
	font-size: 35px;
	font-style: normal;
	font-weight: bold;
	-webkit-text-stroke: 1px #50b5dd;
	color: white;
	display: block;
}
.row iframe {
	display: block;
}
