body {
	/* background-color: #FBF3F0; */
	background-color: #f2ccb5;
	text-transform: uppercase;
}

@media (max-width: 1024px) {
	body {
		background-color: #FBF3F0;
	}
}

.application-form {
	background-color: #fbf3f0;
}

.application-form label {
	color: #2a2d4e;
}

.application-form a {
	color: white;
	text-decoration: none;
}

.application-form a:hover {
	color: #2a2d4e;
}

.note {
	text-align: right;
	padding-right: 50px;
}

.note label {
	padding-top: 15px;
	padding-bottom: 5px;
}

.deadline {
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 6vh;
}

.submission {
	background-color: #FBF3F0;
	border-radius: 5px;
	padding: 40px 20px 30px 20px;
}

.submission p {
	color: #2A2D4E;
	font-weight: bold;
	font-size: 18px;
}

.street-graphic {
	padding-top: 30px;
	width: 500px;
}

@media (max-width: 860px) {
	.street-graphic {
		display: none;
	}
}

.top-box {
	background-color: #fbf3f0;
	height: 130px;
}

/* image responsiveness */
#img-header-top {
	background-color: #fbf3f0;
	width: 80%;
	display: block;
	/* margin-top: 130px; */
	margin-left: auto;
	margin-right: auto;
}

#img-header {
	width: 70%;
	display: block;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 50px;
	background-color: #fbf3f0;
}

#img-side {
	width: 12%;
	position: absolute;
	left: 88.3%;
	top: 160px;
	/* background-color: #FBF3F0; */
}

/* #img-submission {
	width: 85%;
	margin-top: 90px;
	margin-bottom: 50px;
	padding-left: 5px;
} */


@media (max-width: 980px) {
	#img-side {
		display: none;
	}
	#img-header {
		/* margin-bottom: 5vh; */
		width: 310px;
	}
}

.header {
	margin-bottom: 30px;
}

.header h3 {
	text-align: center;
	display: inline-block;
	border: none;
	color: white;
	background-color: #40698f;
	padding: 12px 0px 9px 0px;
	width: 250px;
	height: 45px;
	font-size: 17px;
	font-weight: bold;
	margin-left: 0px;
	border-radius: 0px 25px 25px 0px;
}

/* took out line through header */
/* div.header:after {
	height: 3px;
	background: #FC7071;
	content: "";
	width: 13%;
	right: 550px;
	display: block;
	margin: 0 auto;
	position: relative;
	bottom: 35px;
	z-index: -1;
} */

fieldset {
	padding-left: 11%;
}

.radio-inline {
	margin-bottom: 2vh;
	margin-right: 2%;
}

@media (max-width: 1200px) {
	body {
		background-position: 550px 40px;
	}
}
@media (max-width: 650px) {
	body {
		background-position: 400px 40px;
	}
	.header h3 {
		width: 70%;
	}
	div.header:after {
	}
}

/* FORM FIELDS */
.short-answer {
	margin: 0 0 40px;
}

textarea {
	resize: none;
}

.whitespace {
	color: transparent;
}

.form-control {
	height: 35px;
	margin-bottom: 10px;
}

.sublabel {
	text-transform: none;
}

textarea::placeholder,
input::placeholder {
	text-transform: uppercase;
	color: #fbf3f0 !important;
}

@media (max-width: 828px) {
	.whitespace {
		display: none;
	}
}

/* BUTTONS */
.buttons {
	text-align: center;
	padding-bottom: 30px;
}

.resume {
	background-color: #95b9cd;
	border-color: #95b9cd;
	text-transform: uppercase;
}

.buttons button {
	margin: 0 60px;
	background-color: #2a2d4e;
	border-color: #2a2d4e;
	width: 200px;
}

.buttons button:hover {
	background-color: transparent;
}

.file-upload {
	background-color: #2a2d4e;
	display: inline-block;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 12px;
}

.file-upload:hover {
	background-color: transparent;
	border-color: #2a2d4e;
}

@media (max-width: 583px) {
	.buttons {
		padding: 0 15px;
	}

	.buttons button {
		width: 100%;
		margin: 15px 0;
	}
}

.banner-desktop-graphic {
	width: 85%;
	margin-top: 90px;
	margin-bottom: 50px;
	padding-left: 5px;
}

.banner-tablet-graphic {
	display: none;
	width: 85%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.banner-mobile-graphic {
	display: none;
	width: 85%;
	margin-top: 50px;
	margin-bottom: 50px;
}

@media (max-width: 768px) {
	.banner-desktop-graphic {
		display: none;
	}
	.banner-tablet-graphic {
		display: initial;
	}
	.banner-mobile-graphic {
		display: none;
	}
}

@media (max-width: 583px) {
	.banner-desktop-graphic {
		display: none;
	}
	.banner-tablet-graphic {
		display: none;
	}
	.banner-mobile-graphic {
		display: initial;
	}
}

/* SUBMIT MESSAGE */
.submit-message {
	text-align: center;
	padding: 0 0 50px;
}

/* GLOBAL STYLESHEET: FORM.CSS
 * Global stylesheet for form elements
 */

.ideahacks-form {
	font-family: "Roboto Condensed";
}

/* LABEL */
.ideahacks-form label {
	text-align: left;
	font-size: 18px;
	line-height: 20px;
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
	/* color: #40698f; */
	color: #2a2d4e;
}

/* INPUT */
.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
	border-radius: 12px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;
}

.ideahacks-form select {
	border-radius: 12px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;
}

.ideahacks-form input::placeholder {
	color: #f2ccb5;
}
