#application_logo {
	position: absolute;
	top: 170px;
	left: 50%;
	padding-left: 30px;
	padding-right: 30px;
	transform: translateX(-50%);
	max-width: 100%;
}

#intro_graphics {
	width: 100%;
	margin-bottom: 20px;
}

.submission h1 {
	margin-top: 100px;
	margin-bottom: 50px;
}

.filler {
	background-color: var(--white);
	width: 100%;
	height: 120px;
}

fieldset {
	padding: 50px 0px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex-wrap: wrap;
}

.form textarea {
	border-radius: 12px;
}

.team_icon {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	padding-bottom: 30px;
}

.miscellaneous_icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.form label {
	padding-left: 5px;
}

.form input,
.form input:focus,
.form input[readonly] {
	border-radius: 12px;
	margin-bottom: 20px;
	display: inline-block;
}

.hack-experience {
	align-content: flex-start;
	justify-content: space-between;
	padding: 0px;
}

.hack-experience {
	padding: 0px;
}

/* The container */
label.container {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	padding-right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	margin: 0;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default radio button */
.container input {
	position: absolute;
	width: 0;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 3px;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 30%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a green background */
.container input:checked ~ .checkmark {
	background-color: var(--primary);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 8.5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--white);
}

.yes-no {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.form select {
	border-radius: 12px;
	background-color: white;
	width: 100%;
	margin-bottom: 20px;
}

input[type="file"] {
	display: none;
}

.resume,
.my-dash,
.save-application,
.submit-button {
	background-color: var(--primary);
	color: var(--white);
	display: flex;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 12px;
	border: none;
	transition: 0.3s ease;
	font-weight: 700;
}

.save-application {
	background-color: var(--blue);
}

.resume:hover {
	color: var(--white);
	background-color: var(--black);
}

.submit button:hover {
	color: var(--black);
	background-color: var(--white);
}

.my-dash:hover {
	color: var(--black);
	background-color: var(--white);
}

.return {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	margin-bottom: 100px;
}

.submit {
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.submit button {
	width: 30%;
	justify-content: center;
}

.save {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.save button {
	width: 30%;
	justify-content: center;
}

.save button:hover {
	color: var(--black);
	background-color: var(--white);
}
