/* Header */
.logo-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-img-header {
	position: absolute;
	top: 196px;
}

.logo-img {
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
}

.img-header {
	width: 100%;
	/*min-width: 800px;*/
}

.banner-underline {
	margin-top: 12px;
	margin-bottom: 60px;

	border-top: 2px solid var(--white);
	width: 200px;
}

/* PARTS VIEWS */

.background {
	position: relative;
	width: 80%;
	max-width: 1000px;
	margin: 40px auto;
	padding: 20px;
	border-radius: 10px;
}

.background h1 {
	font-family: "Roboto", monospace;
	font-weight: "bold";
	font-size: 35px;
	text-transform: uppercase;

	color: var(--green);
	margin-top: 0;
	letter-spacing: -1.5px;
}

.labels,
.part-entry {
	border-bottom: 1px solid var(--green);
}

.labels {
	padding-bottom: 10px;
}

.labels > p {
	padding: 0px;
}

/* .title span {
	display: inline-block;
	border-bottom: 2px solid var(--white);
	padding-bottom: 10px;
} */

/* .title { */
/* margin-bottom: 20px; */
/* } */

.text-box {
	color: var(--white);
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: auto;
}

.my-parts .text-box {
	max-height: 700px;
}

.part-entry {
	position: relative;
	display: flex;
	justify-content: space-between;

	padding-top: 10px;
	padding-bottom: 10px;
}

.part-entry > p {
	margin-top: 8px;
	margin-bottom: 8px;
}

.name {
	text-align: left;
}

.quantity {
	color: var(--white);
	text-align: right;
}

.no-parts {
	display: flex;
	justify-content: center;
	align-items: center;
}

.no-parts h2 {
	font-weight: normal;
	font-size: 25px;
}

.filter,
.filter:focus,
.filter:hover {
	min-width: 150px !important; /* To fit properly on mobile */
}

@media (max-width: 991px) {
	.background {
		padding: 20px calc(10% - 56.8px);
	}

	.my-parts {
		margin-bottom: 40px;
	}

	.my-parts::after {
		display: none;
	}

	.my-parts .text-box {
		max-height: 500px;
	}

	.logo-img-header {
		max-width: 80%;
		top: 126px;
	}
}

@media (max-width: 767px) {
	.background {
		padding: 20px;
	}

	.button-container button {
		padding: 8px;
	}

	.category {
		display: none;
	}

	.logo-img-header {
		top: 106px;
	}
}
