.Resources {
	margin: 100px auto 34px;
}

.row label {
	font-family: "Source Code Pro", sans-serif;
	font-size: 35px;
	font-style: normal;
	font-weight: bold;
	text-shadow: 3px 3px 3px #50B5DD;
	color: white;
	display: block;
}
.row iframe {
	display: block;
}