.error-msg {
	text-align: center;
	font-size: 80px;
	font-weight: bold;
	color: #53aad4;
	margin: 10px 0;
}

.logo {
	max-height: 200px;
	padding: 50px 0 0 0;
}

.home-button {
	background-color: #2a2d4e;
	font-size: 14px;
	border: none;
	padding: 10px 30px;
	border-radius: 7px;
	color: white;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.home-button:hover {
	background-color: white;
	color: #2a2d4e;
	cursor: pointer;
}

body {
	font-family: "Roboto Condensed";
	background-color: #fbf3f0;
}

.messages {
	width: 60%;
	text-align: center;
	margin: auto;
}

@media (max-width: 980px) {
}
