.error-msg {
	text-align: center;
	font-weight: bold;
	margin: 10px 0;
	font-family: "Source Code Pro", monospace;
	color: #50b5dd;
	font-size: 80px;
	text-transform: uppercase;
	background-color: white;
}

.logo {
	max-height: 200px;
	padding: 0 0 0 0;
	background-color: white;
}

.home-button {
	background-color: #ffb718;
	border: 2px solid #ffb718;
	padding: 10px 18px;
	border-radius: 7px;
	color: white;
	font-weight: 300;
	transition: background-color 0.3s ease, color 0.3s ease;
	font-size: 20px;
}

.home-button:hover {
	background-color: white;
	color: #ffb718;
	cursor: pointer;
}

body {
	font-family: "Roboto Condensed";
	background-color: rgba(209, 235, 250, 0.7);
}

.messages {
	margin: 70px auto;
	text-align: center;
	background-color: white;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	padding: 30px;
}

@media (max-width: 460px) {
	.messages {
		margin: 40px auto;
	}
	.error-msg {
		font-size: 70px;
	}
}
