.faq-section {
  background-color: rgb(221, 128, 100);
  padding: 20px 75px 40px 75px;
}

.questions h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid rgb(255, 183, 24) 2px;
  display: inline-block;
}

.questions p {
  text-align: justify;
  font-size: 15px;
}

.faq-header {
  width: 400px;
  margin: 80px 0px 25px 17px;
}

.faq-link {
  color: white;
  text-decoration: underline;
}

.faq-link:hover {
  color: rgb(255, 183, 24);
}

@media (max-width: 990px) {
  .faq-section,
  .sponsors-section {
    padding: 10px;
  }
}

@media (max-width: 450px) {
  .faq-header {
    width: 340px;
    padding-right: 15px;
  }
}
