/* COMPONENT STYLESHEET: filter.css
 * Contains styling for our filter component across our site
 */

.filter-container {
	text-align: center;
	padding: 20px 0 0;
}

.filter-label {
	font-size: 16px;
	font-family: "Josefin Sans";
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
}

.filter,
.filter:focus,
.filter:hover {
	font-family: "Josefin Sans";
	font-size: 14px;

	margin: 0px 0px 10px 0px;

	border-radius: 0;
	border: none;
	border-bottom: solid #d8d8d8 1px;

	width: 3%;
	min-width: 170px;

	box-shadow: none;
	background-color: transparent;

	outline: none; /* disables blue highlight on macs */
}
