/* COMPONENT STYLESHEET: filter.css
 * Contains styling for our filter component across our site
 */

.filter-container {
	/* text-align: center; */
	text-align: center;
}

input {
	color: var(--white);
	width: 200px;
}

.filter-label {
	font-size: 16px;
	font-family: Roboto, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px;
	color: var(--white);

	padding-right: 8px;
}

.filter,
.filter:focus,
.filter:hover {
	font-family: Roboto, sans-serif;
	font-size: 14px;
	margin: 0px 0px 15px 0px;

	border-radius: 0;
	border: none;
	border-bottom: solid var(--white) 1px;
	width: 45%;
	min-width: 170px;

	box-shadow: none;
	background-color: transparent;

	outline: none; /* disables blue highlight on macs */
}
