.myFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	background-color: var(--black);
	text-align: center;
	color: var(--white);
	font-weight: 500;
}

.myFooter a {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-bottom: inherit;
}

.myFooter a:hover {
	text-decoration: none;
	color: var(--primary);
}

.myFooter .fa {
	font-size: 30px;
}

.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 200px;
}

.contact img {
	width: 28px;
}

@media (max-width: 450px) {
	.myFooter {
		flex-direction: column;
		padding: 30px 0;
		height: calc(1.5 * var(--navbar-height));
	}
}
