.myFooter {
	text-align: center;
}

.myFooter.container-fluid {
	padding: 0 15px;
}

.myFooter p {
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	margin-bottom: inherit;
}

.myFooter a:hover {
	text-decoration: none;
	color: initial;
}

.contact {
	float: right;
}

.links {
	float: left;
	margin: 30px 0 0 10px;
}

.links a {
	color: var(--white);
}

.links a:hover {
	color: var(--green);
	transition: 0.3s ease;
}

#fb {
	width: 40px;
	margin: 20px 10px;
}

#mail {
	width: 29px;
	margin: 20px 20px 22px;
}

#insta {
	width: 26px;
	margin: 20px 16px;
}

@media (max-width: 450px) {
	#mail {
		margin-left: 10px;
		margin-right: 10px;
	}
}
