.myFooter {
	background-color: #2a2d4e;
	text-align: center;
}

.myFooter a:hover {
	text-decoration: none;
	color: initial;
}

#fb {
	width: 40px;
	margin: 20px 10px;
}

#mail {
	width: 29px;
	margin: 20px 50px 22px 50px;
}

#insta {
	width: 26px;
	margin: 20px 16px;
}
