/* GLOBAL STYLESHEET: FORM.CSS
 * Global stylesheet for form elements
 */

.ideahacks-form {
  font-family: 'Josefin Sans';
}

/* LABEL */
.ideahacks-form label {
  text-align: left;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: white;
}

/* INPUT */
.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
  border-radius: 12px;
  background-color: white;
  width: 80%;
}

.ideahacks-form input::placeholder {
  color: rgba(255, 183, 24, 0.6);
}
