/* GLOBAL STYLESHEET: FORM.CSS
 * Global stylesheet for form elements
 */

/* LABEL */
.ideahacks-form label {
	text-align: center;
	font-size: 14px;
	line-height: initial;
	text-transform: none;
	font-weight: normal;
	margin-left: 5px;
	margin-bottom: 5px;
}

.ideahacks-form legend {
	color: #efa516;
	width: max-content;
	height: 40px;
	padding-right: 150px;
	padding-top: 5px;
	display: inline-block;
	border-bottom: 0;
}

/* INPUT */
.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
	border-radius: 10px;
	background-color: white;
	width: 80%;
	margin-bottom: 0px;
}

.ideahacks-form input::placeholder {
	color: #c4c4c4;
}
