/* GLOBAL STYLESHEET: FORM.CSS
 * Global stylesheet for form elements
 */

.ideahacks-form {
	font-family: "Roboto Condensed";
}

/* LABEL */
.ideahacks-form label {
	text-align: center;
	font-size: 25px;
	line-height: 29px;
	text-transform: none;
	font-weight: normal;
	color: #40698f;
}

/* INPUT */
.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
	border-radius: 12px;
	background-color: white;
	position: absolute;
	width: 80%;
}

.ideahacks-form input::placeholder {
	color: #f2ccb5;
}
