.wrapper {
	padding-top: 66px;
	background-color: #191a1b;
	color: #ffffff;
}

#history_logo {
	position: absolute;
	top: 170px;
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
}

#intro_graphics {
	width: 100%;
	margin-bottom: 20px;
}

#intro h1 {
	text-align: center;
	padding-bottom: 20px;
}

#history_title {
	max-height: 35px;
	margin-bottom: 50px;
}

#intro_img {
	width: 100%;
	border-radius: 4px;
}

.introduction {
	margin-bottom: 150px;
	margin-left: 80px;
	margin-right: 80px;
}

.intro_p {
	font-size: 15px;
	text-align: justify;
}

.places {
	padding: 20px 0;
	margin: 0 auto;
}

.places img {
	border-radius: 4px;
}

.places h2 {
	font-size: 20px;
	margin-top: 10px;
	padding: 0 15px;
}

.place {
	margin: 20px 0px;
}

.place p {
	font-size: 15px;
	text-align: justify;
	padding-top: 10px;
}

.year-title {
	height: 30px;
	margin: 20px 0;
}

.history-year {
	padding: 25px 50px 50px;
}

.section-header {
	width: 100%;
	height: 35px;
	text-align: center;
}

#twenty,
#eighteen {
	background-color: #191a1b;
	color: #ffffff;
}

#twenty-one,
#nineteen,
#seventeen {
	background-color: #ffffff;
	color: #191a1b;
}

#twenty .old-logo,
#twenty .btn {
	background: #2b2b2b;
}

#nineteen .old-logo,
#nineteen .btn {
	background: #2b2b2b;
}

#nineteen .sponsor-img div {
	background: #d1ebfa;
}

#eighteen .old-logo,
#eighteen .btn {
	background: #2b2b2b;
	color: #fafafa;
}

#seventeen .old-logo img {
	height: 100px;
}

#seventeen .old-logo,
#seventeen .btn {
	background: #2b2b2b;
}

#seventeen .sponsor-img div {
	background: #d1ebfa;
}

.old-logo {
	position: absolute;
	margin: -25px -50px;
	padding: 20px;
	border-bottom-right-radius: 4px;
}

.old-logo img {
	height: 80px;
	width: auto;
}

.history-year .btn {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	text-align: left;
	color: #fbf3f0;
	width: 90%;
	float: none;
	white-space: normal;
}

.history-year .btn:active {
	box-shadow: none;
}

.history-year .btn .glyphicon-chevron-down {
	float: right;
	transition: transform 0.3s ease;
}

.history-year .btn .glyphicon-chevron-down::before {
	vertical-align: middle;
}

.chevron-rotate {
	transform: rotate(180deg);
}

.sponsor-img {
	display: none;
}

.sponsor-img img {
	display: inline-block;
	margin: 10px;
}

.sponsor-img div {
	width: 90%;
	margin: 0 auto;
	padding: 10px 0;
	background: #ffffff;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.sponsor-visible {
	display: initial;
}

@media (min-width: 992px) {
	#seventeen .year-title {
		margin: 30px 0;
	}
}

@media (min-width: 768px) {
	.introduction {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 992px) {
	/*sm size*/
	.wrapper {
		padding-top: 100px;
	}
	#history_title {
		width: 230px;
	}
	.introduction {
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
	}
	#intro_img {
		margin-bottom: 30px;
	}
	.history-year {
		padding: 25px 20px;
	}
	.old-logo {
		display: none;
	}
}

@media (max-width: 768px) {
	/*xs size*/
	.history-year .year-title {
		width: 90%;
		height: auto;
		margin-bottom: 10px;
	}
	.section-header {
		border-bottom: none;
	}
	.places img {
		margin: 15px auto 0 auto;
	}
	.sponsor-img img {
		width: 116px;
	}
}
