.white-box {
	background-color: rgb(255, 255, 244);
	height: 40px;
}

.red-box {
	background-color: rgb(221, 128, 100);
	height: 40px;
}

.home-banner {
	background-color: rgb(221, 128, 100);
}

.banner-graphic {
	width: 90%;
	margin: 140px 0px 80px 70px;
}

.header-graphic {
	width: 70%;
	margin-bottom: 40px;
}

.banner-details {
	margin-top: 220px;
	padding-right: 90px;
}

.date,
.apply,
.location,
.deadline {
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	margin: 0px;
}

.deadline {
	padding-top: 20px;
}

.location {
	margin-bottom: 20px;
}

.about-section {
	background-color: rgb(255, 255, 244);
	padding: 20px 100px 0px 100px;
}

.description {
	text-align: justify;
	color: rgb(221, 128, 100);
	margin-top: 12px;
}

.home-video {
	text-align: right;
	padding: 0px;
	margin-top: 12px;
}

.schedule-section {
	background-color: rgb(221, 128, 100);
	padding: 20px 90px 0px 90px;
}

.sponsors-section {
	background-color: rgb(221, 128, 100);
	padding: 20px 10px 0px 10px;
}

.section-header {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	text-align: center;
}

.day {
	color: rgb(255, 255, 244);
	font-weight: bold;
	font-size: 20px;
	width: 100%;
}

.schedule {
	border: solid 2px rgb(255, 183, 24);
	border-radius: 7px;
	color: rgb(255, 255, 244);
	padding: 15px;
	margin: 0px 10px;
	overflow: auto;
}

.schedule p {
	font-size: 16px;
}

.column {
	float: left;
}

.left {
	width: 60%;
}

.right {
	width: 40%;
	text-align: right;
}

.faq-section {
	background-color: rgb(255, 255, 244);
	padding: 20px 75px 0px 75px;
}

.questions h2 {
	font-size: 20px;
	font-weight: bold;
	border-bottom: solid rgb(255, 183, 24) 2px;
	display: inline-block;
}

.questions p {
	text-align: justify;
	font-size: 15px;
}

.sponsors-section p {
	text-align: center;
	font-size: 20px;
	color: rgb(255, 255, 244);
	margin-bottom: 50px;
}

.brochure-link {
	color: rgb(255, 255, 244);
	text-decoration: underline;
}

.brochure-link:hover {
	color: rgb(255, 183, 24);
}

.platinum-logo {
	vertical-align: middle;
	width: 35%;
	margin: 30px 10px;
}

.green-logo {
	vertical-align: middle;
	width: 23%;
	margin: 30px 10px;
}

.gold-logo {
	vertical-align: middle;
	width: 20%;
	margin: 30px 10px;
}

.small-logo {
	width: 10%;

	margin: 30px 15px;
}

.coffee-logo {
	width: 5%;
}

.header-graphic-centered {
	display: none;
}

.faq-link {
	color: rgb(221, 128, 100);
	text-decoration: underline;
}

.faq-link:hover {
	color: rgb(255, 183, 24);
}

@media (max-width: 990px) {
	.faq-section,
	.about-section,
	.sponsors-section,
	.schedule-section {
		padding: 10px 10px 35px 10px;
	}
	.banner-graphic {
		display: none;
	}
	.banner-details {
		text-align: center;
		padding: 0;
		margin-top: 110px;
		margin-bottom: 40px;
	}
	.home-video video {
		width: 310px;
	}
	.home-video {
		text-align: center;
		margin-top: 20px;
	}
	.header-graphic {
		display: none;
	}
	.header-graphic-centered {
		display: inline-block;
		width: 300px;
		margin-bottom: 30px;
	}
	.location {
		display: none;
	}
	.date {
		padding-bottom: 15px;
	}
	.platinum-logo {
		width: 300px;
		margin: 20px 10px;
	}
	.green-logo {
		width: 220px;
	}
	.gold-logo {
		width: 200px;
		margin: 30px 10px;
	}

	.coffee-logo {
		width: 65px;
		margin: 20px 20px;
	}
	.small-logo {
		width: 110px;
		margin: 20px 20px;
	}
}
