.wrapper {
  max-width: 1280px;
}

.home-banner {
  background-color: rgb(221, 128, 100);
}

.carousel-indicators {
  z-index: 1;
}

.banner-graphic {
  width: 90%;
  margin: 140px 0px 100px 70px;
}

.header-graphic {
  width: 70%;
  margin-bottom: 40px;
}

.banner-details {
  margin-top: 220px;
  padding-right: 90px;
}

.date,
.apply,
.location {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin: 0px;
}

.location {
  margin-bottom: 20px;
}

.home-video {
  padding: 94px 88px 82px 88px;
  text-align: center;
}

.schedule-section,
.sponsors-section {
  background-color: rgb(255, 255, 244);
  padding: 20px 90px 40px 90px;
}

.section-header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.day {
  color: rgb(221, 128, 100);
  font-weight: bold;
  font-size: 20px;
}

.schedule {
  border: solid 2px rgb(255, 183, 24);
  border-radius: 7px;
  color: rgb(221, 128, 100);
  padding: 15px;
  margin: 0px 10px;
  width: 31.5%;
  overflow: auto;
}

.schedule p {
  font-size: 16px;
}

.column {
  float: left;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
  text-align: right;
}

.faq-section {
  background-color: rgb(221, 128, 100);
  padding: 20px 75px 40px 75px;
}

.questions h2 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: solid rgb(255, 183, 24) 2px;
  display: inline-block;
}

.questions p {
  text-align: justify;
  font-size: 15px;
}

.sponsors-section p {
  text-align: center;
  font-size: 20px;
  color: rgb(221, 128, 100);
  margin-bottom: 50px;
}

.brochure-link {
  color: rgb(221, 128, 100);
  text-decoration: underline;
}

.brochure-link:hover {
  color: rgb(255, 183, 24);
}

.logo {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 60px;
}

.header-graphic-centered {
  display: none;
}

@media (max-width: 990px) {
  .faq-section,
  .sponsors-section {
    padding: 10px;
  }
  .banner-graphic {
    display: none;
  }
  .banner-details {
    text-align: center;
    padding: 0;
    margin-top: 110px;
  }
  .item {
    height: 380px;
  }
  .home-video video {
    width: 400px;
  }
  .home-video {
    padding: 90px 0 0 0;
  }
  .header-graphic {
    display: none;
  }
  .header-graphic-centered {
    display: inline-block;
    width: 300px;
    margin-bottom: 30px;
  }
}
