a {
	color: #e1489a;
}

a:hover {
	color: #50b5dd;
}

.tan-box {
	background-color: rgb(255, 225, 149);
	height: 40px;
}

.tan-box1 {
	background-color: rgb(255, 225, 149);
	height: 25px;
}

.white-box {
	background-color: rgb(250, 250, 250);
	height: 40px;
}

.stay-tuned {
	position: fixed;
	top: 66px;
	max-width: 1280px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgb(233, 104, 104);
}

.stay-tuned p {
	font-size: 18px;
	margin-bottom: 0;
}

.home-banner {
	overflow: hidden;
}

.home-banner .stripe {
	position: absolute;
	width: 1840px;
	height: 602px;
	left: -350.24px;
	top: 0px;

	background: #d1ebfa;
	transform: rotate(-29.09deg);
}

.home-banner .main-wrapper {
	margin-top: 200px;
	margin-bottom: 50px;
}

.home-banner .main-wrapper .flex-row {
	display: flex;
	margin-bottom: 50px;
}

.banner-desktop-graphic {
	width: 90%;
}

.title-wrapper {
	font-size: 70px;
	text-align: right;
	position: relative;
}

.banner-title {
	position: relative;
}

.yellow-box {
	background-color: #efa516;
}

.banner-title .yellow-box {
	position: absolute;
	top: 0.5em;
	right: 0;
	height: 1.3em;
	width: 6.2em;
}

.banner-title .blue-box {
	position: absolute;
	top: 1.2em;
	right: 0;
	height: 0.85em;
	width: 6.6em;

	background-color: rgba(80, 181, 221, 0.56);
}

.banner-title .title,
.banner-title .theme {
	position: relative;
	right: 17px;
	margin: 0;
	z-index: 1;

	font-family: Roboto, sans-serif;
	font-weight: 900;
	font-style: italic;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	color: white;
}

.banner-title .title {
	top: 0;
	font-size: 1em;
}

.banner-title .theme {
	bottom: 0.2em;
	font-size: 0.57em;
}

.presented-wrapper {
	position: relative;
	margin-top: 40px;
	padding: 5px 0;
	font-size: 20px;
}

.presented-wrapper p {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 5px 17px;
	z-index: 1;

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-style: italic;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	color: white;
}

.banner-details .date {
	position: relative;
	margin: 0;
	padding: 7px 17px;
	float: left;
	z-index: 1;

	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	color: white;
}

.due-date {
	background: #efa516;
	margin-bottom: 10px;
	font-size: 20px;
	padding: 5px;
}

.apply {
	position: absolute;
	right: 40px;
	top: 435px;
	float: right;

	font-family: Roboto, sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	color: white;
}

.apply-button {
	padding: 13px 17px;

	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
	text-shadow: inherit;
	text-transform: inherit;
	color: white;

	background-color: #50b5dd;
	border: none;

	transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.apply-button:disabled {
	background-color: gray;
}

.apply-button:not(:disabled):hover,
.apply-button:not(:disabled):focus {
	background-color: #6ccaf0;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
	transform: scale(1.008);
}

.about-section {
	position: relative;
	z-index: 1;
	background-color: rgb(255, 225, 149);
	padding: 20px 100px 0px 100px;

	font-size: 16px;
}

.description {
	text-align: justify;
	color: rgb(42, 45, 78);
	margin-top: 12px;
}

.home-video {
	text-align: right;
	padding: 0px;
	margin-top: 12px;
}

.schedule-section {
	background-color: rgb(250, 250, 250);
	padding: 20px 90px 0px 90px;
}

.schedule-description {
	margin: 20px 0 40px;
	font-size: 20px;
}

.schedule-day {
	text-align: left;
	position: relative;
}

.schedule-text1 {
	position: absolute;
	left: 75px;
	top: 30px;
	font-size: 18px;
}

.schedule-text2 {
	position: absolute;
	left: 70px;
	top: 73px;
	font-size: 18px;
}

.schedule-text3 {
	position: absolute;
	left: 70px;
	top: 70px;
	font-size: 18px;
}

.sponsors-section {
	background-color: rgb(250, 250, 250);
	padding: 20px 10px 0px 10px;
}

.section-header {
	height: 45px;
	margin: 20px 0px;
}

.day1 {
	height: 60px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.day {
	height: 60px;
	margin-top: 45px;
	margin-bottom: 20px;
}

.schedule {
	border: solid 3px rgb(255, 225, 149);
	border-radius: 7px;
	color: rgb(43, 43, 43);
	padding: 15px 15px 5px 15px;
	margin: 0px 10px;
	overflow: auto;
}

.schedule p {
	font-size: 16px;
	font-weight: 500;
}

.schedule .location p {
	display: inline;
}

.schedule.note {
	border: none;
}

.note p {
	margin-bottom: 5px;
}

.hanging-indent {
	padding-left: 45px;
	text-indent: -45px;
}

.indented {
	padding-left: 45px;
}

.double-indented {
	padding-left: 65px;
}

.note .extra {
	font-size: 14px;
}

.faq-section {
	background-color: rgb(255, 225, 149);
	padding: 20px 75px 0px 75px;
}

.q-a {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 15px 15px 10px;
	margin-bottom: 25px;
}

.question-section {
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 10px solid #e1489a;
	padding-left: 15px;
	padding-right: 15px;
}

.answer-section {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 15px;
}

.q,
.a {
	float: left;
	width: 40px;

	font-size: 40px;
	font-weight: 700;
	margin: 0;
}

.a {
	color: #e1489a;
}

.question,
.answer {
	width: calc(100% - 40px);

	float: left;
	padding-left: 15px;
}

.question {
	margin: 13px 0 10px;
	font-size: 22px;
	font-weight: 700;
}

.answer {
	margin: 17px 0 10px;
	font-size: 16px;
}

.sponsors-section p {
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
}

.brochure-link {
	color: rgb(42, 45, 78);
	text-decoration: underline;
}

.brochure-link:hover {
	color: rgb(42, 45, 78);
	text-decoration: none;
}

.large-logo {
	vertical-align: middle;
	width: 25%;
	margin: 30px 10px;
}

.small-logo {
	width: 10%;
	margin: 30px 15px;
}

.small-logos {
	margin-bottom: 30px;
}

.square {
	width: 15%;
	margin: 30px;
}

.header-graphic-centered {
	display: none;
}

@media (max-width: 1070px) {
	.home-banner .stripe {
		height: calc(-10vw + 700px);
		top: 20vw;
		left: calc(-1100px + 70vw);
	}

	.home-banner .main-wrapper {
		margin-top: 100px;
	}

	.main-wrapper .flex-row {
		flex-direction: column-reverse;
	}

	.main-wrapper .banner-right {
		width: 100%;
		margin-bottom: 50px;
	}

	.main-wrapper .banner-left {
		width: 100%;
	}

	.main-wrapper .banner-desktop-graphic {
		width: 70%;
	}

	.main-wrapper .title-wrapper {
		font-size: 60px;
	}

	.presented-wrapper {
		font-size: 16px;
		margin-top: 30px;
	}

	.banner-details .date {
		font-size: 20px;
	}

	.due-date {
		font-size: 16px;
		padding: 5px 10px;
	}

	.apply {
		position: relative;
		top: 20px;
		right: 20px;
		font-size: 20px;
	}
}

@media (max-width: 990px) {
	.faq-section,
	.about-section,
	.sponsors-section,
	.schedule-section {
		padding: 10px 10px 35px 10px;
	}
	.faq-section {
		padding: 10px 30px 35px;
	}
	.banner-details {
		margin-bottom: 20px;
	}
	.date,
	.apply,
	.agb,
	.deadline {
		font-size: 20px;
	}
	.section-header {
		height: 50px;
	}
	.home-video video {
		width: 300px;
	}
	.home-video {
		text-align: center;
		margin-top: 20px;
	}
	.day {
		height: 60px;
		margin-top: 45px;
		margin-bottom: 20px;
	}

	.location {
		display: none;
	}
	.large-logo {
		width: 250px;
		margin: 20px 10px;
	}
	.small-logo {
		width: 110px;
		margin: 20px 20px;
	}
	.square {
		width: 180px;
		margin: 20px 45px;
	}
}

@media (max-width: 450px) {
	.faq-section {
		padding: 10px 10px 35px 10px;
	}

	.home-banner .stripe {
		height: 500px;
		top: 35vw;
	}

	.home-banner .main-wrapper {
		margin-bottom: 80px;
	}

	.main-wrapper .banner-desktop-graphic {
		width: 90%;
	}

	.main-wrapper .title-wrapper {
		font-size: 50px;
	}

	.presented-wrapper {
		font-size: 14px;
		margin-top: 30px;
	}

	.banner-details {
		position: relative;
	}

	.banner-details .date {
		font-size: 16px;
	}

	.banner-details .apply {
		position: absolute;
		z-index: 1;
		top: 60px;
		right: 20px;
		font-size: 16px;
	}

	.apply .due-date {
		display: inline;
		margin-right: 15px;
	}

	.date,
	.apply,
	.agb,
	.deadline {
		font-size: 16px;
	}
	.section-header {
		height: 45px;
	}
	.day {
		height: 60px;
		margin-top: 45px;
		margin-bottom: 20px;
	}
}
