*{
	margin: 0;
	padding: 0;
}

body{
	margin:0;
	line-height: 1.6;
}

#showcase{
	background-image:url(../img/index/image.jpg);
	background-size:cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 20px;

}

#showcase h1{
	font-size: 50px;
	line-height: 1.2;
}

#showcase h2{

}

#showcase p{
	font-size: 20px;
}

#section-a{
	padding:20px;
	background: #926239;
	color : #fff;
}

#section-b{
	padding:20px;
	background: #f4f4f4;
	color : #fff;
}