.black-tab-container::after,
.white-tab-container::after {
	height: 0;
}

.black-tab-container a:hover {
	color: var(--white);
}

.white-tab-container a:hover {
	color: var(--black);
}

.black-box {
	background-color: var(--black);
	height: 170px;
}

.white-box {
	background-color: var(--white);
	height: 170px;
}

/* HEADER */

.logo-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.filler {
	display: none;
	height: 60px;
	width: 100%;
	background-color: #b5c6bc;
}

.logo-img-header {
	position: absolute;
	top: 196px;
}

.logo-img {
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
}

.img-header {
	width: 100%;
}

/* ABOUT */

#about.black-box {
	height: 110px;
}

.about-section {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding: 0 75px;
}

.about-section > div:first-child {
	display: none;
}

.about-section .description h1 {
	text-align: center;
	text-transform: uppercase;
}

.about-section img {
	width: 100%;
}

/* SCHEDULE */

.schedule-section {
	padding: 0 75px;
}

.schedule-day {
	margin-top: 0;
	margin-bottom: 20px;
	padding-top: 45px;
	text-align: center;
	text-transform: uppercase;
}

.schedule {
	border: solid 3px var(--black);
	border-radius: 14px;
	color: var(--green);
	padding: 15px 15px 5px 15px;
	margin: 0px 10px;
	overflow: auto;
}

.schedule p {
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
}

.schedule .location p {
	display: inline;
}

.schedule .row {
	margin-bottom: 10px;
}

/* FAQ */

.faq-section {
	padding: 30px 75px 0;
}

.faq-section h2 {
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--white);
	color: var(--black);
	border-radius: 10px;
	text-transform: uppercase;
	text-align: center;
}

.faq-section b {
	display: block;
	margin-top: 10px;
	color: var(--green);
}

/* SPONSORS */

.sponsors-section {
	padding: 20px 10px 0px 10px;
}

.sponsors-section p {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}

.large-logo {
	vertical-align: middle;
	width: 25%;
	margin: 30px 10px;
}

.small-logo {
	width: 10%;
	margin: 30px 15px;
}

.small-logos {
	margin-bottom: 30px;
}

.square {
	width: 15%;
	margin: 30px;
}

@media (max-width: 1070px) {
	.logo-img-header {
		max-width: 80%;
	}
}

@media (max-width: 990px) {
	.filler {
		display: block;
	}

	.logo-img-header {
		top: 136px;
	}

	.about-section .graphic {
		display: flex;
		justify-content: center;
	}

	.about-section img {
		margin-top: 30px;
		width: 80%;
	}

	.location {
		display: none;
	}

	.large-logo {
		width: 250px;
		margin: 20px 10px;
	}

	.small-logo {
		width: 110px;
		margin: 20px 20px;
	}

	.square {
		width: 180px;
		margin: 20px 45px;
	}
}

@media (max-width: 500px) {
	.faq-section,
	.about-section,
	.sponsors-section,
	.schedule-section {
		padding: 10px 10px 35px 10px;
	}
}
