.home-banner {
  background-color: rgb(221, 128, 100);
}

.banner-graphic {
  width: 90%;
  margin: 140px 0px 100px 50px;
}

.header-graphic {
  width: 70%;
  margin-bottom: 40px;
}

.banner-details {
  margin-top: 220px;
  padding-right: 70px;
}

p,
button {
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  margin: 0px;
}

.location {
  margin-bottom: 20px;
}
