/* FULL BODY STUFF */
.fullscreen {
	height: 100%;
}

/* BACKGROUND */
.background {
	margin-top: 160px;
	padding: 20px 75px;

	font-weight: bold;

	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
}

/* GOOGLE LOGIN */
hr {
	border-top-color: var(--light-green);
	width: 70%;
}

#google {
	height: 40px;
}

.warning {
	margin-top: 5px;
	font-size: 12px;
}

/* FORM SIDE */
.form-side {
	align-items: center;
	justify-content: center;
	margin-top: 160px;
	padding-right: 0px;
}

.form-side p {
	text-align: center;
}

.login {
	background-color: var(--white);
	margin-top: 15pt;
	font-weight: normal;
	font-size: 14px;
	color: #619b83;
	border: 0px;
	/* border: 1.5px solid var(--green); */
	text-transform: uppercase;
	border-radius: 10px;
	margin-bottom: 10pt;
	padding: 8px 24px;
}

.login:hover {
	background-color: var(--green);
	color: white;
	cursor: pointer;
	transition: 0.3s ease;
}

/* TITLE & SUBTITLE */
.background h1 {
	margin-top: 0px;
	margin-bottom: 2px;
}

.background h2 {
	margin-top: 4px;
	margin-bottom: 48px;

	font-size: 30px;
}

/* FORM */
.ideahacks-form label {
	display: block;
	color: var(--black);
	font-weight: bold;

	margin-top: 12px;
	margin-bottom: 4px;
	
	margin-left: calc(10% + 12px);

	text-align: left !important;
}

.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
	margin: 0 auto;
	margin-bottom: 16px;

	width: 80%;

	/* TO-DO: Figure out responsiveness scaling with padding */

	border: 0px;
	box-shadow: none;

	color: var(--black);
	background-color: #efefef;
}

.ideahacks-form p {
	color: #fff;
	font-size: 24px;
}

.ideahacks-form button {
	margin-bottom: 48px;
	font-size: 16px;
	font-weight: bold;
}

.form-control {
	height: 40px;
}

.input-wrapper {
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 20px;
	margin: 0 auto;
}

/* LINK STUFF */
a,
a:active {
	text-decoration: none;
	color: var(--green);
	/* font-size: 14px; */
	font-size: 24px;
	line-height: inherit;
}

a:hover {
	text-decoration: underline;
	color: var(--red);
	cursor: pointer;
}

p {
	color: var(--black);
	line-height: initial;
}

button {
	line-height: initial;
	color: white;

	text-align: center;
}

.error-message {
	color: var(--red);
	margin-bottom: 0px;
}

@media (max-width: 520px) {
	.background {
		padding: 20px 30px;
	}
}
