/* FULL BODY STUFF */
.fullscreen {
	height: 100%;
}

body {
	background-color: #fbf3f0;
}

.forgot-pass {
	color: #2a2d4e;
}

.forgot-pass:hover {
	color: #2a2d4e;
}

/* COMPUTER IMAGE */
.main_pic img {
	height: 105%;
	width: 105%;
	margin: 125px 0px 70px 0px;
}

/* FORM SIDE */
.form-side {
	align-items: center;
	justify-content: center;
	margin-top: 160px;
	padding-right: 0px;
}

.form-side p {
	text-align: center;
}

.login {
	background-color: #40698f;
	margin-top: 15pt;
	font-weight: normal;
	font-size: 18px;
	color: white;
	border-color: #40698f;
	text-transform: uppercase;
	border-radius: 12px;
	margin-bottom: 10pt;
	width: 80%;
	height: 40px;
	padding: 10px;
}

.login:hover {
	background-color: #fbf3f0;
	color: #40698f;
	cursor: pointer;
}

.register {
	background-color: #2a2d4e;
	font-weight: bold;
	font-size: 14px;
	color: white;
	text-transform: uppercase;
	border-color: #2a2d4e;
	border-radius: 12px;
	margin-bottom: 10pt;
	width: 80%;
	height: 40px;
	padding: 10px;
}

.register:hover {
	background-color: #fbf3f0;
	color: #2a2d4e;
	cursor: pointer;
}

.ideahacks-form {
	margin-left: 6vh;
}

.ideahacks-form label {
	margin-top: 10pt;
	display: inline-block;
}

.form-control {
	height: 40px;
}

/* LINK STUFF */
a,
a:active {
	text-decoration: none;
	color: white;
	font-style: bold;
	font-size: 13px;
	line-height: 13px;
}

a:hover {
	text-decoration: underline;
}

p,
button {
	font-family: "Roboto Condensed";
	font-weight: thin;
	line-height: 13px;
	font-size: 13px;
	color: white;
	text-align: left;
	padding-left: 5px;
}

p,
error-message {
	color: #40698f;
}

p {
	margin-right: 20%;
}

@media (max-width: 991px) {
	.main_pic {
		display: none;
	}

	.ideahacks-form {
		margin-left: 15%;
	}
}
