body {
  background-color: #10253f;
}

#banner {
  font-family: Roboto, Helvetica, sans-serif;
  color: #ffc301;
  padding-left: 25px;
}

#introduction {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  color: #ffc301;
  text-align: left;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 2px;
  border-bottom: 3px solid #ffc301;
}

#introduction h1 {
  margin-bottom: 2px;
}

#form-container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5px;
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  color: #ffc301;
}

.form-group {
  margin-top: 15px;
}

.form-group label {
  display: inline-block;
  font-size: 25px;
  text-align: center;
  width: 30%;
}

.form-group input {
  width: 60%;
  height: 30px;
  float: right;
}

#form-buttons {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  margin-top: 5%;
}

#form-buttons button {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  font-size: 25px;
  color: white;
  background-color: #337ab7;
  width: 30%;
  height: 40px;
  text-align: center;
  border: 3px solid #10253f;
}

#submit-button {
  margin-left: 10%;
}

#registration-button {
  margin-left: 20%;
}

#reset-password {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  color: #ffc301;
  text-align: center;
  margin-top: 5%;
}

.footer {
  font-family: 'Source Sans Pro', helvetica, sans-serif;
  color: white;
  background-color: #5599cd;
  height: 50px;
  padding-top: 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

.footer h3 {
  margin-top: 10px;
}
