#welcome-img {
	margin-top: 105px;
	margin-bottom: 20px;
	height: 45px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#welcome-name {
	color: #2a2d4e;
	text-align: center;
	text-transform: none;
	font-family: "Roboto Condensed";
}

/*----- CHANGE PROFILE INFORMATION -------*/
.ideahacks-form {
	background-color: #40698f;
	width: 70%;
	justify-content: center;
	text-align: center;
	padding: 30px 0px 30px 0px;
	border-radius: 18px;
	margin: 20px 15%;
}

.ideahacks-form label {
	color: #70bfe6;
	text-decoration: bold;
	font-size: 17px;
	margin-bottom: 15px;
}

.ideahacks-form input,
.ideahacks-form input:focus {
	border: none;
	outline: none;
	font-family: inherit;
	font-size: 17px;
	color: black;
	text-align: center;
	text-decoration: bold;
	width: 60%;
}

.text-center button {
	width: 35%;
	text-transform: uppercase;
	margin: 1.5vh 0% 2vh;
	font-weight: bold;
}

.save-button {
	background-color: #95b9cd;
	border-color: #95b9cd;
}

.save-button:hover {
	color: #95b9cd;
	border-color: white;
}

.logout:hover {
	color: #ffb718;
}

@media (max-width: 991px) {
	#welcome-img {
		width: 250px;
	}
	.dotted {
		width: 80%;
	}
	.text-center button {
		width: 70%;
	}
}
