.feedback-form {
  padding: 50px 0;
}

.feedback-form textarea {
  /*width: 50%;*/
  margin: 10px 0;
  max-width: 800px;
  width: 80%;
}

.feedback-form button {
  display: block;
  margin: 10px auto;
}
