.app-title {
	text-transform: uppercase;
	color: var(--primary);
	font-weight: 700;
	margin-top: 50px;
}

.line {
	width: 30%;
	border-width: 3px;
}

.button-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	text-align: center;
	max-width: 350px;
	width: 80%;
	margin: auto;
}

button {
	background-color: var(--primary);
	font-weight: 700;
	font-size: 14px;
	color: var(--white);
	border: 1.5px solid var(--primary);
	text-transform: uppercase;
	border-radius: 10px;
	padding: 8px 20px;
}

button:hover {
	background-color: var(--white);
	color: var(--black);
	border: 1.5px solid var(--white);
	transition: 0.3s ease;
}

.button-container button {
	margin: 5px 0;
}

.admin {
	background-color: var(--red);
	border: 1px solid var(--red);
	color: var(--white);
}

.admin:hover {
	background-color: var(--white);
	border: 1px solid var(--white);
	color: var(--red);
}

.status-container {
	display: inline-block;
	margin: 40px 0 20px;
	padding-top: 40px;
	padding-bottom: 50px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: var(--white);
	border-radius: 40px;
}

.status {
	padding: 60px 20px;
	border-radius: 40px;
	max-width: 400px;
	min-height: 200px;
	margin: 20px auto 0;
}

.description {
	margin-top: 0;
	color: var(--black);
}

.stats {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36px;
}

.status-container a {
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
}

.status-container a:hover {
	color: var(--black);
}

.status-container .announcement {
	color: var(--black);
	max-width: 400px;
	margin: 20px 0 -10px 0;
}

.status-container .announcement a {
	font-size: inherit;
}

.to-app:hover {
	color: var(--black);
	transition: 0.3s ease;
}

.no-application {
	background-color: var(--black);
	color: white;
	margin-top: 20px;
}

.pending {
	background-color: var(--blue);
	color: var(--white);
	margin-top: 20px;
}

.accepted {
	background-color: var(--primary);
	color: var(--white);
	margin-top: 20px;
}

.rejected {
	background-color: var(--red);
	color: var(--white);
	margin-top: 20px;
}

.waitlisted {
	background-color: var(--yellow);
	color: var(--white);
	margin-top: 20px;
}

.apply {
	display: block;
}

@media (max-width: 500px) {
	.status-container {
		display: inline-block;
		margin: 20px 0;
		padding-top: 30px;
		padding-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
		background-color: var(--white);
		border-radius: 40px;
	}

	.status {
		max-width: 300px;
		font-size: 24px;
	}
}
