/*----- CHANGE PROFILE INFORMATION -------*/

.ideahacks-form input,
.ideahacks-form input:focus {
  padding: 2px 5px;
}

.profile-form {
  margin: 30px 0 80px;
}

/*----------- OTHER CONTROLS -------------*/

.button-container {
  padding: 20px 60px;
  margin: 0 10px;
  border: solid 2px black;
  border-radius: 10px;
  display: inline-block;
}

.button-container button {
  display: block;
  margin: 20px auto;
}

/* ---------- FEEDBACK FORM --------------*/

.feedback-form {
  padding: 50px 0;
}

.feedback-form textarea {
  /*width: 50%;*/
  margin: 10px 0;
  max-width: 800px;
  width: 80%;
}

.feedback-form button {
  display: block;
  margin: 10px auto;
}
