.myNavbar {
	position: fixed;
	top: 0;
	z-index: 3;

	display: block;
	width: 100%;
	height: 66px;
	overflow: visible;

	transition: background-color 0.3s ease;
	background-color: rgb(221, 128, 100);
}

.main-button {
	margin-right: 20px;
	margin-left: 15px;
	font-weight: bold;
}

.admin-button {
	margin-right: 45px;
	font-weight: bold;
}

.logo-container {
	display: inline-block;
	padding: 12px 50px;
}

.dashboard {
	margin-top: 12px;
}

.me {
	margin-right: 20px;
}

.navbar-list {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0 25px;
}

.navbar-list li {
	font-weight: bold;

	text-transform: uppercase;
	letter-spacing: 2px;

	display: inline-block;
	padding: 14px 22px 10px;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-list li:hover,
.dropdown:hover {
	background-color: rgb(195, 109, 83);
	color: white;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-list a {
	color: white;
	font-size: 14px;
}

.navbar-list a:hover {
	text-decoration: none;
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow: auto;
	background-color: rgb(195, 109, 83);
}

.dropdown-content a {
	display: block;
	color: white;
}

.dropdown-content li {
	padding: 10px 0px 10px 5px;
}

.dropdown-content a:hover {
	color: rgb(229, 192, 181);
	transition: color 0.3s ease, color 0.3s ease;
}

.dropdown:hover .dropdown-content {
	display: block;
}

button {
	/*background-color: rgb(255, 183, 24);
	border: 2px solid rgb(255, 183, 24); */
	background-color: #40698f;
	border: 2px solid #40698f;
	padding: 10px 18px 5px 19px;
	border-radius: 7px;
	color: white;
	transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
	background-color: transparent;
	color: white;
	cursor: pointer;
}

#login:hover {
	background-color: rgb(221, 128, 100);
}

.navbar-icon {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 30px;
	padding: 14px 20px 0 0;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-navbar-list {
	position: fixed;
	z-index: 2;
	top: 66px;
	width: 100%;
	height: 0;
	overflow-x: hidden;

	background-color: rgb(221, 128, 100);
	opacity: 0.8;
	list-style: none;
	padding: 0;

	transition: 0.3s;
}

.mobile-navbar-list li {
	padding: 15px 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
}

.mobile-navbar-list a {
	margin-left: 28px;
	color: white;
}

.mobile-navbar-list a:hover {
	text-decoration: none;
}

.mobile-navbar-list li:hover {
	background-color: rgb(195, 109, 83);
}

.responsive-dropdown-content {
	display: none;
	background-color: rgb(195, 109, 83);
}

.responsive-dropdown-content a:hover {
	color: rgb(229, 192, 181);
}

.responsive-dropdown .responsive-dropdown-content.active {
	display: block;
}

#dropdown-arrow {
	float: right;
	color: white;
	font-size: 18px;
	transition: 0.3s ease;
	margin-right: 20px;
}

@media (max-width: 980px) {
	.navbar-icon {
		display: inline-block;
		padding-right: 0px;
	}
	.navbar-list {
		display: none;
	}
	.logo-container {
		padding: 12px 20px;
	}
}

@media (max-width: 500px) {
	.brand-container {
		padding: 14px 20px;
	}
	.brand-container img {
		width: 250px;
	}
	.navbar-icon {
		right: 20px;
	}
	.mobile-navbar-list li {
		padding: 15px 20px;
	}
}
