.myNavbar {
	position: fixed;
	top: 0;
	z-index: 3;

	display: block;
	width: 100%;
	height: 66px;
	overflow: visible;

	background-image: url("/img/gradient.png");
	background-size: cover;
}

.logo-container {
	display: inline-block;
	padding: 7px 50px;
}

.navbar-list {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0 25px;
}

.navbar-list li {
	text-transform: uppercase;
	display: inline-block;
	padding: 15px 22px;
}

.dropdown:hover {
	background-color: #d1ebfa;
	color: white;
}

.navbar-list a {
	color: #2b2b2b;
	font-size: 14px;
	transition: color 0.3s ease;
}

.navbar-list a:hover {
	text-decoration: none;
	color: #50b5dd;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	text-align: center;
	position: absolute;
	z-index: 1;
	width: 100%;
	overflow: auto;
	background-color: #d1ebfa;
}

.dropdown-content a {
	display: block;
	color: #2b2b2b;
}

.dropdown-content li {
	padding: 10px 0px 10px;
}

.dropdown-content a:hover {
	color: #50b5dd;
	transition: color 0.3s ease, color 0.3s ease;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.myNavbar button {
	font-family: Roboto, sans-serif;
	line-height: initial;
	font-size: 14px;
	text-align: center;

	background-color: transparent;
	border: 1.5px solid #2b2b2b;
	padding: 8px 20px;
	border-radius: 7px;
	color: #2b2b2b;
	text-transform: uppercase;
	transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
}

.myNavbar button:hover {
	background-color: #50b5dd;
	color: white;
	border: 1.5px solid #50b5dd;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-icon {
	display: none;
	cursor: pointer;
	position: absolute;
	right: 30px;
	padding: 15px 20px 0 0;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 4px;
	background-color: #2b2b2b;
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 500px;
}

/* Rotate first bar */
.change .bar1 {
	-webkit-transform: translateY(10px) rotate(-45deg);
	transform: translateY(10px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: translateY(-10.5px) rotate(45deg);
	transform: translateY(-10.5px) rotate(45deg);
}

.mobile-navbar-list {
	position: fixed;
	z-index: 2;
	top: 66px;
	width: 100%;
	height: 0;
	overflow-x: hidden;

	background-color: #50b5dd;
	opacity: 0.9;
	list-style: none;
	padding: 0;

	transition: 0.3s;
}

.mobile-navbar-list li {
	padding: 15px 50px;
	text-transform: uppercase;
	font-weight: bold;
}

.mobile-navbar-list a {
	margin-left: 28px;
	color: #2b2b2b;
}

.mobile-navbar-list a:hover {
	text-decoration: none;
}

.responsive-dropdown-content {
	display: none;
	background-color: #d1ebfa;
}

.responsive-dropdown .responsive-dropdown-content.active {
	display: block;
}

#dropdown-arrow {
	float: right;
	color: #2b2b2b;
	font-size: 18px;
	transition: 0.3s ease;
	margin-right: 20px;
}

@media (max-width: 980px) {
	.navbar-icon {
		display: inline-block;
		padding-right: 0px;
	}
	.navbar-list {
		display: none;
	}
	.logo-container {
		padding: 7px 20px;
	}
}

@media (max-width: 500px) {
	.brand-container {
		padding: 14px 20px;
	}
	.brand-container img {
		width: 250px;
	}
	.navbar-icon {
		right: 20px;
	}
	.mobile-navbar-list li {
		padding: 15px 20px;
	}
}
