:root {
	--navbar-height: 95px;
}

.navbar-filler {
	width: 100%;
	height: var(--navbar-height);
	background-color: var(--white);
}

.myNavbar {
	position: fixed;
	top: 0;
	z-index: 3;

	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: var(--navbar-height);
	overflow: visible;
	padding: 0 30px;

	background-color: var(--white);
}

.myNavbar a,
.myNavbar button {
	/* To make sure overly-general styles on
	other pages don't mess with font sizing */
	font-size: inherit;
	font-weight: 500;
	line-height: inherit;
	color: var(--black);
}

.myNavbar a:hover,
.myNavbar a:focus,
.myNavbar button:focus {
	outline: none;
	text-decoration: none;
}

.navbar-list {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
}

.navbar-list li {
	text-transform: uppercase;
	display: inline-flex;
	padding: 0 22px;
	height: 100%;
	align-items: center;
}

.navbar-list a {
	color: var(--black);
	transition: color 0.3s ease;
}

.navbar-list a:hover,
.mobile-navbar-list a:hover {
	color: var(--primary);
}

.dropdown {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	/* Fixes positioning weirdness on Firefox */
	vertical-align: top;
}

.dropdown:hover {
	background-color: var(--primary);
}

.dropdown a:hover,
.responsive-dropdown-content a:hover {
	color: var(--white);
}

.dropdown-content {
	display: none;
	position: absolute;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 180px;
	overflow: auto;
	background-color: var(--primary);

	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.dropdown:hover .dropdown-content {
	display: flex;
}

.dropdown-content li {
	padding: 0;
}

.myNavbar button {
	background-color: var(--primary);
	color: var(--white);
	border: none;
	border-radius: 20px;
	text-transform: uppercase;
	padding: 10px 20px;
	transition: 0.3s ease;
}

.myNavbar button:hover {
	background-color: var(--black);
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-icon {
	display: none;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 4px;
	background-color: var(--black);
	margin: 6px 0;
	transition: 0.4s;
	border-radius: 500px;
}

/* Rotate first bar */
.change .bar1 {
	-webkit-transform: translateY(10px) rotate(-45deg);
	transform: translateY(10px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
	opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
	-webkit-transform: translateY(-10.5px) rotate(45deg);
	transform: translateY(-10.5px) rotate(45deg);
}

.mobile-navbar-list {
	display: none;
	position: fixed;
	z-index: 2;
	top: var(--navbar-height);
	right: 0;
	transform: translateX(100%);
	width: 250px;
	height: calc(100vh - var(--navbar-height));
	overflow-x: hidden;

	background-color: var(--white);
	list-style: none;
	padding: 0;

	transition: transform 0.3s;
}

.mobile-navbar-list.active {
	transform: none;
}

.mobile-navbar-list li {
	padding: 0.5em 0;
	text-transform: uppercase;
	font-weight: 500;
}

.mobile-navbar-list a {
	margin-left: 28px;
}

.responsive-dropdown-content {
	display: none;
	background-color: var(--primary);
}

.responsive-dropdown .responsive-dropdown-content.active {
	display: block;
}

#dropdown-arrow {
	float: right;
	color: var(--black);
	font-size: 18px;
	transition: 0.3s ease;
	margin-right: 28px;
}

@media (max-width: 980px) {
	:root {
		--navbar-height: 60px;
	}
	.ideahacks-icon {
		width: 45px;
		height: 45px;
	}
	.navbar-icon {
		display: inline-block;
	}
	.navbar-list {
		display: none;
	}
	.mobile-navbar-list {
		display: block;
	}
}
