.myNavbar {
  background-color: rgb(221, 128, 100);
}

.logo-container {
  display: inline-block;
  padding: 12px 50px;
}

.navbar-list {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0 25px;
}

.navbar-list li {
  font-family: 'Josefin Sans';
  font-weight: bold;

  text-transform: uppercase;
  letter-spacing: 2px;
  display: inline-block;
  padding: 14px 20px 10px;
}

.navbar-list li:hover {
  background-color: rgb(195, 109, 83);
}

a {
  color: white;
}

button {
  background-color: rgb(255, 183, 24);
  border: rgb(255, 183, 24);
  padding: 11px 18px 8px 19px;
  border-radius: 7px;
}

button:hover {
  background-color: transparent;
  color: white;
  cursor: pointer;
}
