/* BANNER */
.banner {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

/* PARTS LIST */
.parts-list {
  list-style: none;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 10px 50px;
}

.part {
  background-color: white;
  margin: 20px 0;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.part p {
  margin: 0;
}

@media (max-width: 768px) {
  .part-type {
    display: none;
  }

  .part-stock {
    text-align: right;
  }
}
