/* BANNER */
body {
	background-color: #FBF3F0;
}

form {
	font-family: "Josefin Sans";
}

label {
	display: none;
}

.banner {
	margin-top: 116px;
	margin-bottom: 50px;
	text-align: center;
	color: white;
}

.banner h1 {
	text-transform: uppercase;
	font-size: 45px;
	font-weight: bolder;
	color: black;
}

.banner p {
	font-size: 24px;
	font-weight: lighter;
	line-height: 31px;
	color: black;
}

.checkout-container {
	margin: auto;
	height: 400px;
	padding: 0px 120px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.checkout,
.checkin{
	background-color: #40698F;
	border-radius: 40px;
	height: 327px;
	width: 448px;
	padding: 40px 0px;
	line-height: 50px;
}

#checkout-scan {
	margin: auto;
	background-color: #40698F;
	border-radius: 40px;
	width: 991px;
	height: 306px;
	padding: 40px 0px;
	line-height: 50px;
}

.checkout h1,
.checkin h1,
#checkout-scan h1 {
	font-weight: bold;
	font-size: 36px;
	color: #70BFE6;
}

.checkout h2,
.checkin h2,
#checkout-scan h2 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 36px;
	color: #FBF3F0;
}

#checkout-scan p {
	font-size: 36px;
	color: #70BFE6;
	display: inline;
}

#checkout-scan select {
	width: 63px;
	height: 56px;
	margin-left: 40px;
	border-radius: 0px;
	border: none;
}
.checkout form,
.checkin form {
	margin-top: 25px;
}

.checkout input[type="text"],
.checkin input[type="text"] {
	width: 188px;
	background: transparent;
	font-size: 36px;
	border: none;
	border-bottom: 1px solid #FBF3F0;
	text-align: center;
	outline: none;
}

#scan-quantity {
	display: flex;
	align-items: center;
	justify-content: center;
}

.checkout-body {
	padding-top: 90px;
	background-color: #dd8064;
	padding-left: 40px;
}

.sidebar {
	color: rgb(255, 255, 244);
}

.search-bar {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}

.category-header {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

.part-category {
	cursor: pointer;
}

.part-category:hover {
	opacity: 0.5;
}

.parts-header {
	color: rgb(255, 255, 244);
	font-size: 30px;
	font-weight: bold;
	margin: 0px;
}

.parts-subtitle {
	margin: 0px 0px 5px 0px;
	color: rgb(255, 255, 244);
}

.part {
	width: 200px;
	height: 200px;
	border: 10px solid rgb(255, 255, 244);
	margin-bottom: 5px;
	margin-top: 20px;
}

.part:hover {
	cursor: pointer;
	opacity: 0.8;
}

.parts-container {
	padding: 0px 50px;
	margin-bottom: 100px;
}

.part-details {
	margin: 0px;
	color: rgb(255, 255, 244);
}

.detail-section {
	height: 90px;
	padding: 0px;
}

@media (max-width: 1150px) {
	.checkout-container {
		flex-direction: column;
		height: 900px;
	}
}
