.checkout-body {
	padding-top: 90px;
	background-color: #dd8064;
	padding-left: 40px;
}

.sidebar {
	color: white;
}

.search-bar {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}

.category-header {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

.part-category {
}

.parts-header {
	color: white;
	margin: 0px;
	font-size: 30px;
	font-weight: bold;
}
