/* BANNER */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400&subset=latin, latin-ext);

body {
	background-color: rgb(251, 243, 240);
}

form {
	font-family: "Roboto Condensed";
}

label {
	display: none;
}

.parts-banner {
	margin: 30px 0 20px 0;
	height: 45px;
}

.checkout-body {
	padding-top: 90px;
	background-color: rgb(251, 243, 240);
	padding-left: 40px;
	padding-bottom: 90px;
}

.sidebar {
	color: rgb(42, 45, 78);
}

.search-bar {
	font-weight: bold;
	font-size: 14px;
	margin: 0px;
}

.category-header {
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 20px;
}

.part-category {
	cursor: pointer;
}

.part-category:hover {
	opacity: 0.5;
}

.parts-subtitle {
	margin: 0px 0px 5px 0px;
	color: rgb(42, 45, 78);
}

.part {
	width: 200px;
	height: 200px;
	border-right: 10px solid rgb(242, 204, 181);
	border-left: 10px solid rgb(242, 204, 181);
	border-top: 10px solid rgb(242, 204, 181);
	border-bottom: 10px solid rgb(242, 204, 181);
	margin-bottom: 5px;
	margin-top: 20px;
}

.part:hover {
	cursor: pointer;
	opacity: 0.8;
}

.parts-container {
	padding: 0px 50px;
	margin-bottom: 100px;
}

.part-details {
	margin: 0px;
	color: rgb(42, 45, 78);
}

.detail-section {
	height: 90px;
	padding: 0px;
}

@media (max-width: 1150px) {
	.checkout-container {
		margin: 0 auto;
		flex-direction: column;
		height: 600px;
		align-items: center;
	}
}
