.privacy-container {
	margin-top: 160px;
	padding: 50px;
}

.white-tab-container::after {
	display: none;
}

code {
	color: var(--green);
	background-color: #f4f9f2;
}

@media (max-width: 630px){
	.privacy-container {
		padding-left: 20px;
		padding-right: 20px;
	}
}
