.radio-button-group,
.radio-outer-square,
.radio-button-group p {
	display: inline-block;
}

.radio-outer-square {
	width: 40px;
	height: 40px;
	border: 1px solid #40698F;
}

.radio-outer-square.active .radio-inner-square {
	width: 25px;
	height: 25px;
	margin: 7px;
	background-color: #40698F;
}

.radio-button-group label {
	height: 40px;
	margin: -38px 0 0 140px;
	display: block;
	font-family: "Roboto Condensed";
	text-transform: uppercase;
	color: black;
}