.radio-button-group {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 150px;
}

.radio-outer-square {
	width: 40px;
	height: 40px;
	border: 1px solid #efa516;
}

.radio-outer-square.active .radio-inner-square {
	width: 25px;
	height: 25px;
	margin: 7px;
	background-color: #efa516;
}

.radio-button-group label {
	margin-bottom: 0;
	margin-left: 10px;
	display: block;
	text-transform: uppercase;
	color: black;
}

@media (max-width: 506px) {
	.radio-button-group {
		margin: 0 auto 10px;
	}
}
