/* GLOBAL STUFF */
.sign_up,
.no_account_register {
  font-family: 'Source Sans Pro';
}

/* FULL BODY STUFF */
.fullscreen {
  height: 100%;
}

body {
  background: linear-gradient(rgba(0, 50, 160, 0.7), rgba(0, 50, 160, 0.7)),
    url(/img/registration/startup-photos.jpg) no-repeat center center scroll;
  background-size: cover;
}

/* LOGO */
.logo {
  margin: 25px 0 0 50px;
  width: 300px;
}

@media (max-width: 768px) {
  .logo {
    margin: 25px auto;
  }
}

/* REGISTRATION BOX */
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 900px;
  background-color: white;
  border-radius: 15px;
  padding: 30px 0px;
  text-align: center;
}

/* COMPUTER IMAGE */
.computer_picture img {
  width: 300px;
  padding-top: 10px;
}

@media (max-width: 991px) {
  .computer_picture {
    display: none;
  }
}

/* FORM SIDE */
.words {
  padding: 20px 40px;
}

.register {
  color: #ffb718;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  letter-spacing: 2px;
  background-color: #fff3e6;
  font-size: 30px;
  padding: 0 20px;
  margin-bottom: 25px;
  display: inline-block;
}

.ideahacks-form input,
.ideahacks-form input:focus,
.ideahacks-form input[readonly] {
  font-family: 'Source Sans Pro';
  font-size: 15px;

  padding: 5px 0;
  margin-bottom: 15px;

  border-radius: 0;
  border: none;
  border-bottom: solid #d8d8d8 1px;

  box-shadow: none;
  background-color: white;
  display: block;
  width: 100%;

  outline: none;
}

.words button {
  margin: 20px 0;
}

.no_account_register {
  color: black;
  font-size: 15px;
}

/* LINK STUFF */
a,
a:hover,
a:active {
  text-decoration: none;
  color: #ffb718;
}
