.logo_image
{
    
}

.logo
{
    padding-left: 50px;
    width:1000px;
    height:100px;
    font-family: "Open Sans", josefin sans;
    color:  #ffc301;
    font-size: 35px;
    font-weight: bold;
    display: inline-block;
}

.box
{
    width: 1000px;
    height: 900px;
    fill: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate (-50%, -50%);
}

body
{
    background-image: url("/img/registration/startup-photos.jpg");
    background-size: 100%;
    max-width: 100%;
    max-height: 100%;
}


