p,
h1,
h2,
button,
li {
	font-family: "Roboto Condensed";
}

body {
	background-color: #f2ccb585;
}

.wrapper {
	 background-color: #fbf3f0;
	 flex-grow: 1;
}

.theme-red {
	color: rgb(221, 128, 100);
}

.theme-offwhite {
	color: rgb(255, 255, 244);
}

.theme-white {
	color: white;
}

/*********** BACKGROUNDS **************************/

.background-red {
	background-color: #dd8064;
}

.wrapper,
.myNavbar {
	max-width: 1280px;
	margin: auto;
}
