:root {
	--green: #619b83;
	--light-green: #dae8e0;
	--red: #c86b6b;
	--yellow: #ccab45;
	--blue: #78b0c0;
	--black: #191a1b;
	--white: #ffffff;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--white);
	background-color: var(--black);
}

h1 {
	font-family: "Roboto", sans-serif;
	color: var(--green);
	font-size: 52px;
	font-weight: bold;
}

.wrapper {
	position: relative;
	background-color: var(--black);
	min-height: 100vh;
	overflow: hidden;
	flex-grow: 1;
}

.wrapper,
.myNavbar {
	max-width: 1280px;
	margin: auto;
}
