body {
  background-color: #dd8064;
  color: black;
}

.header {
  margin: 160px 0px 15px 0px;
  display: block;
  width: 15%;
  display: inline-block;
}

.team-container {
  text-align: center;
  font-family: 'Josefin Sans';
  padding-bottom: 100px;
}

p {
  font-family: 'Josefin Sans';
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
}

h1 {
  margin-top: 80px;
  overflow: hidden;
  text-align: center;
  font-family: 'Josefin Sans';
  color: white;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}

h1:before,
h1:after {
  background-color: #ffb718;
  content: '';
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

h1:before {
  right: 0.5em;
  margin-left: -50%;
}

h1:after {
  left: 0.5em;
  margin-right: -50%;
}

h4 {
  color: white;
  padding-top: 25px;
  font-weight: 900;
  font-size: 19px;
  text-align: left;
  line-height: 5px;
}

h2 {
  color: white;
  padding-top: 0px;
  line-height: 150%;
  font-weight: 100;
  font-size: 19px;
  text-align: left;
}

h2:after {
  content: ' ';
  display: block;
  border: 1px solid #ffffff;
}

h3 {
  color: white;
  font-size: 18px;
  font-weight: 200;
  padding-bottom: 20px;
  text-align: left;
}

.team-photo {
  width: 100%;
  max-width: 350px;
}

.fa,
.fa:hover {
  color: white;
  height: 10px !important;
  display: inline-block;
  text-decoration: none;
}
.fa-3x {
  font-size: 30px;
}

.pic {
  filter: none;
  position: relative;
  overflow: auto;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.no-padding {
  padding-left: 40;
  padding-right: 40;
}

.container-fluid {
  /*background-color: white;*/
  /*width: 900px;*/
  padding-left: 40px;
  padding-right: 40px;
}

/* Media queries for mobile */

@media (max-width: 667px) {
  .container-fluid {
    max-width: 290px;
  }
  .header {
    font-size: 100px;
  }
  h1 {
    font-size: 25px;
  }
}
