/* Header */
.logo-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-img-header {
	position: absolute;
	top: 170px;
}

.logo-img {
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
}

.img-header {
	width: 100%;
	margin-top: 66px;
	/*min-width: 800px;*/
}

/* General */

.filler-thick,
.filler {
	width: 100%;
	height: 30px;
}

.filler-thick {
	height: 50px;
}

/* text / photo */

p {
	color: var(--green);
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	margin-bottom: 45px;
}

.Description {
	color: var(--green);
	font-family: "Roboto", sans-serif;
	margin: 15px 0px 0px 0px;
	font-weight: 200;
	font-size: 20px;

	text-align: center;
	padding-bottom: 20px;
}

.lead-1 {
	color: var(--white);
}

.lead-2 {
	color: var(--black);
}

.team-photo {
	width: 200px;
}

.pic {
	filter: none;
	position: relative;
	overflow: auto;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

/* Boxes */

.team-container {
	text-align: center;
	background-color: var(--black);
}

.container-fluid {
	padding-left: 70px;
	padding-right: 70px;
}

.container-fluid.section {
	padding: 0;
}

/* team boxes */

.individual-team__container {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
}

.individual-team__teammates-container {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.individual-team__teammates-container.four_wide {
	max-width: calc(220px * 4);
}

.individual-team__teammates-container.three_wide {
	max-width: calc(220px * 3);
}

.individual-team__teammate {
	width: auto;
	margin: 10px;
	align-items: center;
}

.directors-header {
	text-transform: uppercase;
}

/* Media queries for mobile */

@media (max-width: 1000px) {
	.container-fluid {
		padding: 0px 20px;
	}
	.Title {
		max-height: 50px;
	}

	.logo-img-header {
		max-width: 80%;
		top: 100px;
	}

	.directors__teammates-container {
		gap: 20px;
	}

	p {
		font-size: 25px;
		margin-bottom: 30px;
	}
	.Description,
	.lead {
		font-size: 20px;
	}

	.individual-team__container {
		margin-top: 0px;
	}
}

@media (max-width: 520px) {
	.team-photo {
		width: 150px;
	}

	.logo-img-header {
		top: 80px;
	}
}

@media (max-width: 556px) {
	.directors-header {
		font-size: 40px;
	}
}
