.header {
	visibility: hidden;
	margin: 0px;
	width: 0;
}

.directors-header {
	margin: 50px 0px 40px 0px;
	display: block;
	max-width: 65%;
	display: inline-block;
}

.img-header {
	width: 100%;
}

.team {
	padding-bottom: 40px;
}

.team-container {
	text-align: center;
	padding-bottom: 100px;
	background-color: #fbf3f0;
}

p {
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	margin-bottom: 45px;
}

.Title {
	margin: 130px 0px 20px 0px;
	display: block;
	max-height: 45px;
	display: inline-block;
}

.Description,
.lead {
	color: #2b2b2b;
	font-family: "Roboto", sans-serif;
	margin: 15px 0px 0px 0px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	padding-bottom: 20px;
}

.team-photo {
	width: 200px;
}

.fa,
.fa:hover {
	color: white;
	height: 10px !important;
	display: inline-block;
	text-decoration: none;
}
.fa-3x {
	font-size: 30px;
}

.pic {
	filter: none;
	position: relative;
	overflow: auto;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

.no-padding {
	padding-left: 40;
	padding-right: 40;
}

.container-fluid {
	padding-left: 70px;
	padding-right: 70px;
}

.container-fluid.section {
	padding: 0;
}

.individual-team__container {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
}

.individual-team__teammates-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 200px));
	gap: 20px;
	width: 100%;
	margin: 10px;
	justify-content: center;
}

.directors__teammates-container {
	gap: 70px;
	justify-content: center;
}

.directors {
	margin-top: 0;
}

.individual-team__teammate {
	width: 100%;
}

.reversed {
	flex-direction: row-reverse;
}

.header-rotated-wrapper {
	width: auto;
}
.header-rotated {
	height: 500px;
}

.ml30 {
	margin-left: 30px;
}

.mr30 {
	margin-right: 30px;
}

/* Media queries for mobile */

@media (max-width: 1000px) {
	.container-fluid {
		padding: 0px 20px;
	}
	.Title {
		max-height: 50px;
	}

	.header {
		margin: 50px 0px 40px 0px;
		display: block;
		width: 80%;
		display: inline-block;
		visibility: visible;
	}

	.directors-header {
		max-width: 80%;
	}

	.directors__teammates-container {
		gap: 20px;
	}

	.container {
		padding: 0px;
	}

	p {
		font-size: 25px;
		margin-bottom: 30px;
	}
	.Description,
	.lead {
		font-size: 20px;
	}

	.header-rotated {
		visibility: hidden;
		width: 0;
		margin: 0;
	}

	.header-rotated-wrapper {
		width: 0;
	}

	.individual-team__container {
		margin-top: 0px;
	}
}
