body {
	color: black;
}

.header {
	margin: 50px 0px 15px 0px;
	display: block;
	max-height: 45px;
	display: inline-block;
}

.team-container {
	text-align: center;
	font-family: "Roboto Condensed";
	padding-bottom: 100px;
	background-color: #fbf3f0;
}

p {
	font-family: "Roboto Condensed";
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 24px;
	margin-bottom: 45px;
}

.Title {
	margin: 130px 0px 0px 0px;
	display: block;
	max-height: 55px;
	display: inline-block;
}

.Lead {
	color: black;
	font-family: "Roboto Condensed";
	font-size: 25px;
	font-weight: 200;
	padding-bottom: 20px;
	text-align: left;
	margin-top: 0px;
	text-align: center;
}

.Description {
	color: #2047a4;
	font-family: "Roboto Condensed";
	margin: 15px 0px 0px 0px;
	font-weight: normal;
	font-size: 20px;
	line-height: 29px;
	text-align: center;
	padding-bottom: 20px;
}

.center-block {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.team-photo {
	width: 100%;
	max-width: 350px;
	border-radius: 7px;
}

.fa,
.fa:hover {
	color: white;
	height: 10px !important;
	display: inline-block;
	text-decoration: none;
}
.fa-3x {
	font-size: 30px;
}

.pic {
	filter: none;
	position: relative;
	overflow: auto;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
}

.no-padding {
	padding-left: 40;
	padding-right: 40;
}

.container-fluid {
	/*background-color: white;*/
	/*width: 900px;*/
	padding: 0px 70px;
}

.team {
	padding-bottom: 40px;
}

/* Media queries for mobile */

@media (max-width: 1000px) {
	.container-fluid {
		padding: 0px 20px;
	}
	.Title {
		max-height: 50px;
	}
	.header {
		max-height: 30px;
	}
	.container {
		padding: 0px;
	}
	.Lead {
		font-size: 20px;
	}
	p {
		font-size: 25px;
		margin-bottom: 30px;
	}
	.Description {
		font-size: 20px;
	}
}