/* Header */
.logo-header {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-img-header {
	position: absolute;
	top: 196px;
}

.logo-img {
	margin-left: 50%;
	transform: translateX(-50%);
	max-width: 100%;
}

.img-header {
	width: 100%;
	/*min-width: 800px;*/
}

.logo-two-wide-img {
	margin-left: 50%;
	transform: translateX(-50%);
}
.Description-white {
	color: var(--white);
	font-family: "Roboto", sans-serif;
	/* margin: 15px 0px 0px 0px; */
	font-weight: 200;
	font-size: 25px;
	word-wrap: break-word;

	text-align: left;
	padding-bottom: 5px;
}
.Description-green {
	color: var(--green);
	font-family: "Roboto", sans-serif;
	/* margin: 15px 0px 0px 0px; */
	font-weight: bold;
	font-size: 35px;

	margin-right: auto;
	padding-bottom: 0px;
}
/* General */
.title {
	font-family: "Source Code Pro", monospace;
	word-wrap: break-word;
	text-align: center;
	margin-top: 0;
}
p {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: var(--white);
	background-color: var(--black);
}
.filler {
	width: 100%;
	height: 30px;
}

.filler-thick {
	height: 50px;
}
/* boxes */
.venue-container {
	text-align: center;
	background-color: var(--black);
}
.container-fluid {
	padding-left: 70px;
	padding-right: 70px;
}

.container-fluid.section {
	padding: 0;
}

/* team boxes */

.venue__infoblock-container {
	display: flex;
	flex-direction: row;
	margin-top: 60px;
}

.venue__information-container {
	display: flex;
	flex-wrap: wrap;
	/* margin: auto; */
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}
.venue__stations-container {
	display: flex;
	flex-wrap: wrap;
	/* margin: auto; */
	flex-direction: row;
	justify-content: space-evenly;
	align-items: start;
}
.columnBox{
	display: flex; 
	flex-wrap: wrap; 
	flex-direction:column; 
}
.squish{
	padding-right: 10%; 
}

.venue__information-container.two_wide {
	max-width: calc(220px * 2);
}

.venue__stations-container.two_wide {
	max-width: calc(220px * 2);
}

/* .venue__information-block{
	width:50%; 
} */

.venue__info-block {
	width: auto;
	margin: 10px;
	align-items: center;
}

.venue-header {
	text-transform: uppercase;
}
.top-container {
	background-color: rgb(25, 26, 27);
	padding-bottom: 50px;
	padding-left: 65px;
	padding-right: 65px;
}

.venue-title {
	display: block;
	margin: auto;
	margin-top: 125px;
	width: 205px;
}

.venue-image {
	width: 50%;
	padding: 0px;
}

.bottom-container {
	background-color: white;
	overflow: hidden;
	padding: 0px 60px;
	display: block;
}

.small-container {
	padding: 20px 20px;
	overflow: hidden;
}

.image-container {
	padding-bottom: 30px;
}

.yellow-border {
	border-style: solid;
	border-width: 3px;
	border-color: rgb(255, 183, 24);
}

#text {
	font-family: "Josefin Sans";
	font-weight: bold;
	color: white;
	margin: 0;
}

.dir-link {
	text-decoration: underline;
	color: white;
}

.dir-link:hover {
	text-decoration: none;
	color: white;
}

.section-title {
	text-align: center;
	font-size: 20px;
	padding: 7px 0px 80px 0px;
}

.small-section-title {
	padding-bottom: 15px;
	font-size: 19px;
}

.small-section {
	font-size: 15px;
}

#light-yellow h1,
#light-yellow h2,
#light-yellow p {
	color: #dd8064;
}

@media (max-width: 1000px) {
	.venue-image {
		padding-bottom: 30px;
		width: 100%;
	}
	.top-container {
		padding-right: 5px;
		padding-left: 5px;
	}
}
