.top-container {
  background-color: rgb(221, 128, 100);
}

.venue-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.bottom-container {
  background-color: #fffff4;
  overflow: hidden;
  padding: 0px 60px;
}

.small-container {
  padding: 30px;
  overflow: hidden;
}

.image-container {
  padding-bottom: 30px;
}

.yellow-border {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(255, 183, 24);
}

h1,
h2,
p {
  font-family: 'Josefin Sans';
  font-weight: bold;
  color: white;
  margin: 0;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  text-align: center;
  font-size: 32px;
  padding: 30px;
}

h2,
p {
  font-size: 14px;
}

#light-yellow h1,
#light-yellow h2,
#light-yellow p {
  color: #dd8064;
}
